/*body,html {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}*/

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #222;
}
body {
    overflow: hidden;
    width: initial;
    min-height: initial;
    &::before {
	content: none;
    }
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #222;
    background-color: #999;    
}

.scrollablepanel {
    overflow: auto;
}

#observatorygrid {
    position: relative;
    left: 60px;
    max-width: calc(~'100% - 68px'); /* 8px left margin are accounted for by the margin of the panals inside. so we only subtract 8 pixels from the right */
    height: calc(~'100% - 8px');
    display: flex;
    flex-wrap: wrap;
}

.observatorypanel {
    float: left;
    margin: 8px 0px 0px 8px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    background: #fff;
    border-radius: 2px;
    /*overflow: hidden;*/
    overflow-x: hidden;
    overflow-y: hidden;
    
    .grid.columncount1 & { width: calc(~'100.000% - 8px'); }  /* width exludes 0px padding and 2x8px margin */
    .grid.columncount2 & { width: calc(~'50.0000% - 8px'); }
    .grid.columncount3 & { width: calc(~'33.3333% - 8px'); }
    .grid.columncount4 & { width: calc(~'25.0000% - 8px'); }
    .grid.columncount5 & { width: calc(~'20.0000% - 8px'); }
    .grid.columncount6 & { width: calc(~'16.6667% - 8px'); }
    .grid.columncount7 & { width: calc(~'14.2857% - 8px'); }
    .grid.columncount8 & { width: calc(~'12.5000% - 8px'); }
    
    .grid.rowcount1 & {height: calc(~'100.000% - 8px'); }
    .grid.rowcount2 & {height: calc(~'50.0000% - 8px'); }
    .grid.rowcount3 & {height: calc(~'33.3333% - 8px'); }
    .grid.rowcount4 & {height: calc(~'25.0000% - 8px'); }
    .grid.rowcount5 & {height: calc(~'20.0000% - 8px'); }

    .title {
	margin: 0.5em;
    }
}


#celestialcontainer {
    width: calc(~'100% - 350px');
    float: left;
}

.legend {
    width: 300px;
    float: right;

    
    span {
	width: 255px;
	margin-left: 5px;
	display: block;
	float: right;
    }
}
