html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #222;
}
body {
    width: initial;
    min-height: initial;
    &::before {
	content: none;
    }
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #222;
    background-color: #999;    
}

.mainpanel {
    position: relative;
    left: 60px;
    max-width: calc(~'100% - 68px'); /* 8px left margin are accounted for by the margin of the panals inside. so we only subtract 8 pixels from the right */
}





svg {
    display: block;
    /* floating on the left removed: looks ugly */
}

.graph-svg-component {
    background-color: AliceBlue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: #f36f21;
    stroke-width: 1.5px;
    stroke-opacity: 0.7;
}


.mediacard {
	width: 100%;
	height: 56.25vw;
}

#tablecard {
	background-color: AliceBlue;
	overflow: auto;
	white-space: nowrap;
}
.mdl-list__item {
	padding-top: inherit;
	padding-bottom: inherit;
	min-height: inherit;
}

.tstabled {
	display:inline-table;
}

.tstable {
	width: auto;
}

.tstable tr td {
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
}
