

body {
	overflow: hidden;
	width: initial;
	min-height: initial;
	&::before {
		content: none;
	}
}

html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #222;
	/*font-family: Share Tech mono, mono*/
}
body {
	/*background-image: url("/img/blackorchid2.png");*/
	/*background-repeat: repeat;*/
	background-color: #999;
}

#main {
	position: relative;
	/*overflow: hidden;*/
	left: 60px;
	max-width: calc(~'100% - 68px'); /* 8px left margin are accounted for by the margin of the panals inside. so we only subtract 8 pixels from the right */
	height: calc(~'100% - 8px');
	max-height: calc(~'100% - 8px');
	
	display: flex;
    flex-wrap: wrap;

	.card {
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
		background: #fff;
		color: black;
		border-radius: 2px;
		width: 100%;
		height: calc(~'100% - 10px');
	}

	
	.processcolumn {
		height: calc(~'100% - 8px');
		display: flex;
		flex-direction: column;
		.title {
			flex-grow: 0;
		}
		.plotarea {
			flex-grow: 1;
		}
		.head {font-weight: bold}
		
		.color1 {color: #1f77b4;}
		.color2 {color: #ff7f0e;}
		.color3 {color: #2ca02c;}
		.color4 {color: #d62728;}
		.color5 {color: #9467bd;}
		.color6 {color: #8c564b;}
		.color7 {color: #e377c2;}
		.color8 {color: #7f7f7f;}
		.color9 {color: #bcbd22;}
		.color10 {color: #17becf;}
				
		#channelnames , #bdcparams, #recorders {
			display: flex;
			flex-grow: 1;
			justify-content: space-around;
			flex-direction: column;
		}
	}
	
	.horizontal > * {
		border-right:1px solid #777;
		&:last-of-type {
			border-right: none;
		}
	}
	.vertical > * {
		border-bottom:1px solid #777;
		&:last-of-type {
			border-bottom: none;
		}
	}
	.horizontal , .vertical {
		/* position: relative; */
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: stretch;
		overflow: hidden;
		padding: 0px !important;
		& > * {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0px; /* this makes the design inflexible but it gives cell a predictable height which is necessry for overflow... */
			padding: 4px;
			&.nogrow {
				flex-grow: 0;
			}
			&.smaller {
				flex-grow: 0.5;
			}
			&.larger {
				flex-grow: 2;
			}
			&.scroll-y {
				overflow-y: auto;
			}
		}
	}
	.horizontal {
		flex-direction: row;
	}
	.vertical {
		flex-direction: column;
	}
	.vertical > *, .horizontal > * {
		padding: 4px;
	}
	.vertical,.horizontal {
		padding: 0px !important;
	}
}



/***************
       Change the sidenav from mdl to be always partially visible
****************/
.mdl-layout__drawer {
	transform: translateX(0px) !important; /* don't hide into the left margin*/
	position: absolute;
}

.drawercontainer {
	width: 56px;
	position: fixed;
	overflow: hidden;
	height: 100%;
	z-index: 5;
	transition: all 100ms linear;
	.hidewhensmall {
		opacity: 0;
		transition: all 100ms linear;
	}
	&:hover {
		width: 240px;
		.hidewhensmall {
			opacity: 100;
		}
	}
	.mdl-switch {
		flex-grow: 0;
		flex-basis: 60px;
		margin-left: -3px;
		+ span {
			color: rgba(255,255,255,0.8);
		}
	}
	.fontscale {
		flex-direction: column;
		/*padding: 16px 0px;*/
		.label {
			margin: 24px 0px 8px 0px;
			color: rgba(255,255,255,0.8);
		}
		.mdl-slider__container {
			width: 100%;
		}
	}
	.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.mdl-navigation {
		.mdl-textfield {
			width: 140px;
		}
	}
}

.mdl-layout__title {
	padding-left: 12px !important;
	.mdl-icon-toggle__label {
		color: white;
	}
	span {
		top: -4px;
		position: relative;
	}
}
.mdl-list__item {
	overflow: visible;
	margin-bottom: -20px;
	margin-top: -20px;
}

.countdownarea {
	left: 20px;
	right: initial;
}
