#sidebar {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 20%;
}

#sidebar .tag {
    color: steelblue;
}

#messages {
    float: left;
    width: 80%;
}

article.message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    display: block;
    background-color: #f6f6f6;
    padding: 10px;
    margin: 5px;
}

article.message h1 {
    font-size: 12pt;
    font-weight: bold;
    float: left;
    margin: 10px;
}

article.message time {
    font-size: 8pt;
}

article.message .tag {
    color: steelblue;
}

article.message .directive {
    color: steelblue;
}

/*
article.message.tag-nice {
    display: none;
}
*/

#messagearea {
    width: 100%;
    height: 10em;
    margin: 5px;
    padding: 0px;
}

