/* Global white space reset */
/*
* {
    margin: 0;
    padding: 0;
}

select {
    min-width: 1.5em;
} 

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address {
    margin: 1em 5%;
}

li, dd {
    margin-left: 5%;
}
*/

/* Whitespace fix for Firefox drop-down menu */
/*
fieldset {
    padding: .5em;
}
*/

html,body {
	background: #f7f7f7;
	font-family: Roboto, sans-serif;
}

h1 {
	font-family: Roboto, sans-serif;
	font-size: 34px;
	text-align: center;
	
}

.xCloseButton {
	background: #e60000;
	color: white;
	display: inline;
	padding: 0 0;
	border: 0px;
	cursor: pointer;
}



/* change the appearance of the toolbar */
.mdl-layout__header {
	box-shadow: none;
	/*display: flex;  /* disable auto hiding (stupid mdl feature) */
	background-color: #b82b2b; /* replaces default color */
}

#expandingsettings {
	height: 136px;
	box-shadow: 0 3px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 5px 5px 0 rgba(0,0,0,.12);
}


/* make the toolbar stick to the top*/
.mdl-layout__header {
	position: fixed;
}
.mdl-layout__container {
	height: initial; /* we dont want the scrolling internals behaviour but rather have the whole thing scroll with the page*/
	/* among other things, this fixes an issue on mobile devices where the addresa bar didn't auto-hide when scrolling up*/
}
.mdl-layout__content {
	margin-top: 64px;  /*reserve some space that wiill be hidden by the toolbar*/
}


/* add a stylish 150px orange area below the toolbar */
/*.mdl-layout__header::after {*/
body::before {
	position: fixed;
	width: 100%;
	height: 170px;
	background-color:  #ff5722; 
	/*z-index: 3;  necessary to go over the navbar but stay below the main content */
	content: "";
}
.mdl-layout__content {
	/* the content moves 100px back over this orange area */
	/*z-index: 4;*/
	margin-top: 100px;
}


/* theme drawer */
/* colors from https://getmdl.io/templates/dashboard/index.html */
.mdl-layout__drawer {
	position: fixed; /* dont scroll with page but stay at same position with respect to screen */
	background: #37474f;
	color: rgba(255,255,255,0.8);
	border-right: 0px;
}
.mdl-layout__drawer .mdl-layout-title {
	background: #263238;	
	height: 150px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	color: rgba(255,255,255,0.8);
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
	color: rgba(0,0,0,0.8);
}


/* styling for the user area in the navbar */
#usermenu, #accountmenu * {
	cursor: pointer;
}
.usericon {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.usernamearea {
	display: inline-block;
	line-height: 2.4em;
	/*margin-top: 16px;*/
	margin-bottom: auto 0;
	vertical-align: middle;
}
.usernamearea span {
	display: block;
	line-height: 1.2em;
}
.usernamearea .facilityname {
	text-align: right;
}

/* this style allows us to have a  */
.warnwhenempty {
	display: none;
}
.warnwhenempty:only-child {
	display: block;
}

/*/* MDL hides the entire nav but we want to maintain some items  */
/*.mdl-layout__header-row .mdl-navigation.mdl-layout--large-screen-only {
	display: flex;
}*/

/* correct the minimum width at which the nav changes because we have so many items */
@media (min-width: 1200px) {
	.mdl-layout__header .mdl-layout__drawer-button i.material-icons {
	    display: none;
	}
}
@media (max-width: 1199px) {
	.mdl-navigation a.mdl-navigation__link.mdl-layout--large-screen-only {
	    display: none;
	}
}


/* fix vertical alignment in navigation drawer */
.mdl-layout-title {
	flex-grow: 0;
}
.mdl-layout__drawer .mdl-navigation {
	flex-grow: 1;
}

/* the mdl layout resizes with the content so the default position:absolute together with height:100% make the obfuscator only as tall as the content, position: fixed solves this */
.mdl-layout__obfuscator {
	position: fixed;
}
 
/* makes sure slightly more items still fit  */
.mdl-layout__header-row .mdl-navigation__link {
	padding: 0 20px 0 0; 
}
@media screen and (max-width: 960px) {
	.mdl-layout__header-row {
		padding-left: 42px;
		padding-right: 5px;
	}
	.mdl-layout__drawer-button {
		width: 36px;
	}	
	.mdl-layout__header-row .mdl-navigation__link {
		padding: 0 5px 0 0; 
	}
}



/* fix vertical space consumed by zero-width elements that only take up space in wider layouts */
.mdl-cell--0-col-tablet, .mdl-cell--0-col-phone {
	margin: 0;
}






#title {
    font-weight: bold;
    font-size: 18pt;
    float: right;
}

#userid {
    font-size: 10pt;
    line-height: 25px;
    float: right;
}


div#tables {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

table {
	table-layout: fixed; /*don't allow tables to grow horizontally*/
    margin: 5px;
    /*float: left;*/
    width: 350px;
	border-spacing: 1px;
	font-family:Arial, Helvetica, sans-serif;
	color: black;
	font-size:12px;
/*	text-shadow: 1px 1px 0px #fff;*/
	background:#eaebec;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

table img {
	width: 344px;
}

/* the whole cell is a link, not just the text */
table tr a {
    display: block;
    padding: 1px 1px;
}

/* link style in table */
table tr a:link,
table tr a:visited {
	color: black;
	text-decoration: none;
}
table tr a:active,
table tr a:hover {
	text-decoration: underline;
}
table tr th a:link,
table tr th a:visited {
	font-weight: bold;
}

table tbody.summary tr.datarow {
	display: table-row;
}

table tr.datarow {
	/*display: none;*/
}


/*table tr td.good {
    background: #99ff99;
}
table tr td.bad {
    background: #ff9999;
}

table td.true {
    color: #00cc66;
}
table td.false {
    color: #c00000;
}*/

table tr.good td {
	/*background-color: #fff;*/
	/*color: ; /*normal color*/
	/*background: -webkit-gradient(linear, left top, left bottom, from(#00ff00), to(#00ee00));*/
	/*background: -moz-linear-gradient(top,  #00ff00,  #00ee00);*/
}
table tr.bad td {
	background-color: #ffbb00;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#ffbb00), to(#dd9900));*/
	/*background: -moz-linear-gradient(top,  #ffbb00,  #dd9900);*/

}
table tr.missing td {
	/*background-color: #f00;*/
	/*background: -webkit-gradient(linear, left top, left bottom, from(#00ff00), to(#00ee00));*/
	/*background: -moz-linear-gradient(top,  #00ff00,  #00ee00);*/
}
table tr.outdated td {
	/*background-color: #fff;*/
	color: #999;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#00ff00), to(#00ee00));*/
	/*background: -moz-linear-gradient(top,  #00ff00,  #00ee00);*/
}

table tr.bad.outdated td {
	background-color: #ffee99;
}

/*table.metadata {
    max-width: 100%;
    white-space: nowrap;
}
*/
table tbody.groupbody th {
	cursor: pointer;
}

table th {
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

table th:first-child {
	text-align: center;
}

table th.rightmostcolumn {
	text-align: right;
	width: 30px;
}

table tr {
	text-align: center;
}

table td:first-child {
	text-align: left;
	border-left: 0;
}

table td {
	border: 0px;
	padding: 0px;

	background: #fafafa;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));*/
	/*background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);*/

	word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

/*table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
*/
table tr:last-child td {
	border-bottom:0;
}


/* round corners */
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}


table tr:hover td {
	background: #f2f2f2;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));*/
	/*background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	*/
}


table tr.level1 .paramname {text-indent: 0ex;}
table tr.level2 .paramname {text-indent: 1ex;}
table tr.level3 .paramname {text-indent: 2ex;}
table tr.level4 .paramname {text-indent: 3ex;}
table tr.level5 .paramname {text-indent: 4ex;}

table tr .paramname.expandable {
	/*cursor: pointer;*/
}

.map_container {
	position: relative; /* such that absolute children are relative to this one */
}

.map_image {
	position: relative;
	height: 215px;
}

.map_crosshair {
	display: none; 
	position: absolute;
	/*left: 10px;
	top: 10px;*/
	width: 200px;
	height: 200px;
	margin-left: -100px;
	margin-top: -100px;
	background-image: url("/img/crosshair2.png");
	background-size: 200px 200px; 
	/*this makes it transparent for clicks and hover actions: (at least on modern browsers) */
	pointer-events: none;
}

.card {
	padding: 14px 24px 14px ;
	margin: 10px;
	color: #ffffff;
	background-color:  #2196F3;
	/*background-color: rgb(255, 255, 255);*/
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	border-radius: 2px;
	z-index: 1;
}


td.paramvalue {
	position: relative; /* is default but by setting it hovertools are absolute with respect to this element*/
}

table tr .hovertool {
	/*opacity: 0;*/
	position: absolute; /* with respect to first ancestor that has position!=default */
	/*float: right;*/
	display: none;
	right: 0px;
	top: 0px;
	height: 18px;
	width: 18px;
	background-size: 18px 18px;
}

.hovertool.graph {
	background-image: url("/img/ic_show_chart_black_24dp_1x.png");
	right: 18px;
}

.hovertool.table {
	background-image: url("/img/ic_list_black_24dp_1x.png");
}

tr:hover .hovertool {
	opacity: 0.5;
	display: block;
}

tr:hover .hovertool:hover {
	opacity: 1.0;
}


.horizon_div {
	height: 150px !important;
	overflow: hidden;
}



tbody.updates tr {
	display: none;
}
tbody.updates tr.groupheader {
	display: table-row;
}

.wholecolumns {
	position: relative;
	left: 3px;
    margin: 0 auto;
    
}

/* six column and up */
@media screen and (min-width: 2126px) {
	.wholecolumns {
		width: 2134px;	
	}
}
/* five column */
@media screen and (min-width: 1771px) and (max-width: 2125px) {
	.wholecolumns {
		width: 1779px;	
	}
}
/* four column */
@media screen and (min-width: 1416px) and (max-width: 1770px) {
	.wholecolumns {
		width: 1424px;	
	}
}
/* three column */
@media screen and (min-width: 1062px) and (max-width: 1415px) {
	.wholecolumns {
		width: 1070px;	
	}
}
/* two column */
@media screen and (min-width: 708px) and (max-width: 1061px) {
	.wholecolumns {
		width: 714px;	
	}
}
/* single column */
@media screen and (max-width: 707px) {
	.wholecolumns {
		width: 359px;	
	}
}



.countdownarea {
	bottom:25px;
	/*top: 45px;*/
	right: 20px;
	z-index: 5;
	position: fixed;
}

.countdownarea button {
	box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
	              0px 4px 12px -7px rgba(0, 0, 0, 0.15);
	display: block;
	margin: 20px auto 0;
	position: relative;
	-webkit-transition: all .1s ease-out;
	        transition: all .1s ease-out;
}


.countdownarea button:active, 
.countdownarea button:focus, 
.countdownarea button:hover {
	box-shadow: 0 0 4px rgba(0,0,0,.14),
    	0 4px 8px rgba(0,0,0,.28);
}


.countdownarea button.timebutton , .countdownarea button.refreshbutton {
	opacity: 0;
}

.countdownarea button.timebutton { /* refreshbutton not shifted for it will obscure the mouseoverevent on the main button */
  	-webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    margin: 15px auto 0;
    cursor: auto;
}

/* prevent pointer events on hidden buttons */
.countdownarea:not(.expanded), .countdownarea:not(.expanded) button.refreshbutton, .countdownarea:not(.expanded) button.timebutton {
	pointer-events: none;
}
.countdownarea .countdownbutton {
	pointer-events: initial;	
}


/* change the orientation of the buttons to horizontal on small landscape devices */
@media screen and (orientation:landscape) and (max-width: 960px)  { 
	.countdownarea button {
		display: inline;
		margin: 20px 0 0 20px;
	}
	.countdownarea button.timebutton { 
	    margin: 15px 0 0 15px;
	}
}



/* the other buttons can be shown by hovering the counter(expanded class is added in js), or they can be made permanently visible by clicking it */
.countdownarea.expanded button.timebutton , .countdownarea.permanentlyexpanded button.timebutton,
.countdownarea.expanded button.refreshbutton , .countdownarea.permanentlyexpanded button.refreshbutton {
  	opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    cursor: pointer;
}

button.countdownbutton.mdl-button.mdl-button--fab {
	background-color: #b82b22;
	/*font-size: 13pt;*/
}
button.refreshbutton.mdl-button.mdl-button--fab {
	background-color: orange;
}

.countdownarea button.timebutton.mdl-button.mdl-button--fab {
	background: #ccc;
	font-size: 13pt;
}

button.timebutton.timebutton.mdl-button.mdl-button--fab.active {
	background: orange;
}
