html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #222;
}
body {
    overflow: hidden;
    width: initial;
    min-height: initial;
    &::before {
	content: none;
    }
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #222;
    background-color: #999;    
}

#observatorygrid {
    position: relative;
    left: 60px;
    max-width: calc(~'100% - 68px'); /* 8px left margin are accounted for by the margin of the panals inside. so we only subtract 8 pixels from the right */
    height: calc(~'100% - 8px');
    display: flex;
    flex-wrap: wrap;
}

.observatorypanel {
    float: left;
    margin: 8px 0px 0px 8px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    background: #fff;
    border-radius: 2px;
    /*overflow: hidden;*/
    overflow-x: hidden;
    overflow-y: auto;
    
    .grid.columncount1 & { width: calc(~'100.000% - 8px'); }  /* width exludes 0px padding and 2x8px margin */
    .grid.columncount2 & { width: calc(~'50.0000% - 8px'); }
    .grid.columncount3 & { width: calc(~'33.3333% - 8px'); }
    .grid.columncount4 & { width: calc(~'25.0000% - 8px'); }
    .grid.columncount5 & { width: calc(~'20.0000% - 8px'); }
    .grid.columncount6 & { width: calc(~'16.6667% - 8px'); }
    .grid.columncount7 & { width: calc(~'14.2857% - 8px'); }
    .grid.columncount8 & { width: calc(~'12.5000% - 8px'); }
    
    .grid.rowcount1 & {height: calc(~'100.000% - 8px'); }
    .grid.rowcount2 & {height: calc(~'50.0000% - 8px'); }
    .grid.rowcount3 & {height: calc(~'33.3333% - 8px'); }
    .grid.rowcount4 & {height: calc(~'25.0000% - 8px'); }
    .grid.rowcount5 & {height: calc(~'20.0000% - 8px'); }

    .title {
	margin: 0.5em;
    }
}


.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

.night {
    stroke: steelblue;
    fill: black;
    fill-opacity: .5;
}

/*.source {
    stroke: yellow;
    fill: yellow;
    fill-opacity: .1;
}*/

.graticule {
    fill: none;
    stroke: #999;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.land {
    fill: #000000;
    opacity: 0.8;
    stroke: steelblue;
}


.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}



svg {
    background: #555;
    display: block;
    margin: 0 auto;
}

svg .observatoryname, .legendbaselinetext {
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-anchor: center;
}

svg .legendbaselinetext {
	fill: #999;
}

.clock {
	position: absolute;
	color: #eee;
	right: 20px;
	bottom: 30px;
	.time {
		font-size: 280% /*190%*/;
		line-height: 95%;
	}
	.date {
		font-size: 150%;
	}
}


svg .target {
    z-index: 5;
}


svg .baseline, svg .legendbaseline {

    stroke-width: 2;
	/*stroke: #777777;*/
	&.active {
		stroke: #00ff00;
	}
	&.inactive {
		stroke: #777777;
	}
}




svg .observatory, svg .legendobs {
	&.good {
		&.active {
			fill: #00ff00;
		}
		&.inactive {
			fill: #44bb44;
		}
	}
	&.bad {
		&.active {
			fill: #ff0000;
		}
		&.inactive {
			fill: #CC6666;
		}
	}
}
