
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #222;
}
body {
    overflow: hidden;
    width: initial;
    min-height: initial;
    &::before {
	content: none;
    }
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #222;
    background-color: #999;    
}

.scrollablepanel {
    overflow: auto;
}

#observatorygrid {
    position: relative;
    left: 60px;
    max-width: calc(~'100% - 68px'); /* 8px left margin are accounted for by the margin of the panals inside. so we only subtract 8 pixels from the right */
    height: calc(~'100% - 8px');
    display: flex;
    flex-wrap: wrap;
}

.observatorypanel {
    float: left;
    margin: 8px 0px 0px 8px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    background: #fff;
    border-radius: 2px;
    /*overflow: hidden;*/
    overflow-x: hidden;
    overflow-y: auto;
    
    .grid.columncount1 & { width: calc(~'100.000% - 8px'); }  /* width exludes 0px padding and 2x8px margin */
    .grid.columncount2 & { width: calc(~'50.0000% - 8px'); }
    .grid.columncount3 & { width: calc(~'33.3333% - 8px'); }
    .grid.columncount4 & { width: calc(~'25.0000% - 8px'); }
    .grid.columncount5 & { width: calc(~'20.0000% - 8px'); }
    .grid.columncount6 & { width: calc(~'16.6667% - 8px'); }
    .grid.columncount7 & { width: calc(~'14.2857% - 8px'); }
    .grid.columncount8 & { width: calc(~'12.5000% - 8px'); }
    
    .grid.rowcount1 & {height: calc(~'100.000% - 8px'); }
    .grid.rowcount2 & {height: calc(~'50.0000% - 8px'); }
    .grid.rowcount3 & {height: calc(~'33.3333% - 8px'); }
    .grid.rowcount4 & {height: calc(~'25.0000% - 8px'); }
    .grid.rowcount5 & {height: calc(~'20.0000% - 8px'); }

    .title {
	margin: 0.5em;
    }
}



/* styling of matrix */
.matrix {
    overflow: auto;
    height: calc(~'100% - 40px');
}
.matrixhead .cell {
    font-weight: 700;
}
.group {
    display: block;
}
.row {
    display: flex;
}
.cell, .namecell {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eee;
    
}
.cell {
    width: 170px;
    /*text-align: right;*/
}
.namecell {
    width: 230px;	
    font-weight: 700;
    margin-left: 18px;
}


/* stule the small triangle in the margin of each row */
i.treesymbol {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    cursor: pointer;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.collapsed i.treesymbol {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
.group.endnode i.treesymbol {
    display: none;
}
.group {
    position: relative;	
}

.group.collapsed > .group {
    display: none;
}


/* overlay for links to tables and graphs */
.cell .value, .cell .unit, .cell .time {
    display: inline-block;
}
.cell {
    position: relative;
}
.cell a.graphlink, .cell a.tablelink {
    display: none;
    position: absolute;
    top:0;
    right:0;
    color: gray;
}
.row:hover .cell a.graphlink,.row:hover .cell a.tablelink {
    display: block;
}
.cell a.graphlink i, .cell a.tablelink i {
    font-size: 18px;
}
.cell a.graphlink {
    margin-right: 16px;
}



/* colors for outdated and out-of-range values */	
.cell.invalid {
    color: #ff0000;
}
.cell.outdated {
    color: #ccc;
}
.cell.invalid.outdated {
    color: #ffaaaa;
}


