/***************
 Change the sidenav from mdl to be always partially visible
****************/
.mdl-layout__drawer {
    transform: translateX(0px) !important; /* don't hide into the left margin*/
    position: absolute;
}

.drawercontainer {
    width: 56px;
    position: fixed;
    overflow: hidden;
    height: 100%;
    z-index: 5;
    transition: all 100ms linear;
    .hidewhensmall {
	opacity: 0;
	transition: all 100ms linear;
    }
    &:hover {
	width: 240px;
	.hidewhensmall {
	    opacity: 100;
	}
    }
    .mdl-switch {
	flex-grow: 0;
	flex-basis: 60px;
	margin-left: -3px;
	+ span {
	    color: rgba(255,255,255,0.8);
	}
    }
    .fontscale {
	flex-direction: column;
	/*padding: 16px 0px;*/
	.label {
	    margin: 24px 0px 8px 0px;
	    color: rgba(255,255,255,0.8);
	}
	.mdl-slider__container {
	    width: 100%;
	}
    }
    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	padding-top: 8px;
	padding-bottom: 8px;
    }
}
.mdl-layout__title {
    padding-left: 12px !important;
    .mdl-icon-toggle__label {
	color: white;
    }
    span {
	top: -4px;
	position: relative;
    }
}
.mdl-layout__drawer .mdl-list__item {
    overflow: visible;
    /*margin-bottom: -30px;*/
    margin-top: -1em;
    padding-top: 0em;
    padding-bottom: 0em;
}
.mdl-textfield {
    width: 160px;
}
