html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #222;
}
body {
    overflow: hidden;
    width: initial;
    min-height: initial;
    &::before {
	content: none;
    }
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #222;
    background-color: #999;    
}

.scrollablepanel {
    overflow: auto;
}

#observatorygrid {
    position: relative;
    left: 60px;
    max-width: calc(~'100% - 68px'); /* 8px left margin are accounted for by the margin of the panals inside. so we only subtract 8 pixels from the right */
    height: calc(~'100% - 8px');
    display: flex;
    flex-wrap: wrap;
}

.observatorypanel {
    float: left;
    margin: 8px 0px 0px 8px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    background: #fff;
    border-radius: 2px;
    /*overflow: hidden;*/
    overflow-x: hidden;
    overflow-y: auto;
    
    .grid.columncount1 & { width: calc(~'100.000% - 8px'); }  /* width exludes 0px padding and 2x8px margin */
    .grid.columncount2 & { width: calc(~'50.0000% - 8px'); }
    .grid.columncount3 & { width: calc(~'33.3333% - 8px'); }
    .grid.columncount4 & { width: calc(~'25.0000% - 8px'); }
    .grid.columncount5 & { width: calc(~'20.0000% - 8px'); }
    .grid.columncount6 & { width: calc(~'16.6667% - 8px'); }
    .grid.columncount7 & { width: calc(~'14.2857% - 8px'); }
    .grid.columncount8 & { width: calc(~'12.5000% - 8px'); }
    
    .grid.rowcount1 & {height: calc(~'100.000% - 8px'); }
    .grid.rowcount2 & {height: calc(~'50.0000% - 8px'); }
    .grid.rowcount3 & {height: calc(~'33.3333% - 8px'); }
    .grid.rowcount4 & {height: calc(~'25.0000% - 8px'); }
    .grid.rowcount5 & {height: calc(~'20.0000% - 8px'); }

    .title {
	margin: 0.5em;
    }
}







#sidebar {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 20%;
}

#sidebar .tag {
    color: steelblue;
}

#messages {
    float: left;
    width: 80%;
    /*height: calc(100% - 137px);*/
    /*overflow-y: scroll;*/
}


#messagearea {
    width: calc(100% - 31px);
    height: 50px;
    margin: 0px 15px;
    padding: 0px;
}



article.message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    display: block;
    background-color: #fff;
    padding: 4px;
    margin: 0px 8px 8px 15px;
    border-radius: 3px;
}


article.message header {
    /*font-size: 9pt;*/
    color: #bbb;
}

article.message .messagebody {
    margin: 0px;
    font-size: 10pt;
    line-height: initial;
}

article.message span.username {
    /*font-size: 12pt;*/
    color: #111;
    font-weight: bold;
}

/*article.message span.facility {
    color: #bbb;
}

article.message time.recvtime {
    color: #bbb;
}
*/
article.message .tag {
    color: steelblue;
}

article.message .directive {
    color: steelblue;
}

/*
article.message.tag-nice {
    display: none;
}
*/

.warningcontainer {
    /*position: fixed;*/
    right: 16px;
    width: calc(-32px + 100%);	
}

.warning {
    background-color: orange;
    min-height: 0;
    width: 100%;		
    margin: 0px 16px 5px 16px;
    display: none;
}

.warning .mdl-card__supporting-text {
    color: white;
    padding: 4px;
}
.warning .material-icons {
    position: relative; 
    top: 1px; 
    margin-right: 8px;
    margin-left: 10px;
    float: left; 
    font-size: 12pt;
}
