
body {
	overflow: hidden;
}
.validitycell {
	background-color: white;
}

span.datacell {
	& > a {
		color: inherit;
		text-decoration: inherit;
	}
	& > a:hover {
		text-decoration: underline;
	}
}

.outdated {
	color: rgba(0,0,0,0.3);
	/*color: gray;*/

}
.missing {
	/*background-color: orange;*/
	/*background-color: #EC6500;*/
	/*background-color: */
	/*border: 5px solid orange  !important;*/
}
.warning {
	/*background-color: orange;*/
	/*background-color: #EC6500;*/
	background-color: gold;
}
.error {
	/*background-color: #be311a;*/
	background-color: #ff7d66;
	/*border: 5px solid red !important;*/
}
.error .tooltiptext {
	display: none;
    /* visibility: hidden; */
    background-color: black;
    color: white;
    position: absolute;
	text-align: left;
}
.error:hover .tooltiptext {
	display: block;
    /* visibility: visible; */
}

/* this is a "mixin". Think of it as a css function */
.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

/*body {
	.gradient(#333, #222);
}
*/
/* undo some previously set styles */
body {
	width: initial;
	min-height: initial;
	&::before {
		content: none;
	}
}

#initialspinner {
	position: absolute;
	left: calc(~'50% - 14px');
	top: calc(~'50% - 14px');
}

#updatespinner {
	position: absolute;
	left: 20px;
    bottom: 25px;
    z-index: 50;
    width: 56px;
    height: 56px;
	&.mdl-spinner--single-color .mdl-spinner__layer-1,
	&.mdl-spinner--single-color .mdl-spinner__layer-2,
	&.mdl-spinner--single-color .mdl-spinner__layer-3,
	&.mdl-spinner--single-color .mdl-spinner__layer-4 {
	    border-color: white;
	}
}

.innertable {
	display:grid;
	grid-auto-flow: row;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 5px;

	.rowname {
		grid-column-start: 1;
	}

	.datacell {
		word-wrap: break-word;
		word-break: break-all;
	}
}


/* style messages */
#statusmessage,#weathermessage {
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

img.plot {
    width: 100%;
    height: auto;
}
.weathermap {
	/*background-image: url(...);*/
	background-size: cover;
	position: absolute;
	/*background-position: center;*/
	background-repeat: no-repeat;
	/*height: calc(~'100% - 8px');  there is a 4px padding on the container */
	/*width: calc(~'100% - 8px');*/
	width: 100%;
	height: 100%;
}
.map_container {
	padding: 0px !important;
	text-align: initial;
}
div.horizon {
	overflow: hidden;
}
.observatoryname {
	font-size: 200%;
	line-height: 110%;
	font-weight: bold;
}

/* the grid system: */
.observatorypanel {
	float: left;
	margin: 8px 0px 0px 8px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
	background: #fff;
    border-radius: 2px;
    overflow: hidden;

	.grid.columncount1 & { width: calc(~'100.000% - 8px'); }  /* width exludes 0px padding and 2x8px margin */
	.grid.columncount2 & { width: calc(~'50.0000% - 8px'); }
	.grid.columncount3 & { width: calc(~'33.3333% - 8px'); }
	.grid.columncount4 & { width: calc(~'25.0000% - 8px'); }
	.grid.columncount5 & { width: calc(~'20.0000% - 8px'); }
	.grid.columncount6 & { width: calc(~'16.6667% - 8px'); }
	.grid.columncount7 & { width: calc(~'14.2857% - 8px'); }
	.grid.columncount8 & { width: calc(~'12.5000% - 8px'); }

	.grid.rowcount1 & {height: calc(~'100.000% - 8px'); }
	.grid.rowcount2 & {height: calc(~'50.0000% - 8px'); }
	.grid.rowcount3 & {height: calc(~'33.3333% - 8px'); }
	.grid.rowcount4 & {height: calc(~'25.0000% - 8px'); }
	.grid.rowcount5 & {height: calc(~'20.0000% - 8px'); }

}
.fgunit {
	white-space:nowrap;
}

/* make everything stretch to page */
html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #222;
	/*font-family: Share Tech mono, mono*/
}
body {
	/*background-image: url("/img/blackorchid2.png");*/
	/*background-repeat: repeat;*/
	background-color: #999;
}
#observatorygrid {
	position: relative;
	left: 60px;
	max-width: calc(~'100% - 68px'); /* 8px left margin are accounted for by the margin of the panals inside. so we only subtract 8 pixels from the right */
	height: calc(~'100% - 8px');
	display: flex;
    flex-wrap: wrap;

}

/* layout inside observatory panels */
.observatorypanel {
	/*height: calc(~'50% - 24px');*/
	/*height: 100%;*/
	.telescopetemplate,.schedule {
		min-height: 100%;
	}
	.title {
		font-size: 120%;
		font-weight: bold;
	}
	.horizontal > * {
		border-right:1px solid #777;
		&:last-of-type {
			border-right: none;
		}
	}
	.vertical > * {
		border-bottom:1px solid #777;
		&:last-of-type {
			border-bottom: none;
		}
	}
	.horizontal , .vertical {
		/* position: relative; */
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: stretch;
		overflow: hidden;
		padding: 0px !important;
		& > * {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0px; /* this makes the design inflexible but it gives cell a predictable height which is necessry for overflow... */
			padding: 4px;
			&.nogrow {
				flex-grow: 0;
			}
			&.smaller {
				flex-grow: 0.5;
			}
			&.larger {
				flex-grow: 2;
			}
			&.scroll-y {
				overflow-y: auto;
			}
		}
	}
	.horizontal {
		flex-direction: row;
	}
	.vertical {
		flex-direction: column;
	}
	text-align: left;
/*
	text-align: center;
	& > *:not(.horizontal) > .horizontal > *:not(.horizontal):last-child {
		text-align: right;
	}
	& > *:not(.horizontal) > .horizontal > *:not(.horizontal):first-child {
		text-align: left;
	}
*/
	.vertical > *, .horizontal > * {
		padding: 4px;
	}
	.vertical,.horizontal {
		padding: 0px !important;
	}

	/** {
		text-align: left !important;
	}*/
}

.schedule {
	background-color: LightCyan;

	.scans .title {
		text-align: left;
	}
	.experiment {
		text-align: center;
	}

	.field {
		text-align: right;
		margin-bottom: 5px;
	}
	.label {
	    text-align: left;
	    color: #aaa;
	    line-height: 70%;
	    font-size: smaller;
	}
	.activity {
		text-align: center;
		vertical-align: center;
		&.active {
			background-color: green;
			&::before {
				font-weight: bold;
				content: "IN PROGRESS";
			}
		}
	}
}

#progresspanel {
	overflow-y: auto;
}
.progress {
	padding: 0.3em;
	.row {
		display: flex;
		&.active {
			background-color: #e0ffff;
		}
		&.future {
			color: #777;
		}
		&.future, &.active {
			.station {
				&.bad, &.good {
					background-color: initial;
				}
			}
		}
	}
	.time {
		flex-grow: 1;
	}
	.station {
		flex-grow: 0;
		width: 2em;
		text-align: center;
		* {
			background-color: #ccc; /* for 0 or unknown*/
		}
		.rating-1star {
            background-color: #f77;
        }
        .rating-2star {
            background-color: #fc7;
        }
		.rating-3star {
            background-color: #ff7;
        }
		.rating-4star {
            background-color: #cf7;
        }
		.rating-5star {
			background-color: #8f7;
		}
        
	}
}

.tstabled {
	display:inline-table;
}
.tstable {
	width: auto;
}
.tstable tr td {
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
}

.countdownarea {
	left: 20px;
	right: initial;
}
