
.validitycell {
	background-color: white;
}

span.datacell {
	& > a {
		color: inherit;
		text-decoration: inherit;
	}
	& > a:hover {
		text-decoration: underline;
	}
}

.outdated {
	color: rgba(0,0,0,0.3);
	/*color: gray;*/

}
.missing {
	/*background-color: orange;*/
	/*background-color: #EC6500;*/
	/*background-color: */
	/*border: 5px solid orange  !important;*/
}
.warning {
	/*background-color: orange;*/
	/*background-color: #EC6500;*/
	background-color: gold;
}
.error {
	/*background-color: #be311a;*/
	background-color: #ff7d66;
	/*border: 5px solid red !important;*/
}
.error .tooltiptext {
	display: none;
	/* visibility: hidden; */
	background-color: black;
	color: white;
	position: absolute;
	text-align: left;
}
.error:hover .tooltiptext {
	display: block;
	/* visibility: visible; */
}

/* this is a "mixin". Think of it as a css function */
.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

/*body {
       .gradient(#333, #222);
       }
*/

#initialspinner {
	position: absolute;
	left: calc(~'50% - 14px');
	top: calc(~'50% - 14px');
}

#updatespinner {
	position: absolute;
	left: 20px;
	bottom: 25px;
	z-index: 50;
	width: 56px;
	height: 56px;
	&.mdl-spinner--single-color .mdl-spinner__layer-1,
	&.mdl-spinner--single-color .mdl-spinner__layer-2,
	&.mdl-spinner--single-color .mdl-spinner__layer-3,
	&.mdl-spinner--single-color .mdl-spinner__layer-4 {
		border-color: white;
	}
}

.innertable {
	display:grid;
	grid-auto-flow: row;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 5px;

	.rowname {
		grid-column-start: 1;
	}

	.datacell {
		word-wrap: break-word;
		word-break: break-all;
	}
}


/* style messages */
#statusmessage,#weathermessage {
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

img.plot {
	width: 100%;
	height: auto;
}
.weathermap {
	/*background-image: url(...);*/
	background-size: cover;
	position: absolute;
	/*background-position: center;*/
	background-repeat: no-repeat;
	/*height: calc(~'100% - 8px');  there is a 4px padding on the container */
	/*width: calc(~'100% - 8px');*/
	width: 100%;
	height: 100%;
}
.map_container {
	padding: 0px !important;
	text-align: initial;
}
div.horizon {
	overflow: hidden;
}
.observatoryname {
	font-size: 200%;
	line-height: 110%;
	font-weight: bold;
}

/* the grid system: */
.logentry {
	/*float: left;*/
	margin: 8px 0px 0px 8px;
	&.scan {
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
		background: #aaa;
		border-radius: 2px;
	}

	&.break {
		width: auto;
		padding: 0 24px;
		display: block;

		.header {
			display: flex;
			margin-bottom: -10px;
			margin-top: -10px;
			& > div {
				flex-basis: 0;
				flex-grow: 1;
				margin: 0px 10px;
				&.left {
					display:flex;
					justify-content: flex-end;
					align-items: center;
				}
				&.right {
					display:flex;
					justify-content: flex-start;
					align-items: center;
				}
			}
		}
		.columns {
			display:flex;
		
			.msgbox {
				flex-grow: 1;
				flex-basis: 0;
				box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
				background: #fff;
				border-radius: 2px;
				margin-right: 20px;
				margin-left: 20px;
			}
		}
	}

	&.active {
		background: #fff;
	}
	/*overflow: hidden;*/
	width: calc(~'100.000% - 8px');

	.message {
		
		&.pending {
			color: #777;
		}

		.overruled {
			text-decoration: line-through;
			color: #777;
		}
	}
	
	.commentable {
		.field {
			float:left;
		}
		.comment {
			color: #777;
			display: block;
			padding: 0 10px;
			overflow: hidden; /* I don't understand why this is necessary but otherwise it wraps to the next line.*/
			input {
				width: 100%;
			}
		}
		
		width: 100%;
		
	}
}
.fgunit {
	white-space:nowrap;
}



body {
	/* undo some previously set styles */
	width: initial;
	&::before {
		content: none;
	}
	/* make everything stretch to page */
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	color: #222;
	background-color: #999;
}

html {
	height: 100%;
	/*font-family: Share Tech mono, mono*/
}
#scanlogtable {
	position: relative;
	left: 60px;
	max-width: calc(~'100% - 68px'); /* 8px left margin are accounted for by the margin of the panals inside. so we only subtract 8 pixels from the right */
	height: calc(~'100% - 8px');
	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;*/
}

#scantable {
	position: relative;
	left: 6px;
	max-width: calc(~'100% - 68px');
/*display: flex;
		   flex-wrap: wrap;*/
}

/* layout inside observatory panels */
.scan, .break {
	/*height: calc(~'50% - 24px');*/
	/*height: 100%;*/
	.title {
		font-size: 120%;
		font-weight: bold;
	}
	.horizontal > * {
		border-right:1px solid #777;
		&:last-of-type {
			border-right: none;
		}
	}
	.vertical > * {
		border-bottom:1px solid #777;
		&:last-of-type {
			border-bottom: none;
		}
	}
	.horizontal , .vertical {
		/* position: relative; */
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: stretch;
		overflow: hidden;
		padding: 0px !important;
		& > * {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0px; /* this makes the design inflexible but it gives cell a predictable height which is necessry for overflow... */
			padding: 4px;
			&.nogrow {
				flex-grow: 0;
			}
			&.smaller {
				flex-grow: 0.5;
			}
			&.larger {
				flex-grow: 2;
			}
			&.scroll-y {
				overflow-y: auto;
			}
		}
	}
	.horizontal {
		flex-direction: row;
	}
	.vertical {
		flex-direction: column;
	}
	text-align: left;
	/*
		   text-align: center;
		   & > *:not(.horizontal) > .horizontal > *:not(.horizontal):last-child {
		   text-align: right;
		   }
		   & > *:not(.horizontal) > .horizontal > *:not(.horizontal):first-child {
		   text-align: left;
		   }
   */
	.vertical > *, .horizontal > * {
		padding: 4px;
	}
	.vertical,.horizontal {
		padding: 0px !important;
	}

/** {
		   text-align: left !important;
		   }*/
}

.schedule {
	background-color: LightCyan;

	.scans .title {
		text-align: left;
	}
	.experiment {
		text-align: center;
	}

	.field {
		text-align: right;
		margin-bottom: 5px;
	}
	.label {
		text-align: left;
		color: #aaa;
		line-height: 70%;
		font-size: smaller;
	}
	.activity {
		text-align: center;
		vertical-align: center;
		&.active {
			background-color: green;
			&::before {
				font-weight: bold;
				content: "IN PROGRESS";
			}
		}
	}
}

.tstabled {
	display:inline-table;
}
.tstable {
	width: auto;
}
.tstable tr td {
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
}



/***************
       Change the sidenav from mdl to be always partially visible
****************/
.mdl-layout__drawer {
	transform: translateX(0px) !important; /* don't hide into the left margin*/
	position: absolute;
}

.drawercontainer {
	width: 56px;
	position: fixed;
	overflow: hidden;
	height: 100%;
	z-index: 5;
	transition: all 100ms linear;
	.hidewhensmall {
		opacity: 0;
		transition: all 100ms linear;
	}
	&:hover {
		width: 240px;
		.hidewhensmall {
			opacity: 100;
		}
	}
	.mdl-switch {
		flex-grow: 0;
		flex-basis: 60px;
		margin-left: -3px;
		+ span {
			color: rgba(255,255,255,0.8);
		}
	}
	.fontscale {
		flex-direction: column;
		/*padding: 16px 0px;*/
		.label {
			margin: 24px 0px 8px 0px;
			color: rgba(255,255,255,0.8);
		}
		.mdl-slider__container {
			width: 100%;
		}
	}
	.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.mdl-navigation {
		.mdl-textfield {
			width: 140px;
		}
	}
}
.mdl-layout__title {
	padding-left: 12px !important;
	.mdl-icon-toggle__label {
		color: white;
	}
	span {
		top: -4px;
		position: relative;
	}
}
.mdl-list__item {
	overflow: visible;
	margin-bottom: -20px;
	margin-top: -20px;
}

.countdownarea {
	left: 20px;
	right: initial;
}


/* some patches to reply inputs in log */
.obsreply {
	.mdl-button, .mdl-textfield {
		padding-bottom: 0;
		margin-top: -10px;
		.mdl-textfield__label::after {
			bottom: 0;
		}
	}
}

.star {
	cursor: pointer;
}

form {
	&.col1, &.col2, &.col4 {
		display: inline-block;
		margin-right: 5px;
		float:left;
		button {
			right: 0px;
			top: 24px;
		}
		.mdl-textfield {
			width: 100%;
		}
	}
	&.col1 {
		width: calc(~'25% - 5px');
	}
	&.col2 {
		width: calc(~'50% - 5px');
	}
	&.col4 {
		width: calc(~'100% - 5px');
	}
}

.break {
	.mdl-textfield.time {
		width: 150px;
	}
	.plain {
		width: calc(~'100% - 156px');
		display: inline-block;
		.mdl-textfield {
			width: 100%;
		}
		button {
			right: 0px;
			top: 24px;
		}
		
	}
}

.download {
	/*margin-top: 40px;*/
	display: flex;
	justify-content: center;
	* {
		margin: 40px;
	}
}

#nowmarker {
	height: 2px;
	background-color: #b82b22;
	position: absolute;
	width: 100%;

	.label {
		background: #b82b22;
		color: rgba(255,255,255, 250);
		padding: 1px 10px;
		position: absolute;
		right: 0px;
		top: -20px;
		height: 40px;
		&:before {
			content: '';
			width: 0;
			height: 0;
			border-top: 21px solid transparent;
			border-right: 40px solid #b82b22;
			border-bottom: 21px solid transparent;
			position: absolute;
			left: -40px;
			top: 0px;
		}
	}
}

#scrolltonow {
	position: fixed;
	z-index: 5;
	right: 20px;
	bottom: 20px;
}
