/* Global white space reset */
/*
* {
    margin: 0;
    padding: 0;
}

select {
    min-width: 1.5em;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address {
    margin: 1em 5%;
}

li, dd {
    margin-left: 5%;
}
*/

/* Whitespace fix for Firefox drop-down menu */
/*
fieldset {
    padding: .5em;
}
*/

.xCloseButton {
	background: #e60000;
	color: white;
	display: inline;
	padding: 0 0;
	border: 0px;
	cursor: pointer;
}

/* Begin of regular styling */
nav {
    width: 100%;
    height: 72px;
}

nav ul {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ededed;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    vertical-align: middle;
    line-height: 50px;
    float: left;
    margin: 0px 10px;
}

nav ul li a {
    text-decoration: none;
}

#title {
    font-weight: bold;
    font-size: 18pt;
    float: right;
}

#userid {
    font-size: 10pt;
    line-height: 25px;
    float: right;
}


table {
	margin: 2px;
	float: left;
	width: 368px;
	table-layout: fixed;
	border-spacing: 1px;
	font-family:Arial, Helvetica, sans-serif;
	color: black;
	font-size:12px;
/*	text-shadow: 1px 1px 0px #fff;*/
	background:#eaebec;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}


/* the whole cell is a link, not just the text */
table tr a {
    display: block;
    padding: 1px 1px;
}

/* link style in table */
table tr a:link,
table tr a:visited {
	color: black;
	text-decoration: none;
}
table tr a:active,
table tr a:hover {
	text-decoration: underline;
}
table tr th a:link,
table tr th a:visited {
	font-weight: bold;
}


table.metadata {
    max-width: 100%;
    white-space: nowrap;
}

table th {
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

table th:first-child {
	text-align: center;
}

table tr th:nth-child(2){
	width: 24px;
}

table tr {
	text-align: center;
}

table td:first-child {
	text-align: left;
	border-left: 0;
}

table td {
	border: 0px;
	padding: 0px;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

table tr:last-child td {
	border-bottom:0;
}


/* round corners */
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}


table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

table tr td.good {
    background: #99ff99;
}
table tr td.bad {
    background: #ff9999;
}

table td.true {
    color: #00cc66;
}
table td.false {
    color: #c00000;
}


.card {
	padding: 14px 24px 14px ;
	margin: 10px;
	color: #ffffff;
	background-color:  #2196F3;
	/*background-color: rgb(255, 255, 255);*/
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	border-radius: 2px;
	z-index: 1;
}




#wholecolumns {
	position: relative;
	left: 3px;
    margin: 0 auto;
    
}

/* six column and up */
@media screen and (min-width: 2126px) {
	.wholecolumns {
		width: 2134px;	
	}
}
/* five column */
@media screen and (min-width: 1771px) and (max-width: 2125px) {
	.wholecolumns {
		width: 1779px;	
	}
}
/* four column */
@media screen and (min-width: 1416px) and (max-width: 1770px) {
	.wholecolumns {
		width: 1424px;	
	}
}
/* three column */
@media screen and (min-width: 1062px) and (max-width: 1415px) {
	.wholecolumns {
		width: 1070px;	
	}
}
/* two column */
@media screen and (min-width: 708px) and (max-width: 1061px) {
	.wholecolumns {
		width: 714px;	
	}
}
/* single column */
@media screen and (max-width: 707px) {
	.wholecolumns {
		width: 359px;	
	}
}
