/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/static/roboto-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/static/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/roboto-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/roboto-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/roboto-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/roboto-v16-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/static/roboto-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/static/roboto-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/roboto-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/roboto-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/static/roboto-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/roboto-v16-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/static/roboto-mono-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url('/static/roboto-mono-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/roboto-mono-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/roboto-mono-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/roboto-mono-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/roboto-mono-v4-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}
/* roboto-mono-700 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/static/roboto-mono-v4-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
       url('/static/roboto-mono-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/roboto-mono-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/roboto-mono-v4-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/static/roboto-mono-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/roboto-mono-v4-latin-700.svg#RobotoMono') format('svg'); /* Legacy iOS */
}