{{template "docstart"}}


<link rel="stylesheet/less" type="text/less" href="css/celestial.css"></link>
<link rel="stylesheet/less" type="text/less" href="css/mdl-overrides.css"></link>

<!-- scripts -->
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/datastore2.js"></script>
<script src="/js/vexparser.js"></script>
<script src="/js/md5.js"></script>
<script src="/js/vlbi_monitor.js"></script>
<script src="/js/names.js"></script>
<script src="/js/vlbi_schedule_drawing_routines.js"></script>

<style type="text/less">
	
</style>

<!-- css preprocessor, must be called after all stylesheets hence it's here and not in the docstart template -->
<script>less={errorReporting: "console"};</script>
<script src="js/less.min.js" type="text/javascript"></script>

<title>VLBI Monitor - Celestial map</title>
</head>
<body>

	<div class="mdl-layout mdl-js-layout">
		<div class="drawercontainer">
			<div class="mdl-layout__drawer">

				<span class="mdl-layout__title">
					<i class="sidemenutoggle mdl-icon-toggle__label material-icons">menu</i>
					<span class="hidewhensmall">VLBI Monitor</span>
				</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link hidewhensmall" href="/overview.html">Overview</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=summarylayouttemplate&schedule=true">Status</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=forecasttemplate&schedule=false">Forecast</a>
					<a class="mdl-navigation__link hidewhensmall" href="/weather.html">Weather</a>
					<a class="mdl-navigation__link hidewhensmall" href="/matrix.html">Matrix</a>
					<a class="mdl-navigation__link hidewhensmall" href="/graph.html">Download</a>
					<a class="mdl-navigation__link hidewhensmall" href="/schedule.html">Schedule</a>
					<a class="mdl-navigation__link hidewhensmall" href="/map.html">World map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/celestial.html">Celestial map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/messages.html">Messages</a>
					<a class="mdl-navigation__link hidewhensmall" href="https://bitbucket.org/vlbi/vlbimonitor-webinterface/issues?status=new&status=open">Issues</a>
					<a class="mdl-navigation__link hidewhensmall" href="/settings.html">Settings</a>
				</nav>
			</div>
		</div>

		<main class="mdl-layout_content">
		</main>
	</div>


	<!-- ********************************** -->
	<!-- BEGIN OF SKYMAP SPECIFIC CONTENT   -->
	<!-- ********************************** -->
	<div id="observatorygrid" class="grid columncount1 rowcount1">
		<div class="observatorypanel scrollablepanel">
			<h5 class="title">Live Sky View</h5>
			<div id="celestialcontainer">
				<div id="celestial"></div>
			</div>
			<div class="legend">
				
				<h4>Legend:</h4>
				<div>
					<svg  xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
						<path fill="#000000" d="M2,2L38,2L38,38L2,38L2,2" />
						<g transform="translate(20,20)">
							<path stroke="#00ff00" stroke-width="3" d="M8,0L16,0" fill="none" />
							<path stroke="#00ff00" stroke-width="3" d="M-8,0L-16,0" fill="none" />
							<path stroke="#00ff00" stroke-width="3" d="M0,8L0,16" fill="none" />
							<path stroke="#00ff00" stroke-width="3" d="M0,-8L0,-16" fill="none" />
						</g>
					</svg>
					<span>the current (if any) scheduled target</span>
				</div>
				<div>
					<svg  xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
						<path fill="#000000" d="M2,2L38,2L38,38L2,38L2,2" />
						<g transform="translate(20,20)">
							<path stroke="#00ff00" opacity="0.6" stroke-width="3" d="M8,0L16,0" fill="none" />
							<path stroke="#00ff00" opacity="0.6" stroke-width="3" d="M-8,0L-16,0" fill="none" />
							<path stroke="#00ff00" opacity="0.6" stroke-width="3" d="M0,8L0,16" fill="none" />
							<path stroke="#00ff00" opacity="0.6" stroke-width="3" d="M0,-8L0,-16" fill="none" />
						</g>
					</svg>
					<span>the next (if any) scheduled target</span>
				</div>
				<div>
					<svg  xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
						<path fill="#000000" d="M2,2L38,2L38,38L2,38L2,2" />
						<g transform="translate(20,20)">
							<path fill="#00ff00" stroke-width="2" d="M4,0L0,4L-4,0L0,-4L4,0" stroke="none" />
						</g>
					</svg>
					<span>objects mentioned in schedule file</span>
				</div>
				<div>
					<svg  xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
						<path fill="#000000" d="M2,2L38,2L38,38L2,38L2,2" />
						<g transform="translate(20,20)">
							<path fill="#cccccc" stroke-width="2" d="M4,0L0,4L-4,0L0,-4L4,0" stroke="none" />
						</g>
					</svg>
					<span>calibrator</span>
				</div>
				<div>
					<svg  xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
						<path fill="#000000" d="M2,2L38,2L38,38L2,38L2,2" />
						<g transform="translate(14,14)">
							<path fill="#ff0000" stroke-width="2" d="M4,0L0,4L-4,0L0,-4L4,0" stroke="none" />
						</g>
						<g transform="translate(14,26)">
							<path fill="#ffcc00" stroke-width="2" d="M4,0L0,4L-4,0L0,-4L4,0" stroke="none" />
						</g>
						<g transform="translate(26,14)">
							<path fill="#ff9900" stroke-width="2" d="M4,0L0,4L-4,0L0,-4L4,0" stroke="none" />
						</g>
						<g transform="translate(26,26)">
							<path fill="#cc00ff" stroke-width="2" d="M4,0L0,4L-4,0L0,-4L4,0" stroke="none" />
						</g>
					</svg>
					<span>other well known objects (nebulae/galaxies/stars/etc.)</span>
				</div>
				
				<div>
					<svg  xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
						<path fill="#000000" d="M2,2L38,2L38,38L2,38L2,2" />
						<g transform="translate(20,20)">
							<path stroke="#cccccc" stroke-width="2" d="M-10,0L10,0" fill="none" />
						</g>
					</svg>
					<span>equatorial plane</span>
				</div>
				<div>
					<svg  xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
						<path fill="#000000" d="M2,2L38,2L38,38L2,38L2,2" />
						<g transform="translate(20,20)">
							<path stroke="#cccccc" stroke-width="1" d="M-15,8L15,8" fill="none" />
							<path stroke="#cccccc" stroke-width="1" d="M-15,-8L15,-8" fill="none" />
							<path stroke="#cccccc" stroke-width="1" d="M8,-15L8,15" fill="none" />
							<path stroke="#cccccc" stroke-width="1" d="M-8,-15L-8,15" fill="none" />
						</g>
					</svg>
					<span>equatorial grid</span>
				</div>
				<div>
					<svg  xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
						<path fill="#000000" d="M2,2L38,2L38,38L2,38L2,2" />
						<g transform="translate(20,20)">
							<path stroke="#66cc66" stroke-width="2" d="M-10,0L10,0" fill="none" />
						</g>
					</svg>
					<span>ecliptic plane</span>
				</div>
				<div>
					<svg  xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
						<path fill="#000000" d="M2,2L38,2L38,38L2,38L2,2" />
						<g transform="translate(20,20)">
							<path stroke="#ff7700" stroke-width="2" d="M-10,0L10,0" fill="none" />
						</g>
					</svg>
					<span>galactic plane</span>
				</div>
				<div>
					<svg  xmlns="http://www.w3.org/2000/svg"  width="40" height="40">
						<path fill="#000000" d="M2,2L38,2L38,38L2,38L2,2" />
						<g transform="translate(20,20)">
							<path stroke="#ffff00" stroke-width="2" d="M-10,0L10,0" fill="none" />
							<path stroke="none" stroke-width="2" d="M-18,0L18,0L18,18L-18,18L-18,0" fill="#ffff00" style="opacity:0.2;" />
						</g>
					</svg>
					<span>15 degree sun evasion area</span>
				</div>
			</div>
		</div>
    </div>




<!-- general libs -->
<script src="/js/jquery.min.js"></script>
<script src="/js/js.cookie.js"></script>

<!-- drawing libs -->
<script src="/js/d3.min.js" charset="utf-8"></script>
<script src="/js/d3.geo.projection.min.js" charset="utf-8"></script>
<script src="/js/topojson.v1.min.js"></script>
<script src="/js/celestial.js" charset="utf-8"></script>

<!-- layout and styling scripts -->
<script src="/js/material.min.js"></script>
<script src="/js/mdl-ext.min.js"></script>

<!-- include vlbimonitor scripts -->
<script src="/js/coordinates.js"></script>
<script src="/js/vlbi_schedule_drawing_routines.js"></script>



<script>
    var config = { 
		width: 0,           // Default width, 0 = full parent element width; 
        // height is determined by projection
		projection: "aitoff",    // Map projection used: see below
		transform: "equatorial", // Coordinate transformation: equatorial (default),
        // ecliptic, galactic, supergalactic
		center: [266.416,-29.008,-58.7],        // Initial center coordinates in set transform // galactic coordinate, last number experimentally determined
        // [longitude, latitude, orientation] all in degrees 
        // null = default center [0,0,0]
		orientationfixed: true,  // Keep orientation angle the same as center[2]
		adaptable: true,    // Sizes are increased with higher zoom-levels
		interactive: true,  // Enable zooming and rotation with mousewheel and dragging
		form: false,         // Display form for interactive settings
		location: false,    // Display location settings (no center setting on form)
		controls: false,     // Display zoom controls
		container: "celestial",   // ID of parent element, e.g. div, null = html-body
		datapath: "/js/data/",  // Path/URL to data files, empty = subfolder 'data'
		stars: {
			show: true,    // Show stars
			limit: 10,      // Show only stars brighter than limit magnitude
			colors: true,  // Show stars in spectral colors, if not use default color
			style: { fill: "#ffffff", opacity: 1 }, // Style for stars
			names: false,   // Show star names (Bayer, Flamsteed, Variable star, Gliese, 
            //     whichever applies first in that order)
			proper: false, // Show proper name (if present, above name otherwise)
			desig: false,  // Show all names, including Draper and Hipparcos
			namelimit: 10,  // Show only names/designations for stars brighter than namelimit
			namestyle: { fill: "#ddddbb", font: "11px Georgia, Times, 'Times Roman', serif", 
						 align: "left", baseline: "top" },  // Style for star names
			size: 3,       // Maximum size (radius) of star circle in pixels
			data: 'stars.6.json' // Data source for stellar data, 
            // number indicates limit magnitude
		},
		dsos: {
			show: true,    // Show Deep Space Objects 
			limit: 10,      // Show only DSOs brighter than limit magnitude
			names: true,   // Show DSO names
			desig: true,   // Show short DSO names
			namestyle: { fill: "#cccccc", font: "11px Helvetica, Arial, serif", 
						 align: "left", baseline: "top" }, // Style for DSO names
			namelimit: 6,  // Show only names for DSOs brighter than namelimit
			data: 'dsos.bright.json', // Data source for DSOs, 
            // opt. number indicates limit magnitude
			symbols: {  //DSO symbol styles, 'stroke'-parameter present = outline
				gg: {shape: "circle", fill: "#ff0000"},          // Galaxy cluster
						g:  {shape: "ellipse", fill: "#ff0000"},         // Generic galaxy
						s:  {shape: "ellipse", fill: "#ff0000"},         // Spiral galaxy
						s0: {shape: "ellipse", fill: "#ff0000"},         // Lenticular galaxy
						sd: {shape: "ellipse", fill: "#ff0000"},         // Dwarf galaxy
						e:  {shape: "ellipse", fill: "#ff0000"},         // Elliptical galaxy
						i:  {shape: "ellipse", fill: "#ff0000"},         // Irregular galaxy
						oc: {shape: "circle", fill: "#ffcc00", 
							 stroke: "#ffcc00", width: 1.5},             // Open cluster
						gc: {shape: "circle", fill: "#ff9900"},          // Globular cluster
						en: {shape: "square", fill: "#ff00cc"},          // Emission nebula
						bn: {shape: "square", fill: "#ff00cc", 
							 stroke: "#ff00cc", width: 2},               // Generic bright nebula
						sfr:{shape: "square", fill: "#cc00ff", 
							 stroke: "#cc00ff", width: 2},               // Star forming region
						rn: {shape: "square", fill: "#00ooff"},          // Reflection nebula
						pn: {shape: "diamond", fill: "#00cccc"},         // Planetary nebula 
						snr:{shape: "diamond", fill: "#ff00cc"},         // Supernova remnant
						dn: {shape: "square", fill: "#999999", 
							 stroke: "#999999", width: 2},               // Dark nebula grey
						pos:{shape: "diamond", fill: "#cccccc",
							 stroke: "#cccccc", width: 2},               // Generic marker
						calibrator: { shape: "diamond", fill: "#cccccc",
									  stroke: "#cccccc", width: 2},
						source: { shape: "diamond", fill: "#00ff00",
								  stroke: "#00ff00", width: 2}
			}
		},
		constellations: {
			show: false,    // Show constellations 
			names: true,   // Show constellation names 
			desig: true,   // Show short constellation names (3 letter designations)
			namestyle: { fill:"#cccc99", font: "12px Helvetica, Arial, sans-serif", 
						 align: "center", baseline: "middle" }, // Style for constellations
			lines: true,   // Show constellation lines, style below
			linestyle: { stroke: "#cccccc", width: 1, opacity: 0.6 }, 
			bounds: false, // Show constellation boundaries, style below
			boundstyle: { stroke: "#cccc00", width: 0.5, opacity: 0.8, dash: [2, 4] }
		},
		mw: {
			file: "mw.json",
			show: true,     // Show Milky Way as filled multi-polygon outlines 
			style: { fill: "#ffffff", opacity: 0.15 }  // Style for MW
		},
		lines: {  // Display & styles for graticule & some planes
			graticule: { show: true, stroke: "#cccccc", width: 0.6, opacity: 0.8 },   
				  equatorial: { show: true, stroke: "#aaaaaa", width: 1.3, opacity: 0.7 },  
				  ecliptic: { show: true, stroke: "#66cc66", width: 1.3, opacity: 0.7 },     
				  galactic: { show: true, stroke: "#ff7700", width: 1.3, opacity: 0.7 },    
				  supergalactic: { show: false, stroke: "#cc66cc", width: 1.3, opacity: 0.7 }
		},
		background: {        // Background style
			fill: "#000000",   // Area fill
							 opacity: 1, 
							 stroke: "#000000", // Outline
							 width: 1 
		}, 
		horizon: {  //Show horizon marker, if location is set and map projection is all-sky
			show: false, 
					stroke: null, // Line
					width: 1.0, 
					fill: "#000000", // Area below horizon
					opacity: 0.5
		}
    };

    // Display map with the configuration above or any subset therof
    
    

    var tdata = {
        "type": "FeatureCollection",
        "features": [
            {
                "type": "Feature",
                "id": "LMT",
                "properties": {
                    "name": "LMT",
                    // "type": "pos",
                    // "mag": 1,
                    // "dim": "189x61"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        0,
                        0
                    ]
                }
            },
            {
                "type": "Feature",
                "id": "SMTO",
                "properties": {
                    "name": "SMTO",
                    // "type": "pos",
                    // "mag": 1,
                    // "dim": "500"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        130.0925,
                        19.6721
                    ]
                }
            }
        ]
    };

	$(document).ready(function(){
		datastore.config.fields = ["telescope_apparentRaDec"];
		datastoreready = datastore.init();
		datastore.onUpdate(function() {
			datastoreready.done(function(){
				updatePointingMarkers(Celestial,config);
				updateScheduleMarkers(Celestial,config);
				Celestial.redraw();
			});
		});

		datastoreready.done(function(){

			// a simple add from file
			Celestial.add({
				"file": "/js/data/eht_references.js",
				"type": "dso",
				"callback": function(err,json) {
					if(err) {return console.log(err)};
					Celestial.container.selectAll(".references")
							 .data(Celestial.getData(json.features,config.transform))
							 .enter()
							 .append("path")
							 .attr("class", "dso"); 
				},
				// redraw not required becase we gave these the "dso" class making them drawn by the default dso renderer
				"redraw": function(){}
			});

			// sun evasion stuff:
			Celestial.add( {
				type: "line", 
				callback: function() { 
					// construct  geojson object for rendering:
					var sol = solarRaDecPosition(new Date());
					// console.log(sol)
					var coords = [[[0,0],[2,0],[2,-1],[3,-1],[3,-2],[4,-2],[4,-1],[3,-1],[3,0],[4,0],[4,1],[5,1],[5,2],[6,2],[6,5],[5,5],[5,3],[4,3],[4,5],[3,5],[3,6],[1,6],[1,5],[3,5],[3,4],[-2,4],[-2,5],[0,5],[0,6],[-2,6],[-2,5],[-3,5],[-3,3],[-4,3],[-4,5],[-5,5],[-5,2],[-4,2],[-4,1],[-3,1],[-3,0],[-2,0],[-2,-1],[-3,-1],[-3,-2],[-2,-2],[-2,-1],[-1,-1],[-1,0],[0,0]],[[2,1],[2,2],[3,2],[3,1],[2,1]],[[-1,1],[-2,1],[-2,2],[-1,2],[-1,1]]];
					var geojson = {
						"type": "MultiPolygon",
						"coordinates": $.map([[2,5],[2,6],[2,7],[2,8],[2,9],[3,5],[3,6],[3,7],[3,8],[3,9],[4,5],[4,6],[4,7],[4,8],[4,9],[5,5],[5,6],[5,7],[5,8],[5,9],[2,-5],[2,-6],[2,-7],[2,-8],[2,-9],[3,-5],[3,-6],[3,-7],[3,-8],[3,-9],[4,-5],[4,-6],[4,-7],[4,-8],[4,-9],[5,-5],[5,-6],[5,-7],[5,-8],[5,-9]],function(offset) { 
							return [$.map(coords, function(group) {
								return [ $.map(group.reverse(),function(coord) {
									return [[
										sol[0]-0.4+coord[1]*0.005+0.1*offset[0],
										sol[1]-1.6+coord[0]*0.005+0.1*offset[1]]];
								})];
							})];
						})
					}

					
					// draw the actual things:
								  
								  Celestial.container.append("path").datum(geojson)
										   .attr("class","sunevasionarea3");

				},
				redraw: function() {
					// one circle for the evasion area
					var circle = d3.geo.circle().angle([15]);
					var sol = solarRaDecPosition(new Date());
					sol[2] = 0;
					circle.origin(sol);
					Celestial.setStyle({
						show: true, 
						stroke: "rgba(255,255,0,0.5)", // Line
						fill: "rgba(255,255,0,0.1)", // Line
						width: 1.0
					});
					if(Celestial.container.selectAll(".sunevasionarea2").size()==0) {
						Celestial.container.append("path")
								 .attr("class","sunevasionarea2");    
					}
					Celestial.container.selectAll(".sunevasionarea2").datum(circle).attr("d", Celestial.map);  
					Celestial.context.fill();
					Celestial.context.stroke();
					// console.log(Celestial.container.selectAll(".sunevasionarea2"))

					// one circle for the sun itself
					var circle = d3.geo.circle().angle([0.52]); // credits for tha angular size of the sun go to the internet
					var sol = solarRaDecPosition(new Date());
					sol[2] = 0;
					circle.origin(sol);
					Celestial.setStyle({
						show: true, 
						stroke: "rgba(255,0,0,0.5)", // Line
						fill: "rgba(255,0,0,0.5)", // Line
						width: 1.0
					});
					if(Celestial.container.selectAll(".sunevasionarea1").size()==0) {
						Celestial.container.append("path")
								 .attr("class","sunevasionarea1");    
					}
					Celestial.container.selectAll(".sunevasionarea1").datum(circle).attr("d", Celestial.map);  
					Celestial.context.fill();
					Celestial.context.stroke();


					// some extra decorations
					if(Celestial.zoomBy()>20) {
						Celestial.setStyle({
							show: true, 
							stroke: "rgba(255,255,0,0.7)", // Line
							width: 1.0
						});
						// console.log(Celestial)
						Celestial.container.selectAll(".sunevasionarea3")
								 .attr("d", Celestial.map);

						// // stroke and fill the paths that have been constructed
						Celestial.context.stroke();    
					}

				}

			});
			addPointing(Celestial,config);
			addSchedule(Celestial,config);

			
			Celestial.display(config);

		});
	});

	
</script>

</body>
</html>

