{{template "docstart"}}



	<title>VLBI Montitor</title>
	<!-- page specific style -->
	<link rel="stylesheet" type="text/less" href="/css/graph.css">
	<link rel="stylesheet/less" type="text/less" href="css/mdl-overrides.css"></link>

	<!-- scripts -->
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/datastore2.js"></script>
	<script src="/js/vexparser.js"></script>
	<script src="/js/md5.js"></script>
	<script src="/js/vlbi_monitor.js"></script>
	<script src="/js/names.js"></script>

	<!-- css preprocessor, must be called after all stylesheets hence it's here and not in the docstart template -->
	<script>less={errorReporting: "console"};</script>
	<script src="js/less.min.js" type="text/javascript"></script>

</head>


<body>


    	<div class="mdl-layout mdl-js-layout">
		<div class="drawercontainer">
			<div class="mdl-layout__drawer">

				<span class="mdl-layout__title">
					<i class="sidemenutoggle mdl-icon-toggle__label material-icons">menu</i>
					<span class="hidewhensmall">VLBI Monitor</span>
				</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link hidewhensmall" href="/overview.html">Overview</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=summarylayouttemplate&schedule=true">Status</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=forecasttemplate&schedule=false">Forecast</a>
					<a class="mdl-navigation__link hidewhensmall" href="/weather.html">Weather</a>
					<a class="mdl-navigation__link hidewhensmall" href="/matrix.html">Matrix</a>
					<a class="mdl-navigation__link hidewhensmall" href="/graph.html">Download</a>
					<a class="mdl-navigation__link hidewhensmall" href="/schedule.html">Schedule</a>
					<a class="mdl-navigation__link hidewhensmall" href="/map.html">World map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/celestial.html">Celestial map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/messages.html">Messages</a>
					<a class="mdl-navigation__link hidewhensmall" href="https://bitbucket.org/vlbi/vlbimonitor-webinterface/issues?status=new&status=open">Issues</a>
					<a class="mdl-navigation__link hidewhensmall" href="/settings.html">Settings</a>
				</nav>
			</div>
		</div>

		<main class="mdl-layout_content mainpanel">
			<div class="mdl-grid" style="margin: 0 auto;">
				<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">

					<div class="mdl-card__media mediacard" id="tablecard" style="display:none">
					</div>

					<div class="mdl-card__media mediacard" id="graphcard">
					</div>

					<div class="mdl-card__actions">
						<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							onclick="$('.mediacard').toggle()">Toggle Graph/Table</button>
						<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							onclick="dumpTimeSeries()">Save ASCII</button>
						<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							id="download-svg" name="downloadButton">Save SVG</button>

						<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							style="float: right"
							onclick="Plot.fetchParamHistory()">Update</button>
					</div>

				</div>
			<!-- -</div>


			<div class="mdl-grid" style="margin: 0 auto;">-->

				<div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--4dp">
					<div class="mdl-card__actions">
						<h1 class="mdl-card__title-text">Y-range</h1>
						<form>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="text" id="yMin" placeholder="yMin"
									style="width: auto;"
									onkeyup="Input.yLim[0]=this.value; if (event.keyCode == 13) Plot.redraw()">
								<label class="mdl-textfield__label" for="yMin">Minimum value y-axis</label>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="text" id="yMax" placeholder="yMax"
									style="width: auto;"
									onkeyup="Input.yLim[1]=this.value; if (event.keyCode == 13) Plot.redraw()">
								<label class="mdl-textfield__label" for="yMax">Maximum value y-axis</label>
							</div>
						</form>
						<button type="button" class="mdl-button mdl-js-button mdl-button--raised"
							onclick="Input.yLim[2]=true; Plot.redraw()">From Data</button>
						<button type="button" class="mdl-button mdl-js-button mdl-button--raised"
							style="float: right"
							onclick="Plot.redraw()">Apply</button>
					</div>
				</div>

				<div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--4dp">
					<div class="mdl-card__actions">
						<h1 class="mdl-card__title-text">X-range</h1>
						<form>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<label class="mdl-textfield__label" for="tMin">Start Date</label>
								<input class="mdl-textfield__input" type="text" id="tMin" placeholder="yyyy[-mm[-dd [hh:mm:ss]]]"
									style="width: auto;"
									onkeyup="Input.xLim[0]=utcDate(this.value)"
									onkeydown="if (event.keyCode == 13) Plot.fetchParamHistory()">
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<label class="mdl-textfield__label" for="tMax">End Date</label>
								<input class="mdl-textfield__input" type="text" id="tMax" placeholder="now"
									style="width: auto;"
									onkeyup="Input.xLim[1]=utcDate(this.value)"
									onkeydown="if (event.keyCode == 13) Plot.fetchParamHistory()">
							</div>
						</form>
					</div>
					<div class="mdl-card__actions">
						<form>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<select id="xPreset" type="text" class="mdl-textfield__input"
									style="width: 8em;"
									onchange = "Input.presetXRange(this.value)">
									<option value="null">select</option>
									<option value="e17d05">e17d05</option>
									<option value="e17d06">e17d06</option>
									<option value="e17d07">e17d07</option>
									<option value="e17d10">e17d10</option>
									<option value="e17d11">e17d11</option>
								</select>
								<label class="mdl-textfield__label" for="xPreset">Preset X-Range</label>
							</div>
						</form>
						<button type="button" class="mdl-button mdl-js-button mdl-button--raised"
							style="float:right"
							onclick="Plot.fetchParamHistory()">Apply</button>
					</div>
					<div class="mdl-card__actions">
						<form>
							<div class="mdl-textfield mdl-js-textfield">
								<input type="text" size="4" id="timeDeltaValue" min="0.0" class="mdl-textfield__input"
									style="width: auto; display: inline-block;"
									onkeyup = "Input.updateX('value',this.value)"
									onkeydown = "if (event.keyCode == 13) Plot.fetchParamHistory()">
								<select id="timeDeltaUnits" type="text" class="mdl-textfield__input"
									style="width: auto; display: inline-block;"
									onchange = "Input.updateX('unit',this.value)"
									onkeydown = "if (event.keyCode == 13) Plot.fetchParamHistory()">
									<option value="seconds">seconds</option>
									<option value="minutes">minutes</option>
									<option value="hours">hours</option>
									<option value="days">days</option>
									<option value="weeks">weeks</option>
									<option value="months">months</option>
								</select>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input type="text" id="dateTimeEnd" autofocus value="now" placeholder="yyyy[-mm-[dd [hh:mm:ss]]]" class="mdl-textfield__input"
									style="width: auto;"
									onkeyup = "Input.updateX('before',this.value)"
									onkeydown = "if (event.keyCode == 13) Plot.fetchParamHistory()">
								<label class="mdl-textfield__label" for="dateTimeEnd">before</label>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input type="text" id="dateTimeStart" placeholder="yyyy[-mm[-dd [hh:mm:ss]]]" class="mdl-textfield__input"
									style="width: auto;"
									onkeyup = "Input.updateX('after',this.value)"
									onkeydown = "if (event.keyCode == 13) Plot.fetchParamHistory()">
								<label class="mdl-textfield__label" for="dateTimeStart">after</label>
							</div>
						</form>
					</div>
				</div>

				<div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--4dp">
					<div class="mdl-card__actions">
						<h1 class="mdl-card__title-text">Observatories</h1>
						<ul id="ul-observatories" class="demo-list-control mdl-list">
						</ul>
					</div>
				</div>

				<div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--4dp">
					<div class="mdl-card__actions">
						<h1 class="mdl-card__title-text"><span>Parameters</span>
							<button id="parExpand" type="button" class="mdl-button mdl-js-button mdl-button--raised"
								style="position: absolute; right: 1em;"
								onclick="Meta.makeParList()"></button>
						</h1>
						<ul id="ul-parameters" class="demo-list-control mdl-list">
						</ul>
					</div>
				</div>

			</div>
		</main>
		</div>





<!-- scripts -->
<script src="/js/material.min.js"></script>
<script src="/js/mdl-ext.min.js"></script>
<script src="/js/d3-save-svg.min.js"></script>
<script src="/js/dateformat.js"></script>

<script>
"use strict";

//-- global helper functions
function idize(s) { return s.replace(/:/g, "_") }
function trueKeys(o) {
	return Object.keys(o).reduce( function (arr, k) {
		if (!o[k]) { return arr };
		return arr.concat([k]);
	}, []);
}
function utcDate(string) {
	var date = new Date(string);
	if (isNaN(date.valueOf())) return;
	var offset = date.getTimezoneOffset();
	var utc = new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(), date.getMinutes(), date.getSeconds())
		+ offset*60*1000);
	return utc;
}
function getFromObj(o, a) {
	if (! Array.isArray(a)) { return null }
	if (! o.hasOwnProperty(a[0])) { return null }
	if (a.length == 1) {
		return o[a];
	}
	return getFromObj(o[a[0]], a.slice(1));
}


var Input = (function() {
	var yLim = [0, 1, true]; //[min, max, autoscale]
	var xLim = [new Date(), new Date()];
	xLim[0].setTime(xLim[1].getTime() - 86400*1000);
	var timeDeltaValue = 1;
	var timeDeltaUnits = "days";
	var timeDeltaSign = "before";
	var timeDeltaRef = new Date();
	var obs = {};
	var par = {};


	function presetXRange(s) {
		var xranges = {
			"e17d05": ["2017-04-04T22:31:00Z", "2017-04-05T17:07:00Z"],
			"e17d06": ["2017-04-06T00:46:00Z", "2017-04-06T16:14:00Z"],
			"e17d07": ["2017-04-07T04:01:00Z", "2017-04-07T20:42:00Z"],
			"e17d10": ["2017-04-09T23:17:00Z", "2017-04-10T15:10:00Z"],
			"e17d11": ["2017-04-10T22:16:00Z", "2017-04-11T15:22:00Z"]};
		if (!(s in xranges)) return;

		xLim[0] = new Date(xranges[s][0]);
		xLim[1] = new Date(xranges[s][1]);
		document.getElementById("tMin").value = xranges[s][0];
		document.getElementById("tMax").value = xranges[s][1];
	}

	function shortISO(d) { return d.toISOString().slice(0, 19) + "Z" }

	function applyInit() {
		document.getElementById("yMin").value = yLim[0];
		document.getElementById("yMax").value = yLim[1];
		document.getElementById("tMin").value = shortISO(xLim[0]);
		document.getElementById("tMax").value = shortISO(xLim[1]);
		document.getElementById("timeDeltaValue").value = timeDeltaValue;
		document.getElementById("timeDeltaUnits").value = timeDeltaUnits;
	}
	$(document).ready(applyInit);

	function autoScale(dataObj) {
		if (!yLim[2]) { return }
		yLim[2] = false;
		if (typeof dataObj === 'undefined') { return }
		//-- verify input
		var maxlen = d3.max(dataObj, function(o) { return o.value.length });
		if (maxlen == 0) { return }

		yLim[0] = d3.min(dataObj, function(o) { return d3.min(o.value, function(v) { return v.value }) });
		yLim[1] = d3.max(dataObj, function(o) { return d3.max(o.value, function(v) { return v.value }) });
		if (isNaN(yLim[0])) { yLim[0] = 0 }
		if (isNaN(yLim[1])) { yLim[1] = d3.max(yLim[0], 0) + 1 }
		//-- nice boundaries
		var y = d3.scale.linear()
			.domain([yLim[0], yLim[1]])
			.nice();
		yLim[0] = y.domain()[0];
		yLim[1] = y.domain()[1];
		//-- fill form
		document.getElementById("yMin").value = yLim[0];
		document.getElementById("yMax").value = yLim[1];
	}

	function updateX(intent, v) {
		var nSeconds = {}, t;
		nSeconds.seconds = t = 1000;
		nSeconds.minutes = t *= 60;
		nSeconds.hours = t *= 60;
		nSeconds.days = t *= 24;
		nSeconds.weeks = t * 7;
		nSeconds.months = t * 30;

		if (intent == 'before' || intent == 'after') {
			timeDeltaSign = intent;
			if (v == "now") {
				timeDeltaRef = new Date();
			} else {
				timeDeltaRef = utcDate(v);
			}
			if (typeof timeDeltaRef === 'undefined') return;
		} else if (intent == 'value') {
			timeDeltaValue = v;
		} else if (intent == 'unit') {
			timeDeltaUnits = v;
		}

		if (timeDeltaSign == 'before') {
			xLim[1] = timeDeltaRef;
			xLim[0].setTime(xLim[1].getTime() - timeDeltaValue *
				nSeconds[timeDeltaUnits]);
		} else {
			xLim[0] = timeDeltaRef;
			xLim[1].setTime(xLim[0].getTime() + timeDeltaValue *
				nSeconds[timeDeltaUnits]);
		}
		//-- fill form
		document.getElementById("tMin").value = shortISO(xLim[0]);
		document.getElementById("tMax").value = shortISO(xLim[1]);
	}

	return {
		yLim, xLim,
		obs, par,
		autoScale, updateX, presetXRange
	}
})();


var Meta = (function() {
	//-- template string
	const Item = ({key, val, id}) => `
<li class="mdl-list__item">
	<span class="mdl-list__item-primary-content">
		${val}
	</span>
	<span class="mdl-list__item-secondary-action">
		<label for="${key}-${id}" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
			<input type="checkbox" id="${key}-${id}" class="mdl-checkbox__input ${key}"
				onclick="Input.${key}['${val}']=$(this).is(':checked')">
		</label>
	</span>
</li>
	`;

	var data = {};
	var listMode = "";
	var allPars = [];
	var fewPars = [
		"if_1_systemTemp",
		"if_2_systemTemp",
		"weather_tau225",
		"weather_temperature",
		"weather_airPressure",
		"weather_relativeHumidity",
		"weather_windSpeed"];

	function updateFewPars(pars) {
		var expanded = fewPars.concat(trueKeys(pars));
		fewPars = [...new Set(expanded)];
	}

	function postRequest() {
		d3.json("/static/masterlist.json").get(metadataHandler)
	}

	function metadataHandler(error, response) {
		$.extend(data, response);

		var obs = d3.keys(response);
		allPars = d3.keys(response['default']);

		//-- generate obs list
		$("ul#ul-observatories").html(obs.map(function(a) {
			return { key: 'obs', val: a, id: a }
		}).map(Item).join(''));
		trueKeys(Input.obs).map(function(o) {$("#obs-" + o).prop("checked", true)});
		//-- register new DOM elements as MDL components
		//componentHandler.upgradeDom("MaterialCheckbox"); // we do this later

		//-- generate par list
		makeParList();

		listMode = "few";
	}

	function makeParList() {
		var pars;
		if (listMode == "few") {
			pars = allPars;
			listMode = "all";
			$("#parExpand").html("Collapse");
		} else {
			pars = fewPars;
			listMode = "few";
			$("#parExpand").html("Expand");
		}
		$("ul#ul-parameters").html(pars.map(function(a) {
			return { key: 'par', val: a, id: idize(a) }
		}).map(Item).join(''));

		trueKeys(Input.par).map(function(p) {$("#par-" + idize(p)).prop("checked", true)});

		//-- register new DOM elements as MDL components
		componentHandler.upgradeDom("MaterialCheckbox");
	}

	return {
		data,
		makeParList, updateFewPars, postRequest
	}
})();


var Plot = (function() {
	var width=0, height, margin, x, y, xAxis, yAxis, svg, g, dataObj;

	function banner(s) {
		d3.selectAll('svg > g > *').remove();
		g.append('text')
			.text(s)
			.attr("font-size", "20px")
			.attr("transform", "translate(0," + .7*height + ")") };

	function setup() {
		//-- remove previous elements
		d3.selectAll('svg > g > *').remove();

		//-- quick exit
		var newWidth = parseInt($("#graphcard").width());
		if (width == newWidth) { return }

		//-- width has changed
		width = newWidth;
		height = parseInt(width*9/16);

		d3.selectAll('svg').remove();

		margin = { top: 20, right: 40, bottom: 30, left: 80 };

		x = d3.time.scale.utc()
			.range([0, width - margin.left - margin.right]);
		y = d3.scale.linear()
			.range([height - margin.top - margin.bottom, 0]);

		xAxis = d3.svg.axis().orient("bottom")
			.scale(x);
		yAxis = d3.svg.axis().orient("left")
			.scale(y);

		svg = d3.select("#graphcard").append("svg")
			//responsive SVG needs these 2 attributes and no width and height attr
			.attr("preserveAspectRatio", "xMinYMin meet")
			.attr("viewBox", "0 0 " + width +" "+ height)
			.classed("graph-svg-component", true)
			.attr("width", "100%")
			.attr("height", "100%");

		g = svg.append("g")
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		banner("No query result available");
	}

	function finish() {
		//-- remove previous elements
		d3.selectAll('svg > g > *').remove();

		//-- no data points
		var maxlen = d3.max(dataObj, function(o) { return o.value.length })
		if (maxlen == 0) {
			banner("Zero data points in query result");
			return;
		}

		Input.autoScale(dataObj);

		//-- apply plot domain
		x.domain([Input.xLim[0], Input.xLim[1]]);
		y.domain([Input.yLim[0], Input.yLim[1]]);

		//-- prepare color
		var color;
		if (dataObj.length <= 6) {
			color = d3.scale.ordinal()
				.range(["#000", "#3366cc", "#dc3912", "#ff9900", "#109618", "#990099", "#0099c6", "#dd4477", "#66aa00", "#b82e2e", "#316395", "#994499", "#22aa99", "#aaaa11", "#6633cc", "#e67300", "#8b0707", "#651067", "#329262", "#5574a6", "#3b3eac"].slice(0,dataObj.length));
		} else if (d3.keys(dataObj).length <= 10) {
			color = d3.scale.category10();
		} else {
			color = d3.scale.category20();
		}
		color.domain(d3.keys(dataObj));


		//-- add new elements
		//-- legend
		var legend = g.selectAll(".legend")
			.data(dataObj).enter();

		var activeLine = dataObj.reduce(function(hash, d) {
			hash["#path-" + d.key] = true;
			return hash;
		}, {});
		var legitem = legend.append('g')
			.attr('class', 'legend')
			//-- hide graph on click
			.on("click", function(d){
				var id = "#path-" + d.key;
				var path = d3.select(id);
				path.style("opacity", + !activeLine[id]);
				activeLine[id] = !activeLine[id];
			});
		legitem.append('rect')
			.attr('x', 8)
			.attr('y', function(d, i){ return i * 20;})
			.attr('width', 10)
			.attr('height', 10)
			.style('fill', function(d) { return color(d.key) });

		legitem.append('text')
			.attr('x', 26)
			.attr('y', function(d, i){ return (i * 20) + 9;})
			.text(function(d){ return d.obs +" "+ d.par });

		//-- line
		var line = d3.svg.line()
			.interpolate("linear")
			.defined(function(d) {
				return d.value != null && d.value >= .01*Input.yLim[0] && d.value <= 100*Input.yLim[1];
			})
			.x(function(d) { return x(d.time) })
			.y(function(d) { return y(d.value) });

		//-- axes
		g.append("g")
			.attr("class", "x axis")
			.attr("transform", "translate(0," + (height - margin.top - margin.bottom) + ")")
			.call(xAxis);

		g.append("g")
			.attr("class", "y axis")
			.call(yAxis)
			//.append("text")
			//.attr("transform", "rotate(-90)")
			//.attr("y", -75)
			//.attr("dy", ".71em")
			//.style("text-anchor", "end")
			//.text(par);

		//-- graphs
		var observatory = g.selectAll(".graph")
			.data(dataObj)
			.enter().append("g")
			.attr("class", "graph");

		observatory.append("path")
			.attr("class", "line")
			.attr("id", function(d) { return "path-" + d.key })
			.attr("d", function(d) { return line(d.value) })
			.style("stroke", function(d) { return color(d.key) });

		//-- download svg
		d3_save_svg.embedRasterImages(svg.node());
		d3.select('#download-svg').on('click', function() {
			d3_save_svg.save(svg.node(), {filename: 'vlbimonitor-graph'});
		});
	}

	function make_tables() {
		//-- template string
		const Table = ({i}) => `<div class='tstabled'><table class='tstable' id='tstable-${i}'><caption></caption><tbody></tbody></table></div>`;

		var odiv = $('#tablecard');

		$('.tstabled').remove();

		$.each(dataObj, function(i, obspar) {

			odiv.append(Table({"i": i}));
			var table = $('#tstable-' +i, odiv);

			$('caption', table).html(obspar.obs +" "+ obspar.par);

			$.each(obspar.value, function(i, dataPoint) {
				if (dataPoint['value'] === null) {
					return;
				}
				var tr = $('<tr>');
				$('<td>').html(dateFormat(dataPoint['time'], 'yy-mm-dd HH:MM:ss')).appendTo(tr);
				$('<td>').text(dataPoint['raw']).appendTo(tr);
				$('tbody', table).append(tr);
			});
		});
	};

	// function that processes the data into a graph
	function dataHandler(error, response) {
		// First, make sure the JSON request went well
		if (typeof response === 'undefined') return;

		if (response.hasOwnProperty('error')) {
			if (response.error.code == 2) {
				alert("session expired");
				window.location.replace("/login.html");
			} else {
				alert(response.error.message);
			}
		}

		//-- Save last response and error for possible redraw
		for (let key in response) { Req.response[key] = response[key] }
		for (let key in error) { Req.error[key] = error[key] }

		//-- put data in object
		dataObj = dataPrepare(response);

		finish();
		make_tables();
	}

	function dataPrepare(results) {
		// Difference between consecutive elements in array
		// This is used for delta(time) creteria
		// The trailing element is 0
		function delta(x) {
			if (x.length == 0) { return [] }
			if (x.length == 1) { return [0] }
			var i = 1, dx, x0 = x[0];
			return x.reduce(function(arr, value) {
				if (i == x.length) { return arr }
				dx = x[i] - x0;
				x0 = x[i];
				i++;
				return arr.concat([dx]);
			}, []).concat([0]) // the trailing element is 0
		}

		function domap(p){
			var dx = delta(p.value.map(function(e) { return e[0] }));
			var dxmean = d3.mean(dx);
			var dxmed = d3.median(dx);
			var dxthres = Math.max(2*dxmean, 2*dxmed);
			var a, i = 0;
			console.log("%s: %d;  dt(mean,median,thes): %d, %d, %d [s]:", p.key, p.value.length, dxmean, dxmed, dxthres);
			return {
				key: p.key,
				value: p.value.reduce(function(arr, e) {
					a = [{
						time: new Date(1000*e[0]),
						raw: e[1],
						value: parseFloat(e[1] + 0), //convert from bool
					}]
					// insert null value in gap
					if (dx[i] > dxthres) {
						a = a.concat([{
							time: new Date(1000*(e[0] + .5*dx[i])),
							raw: null,
							value: null,
						}]);
					}
					i++;
					return arr.concat(a);
				}, [])
			};
		}

		//-- one level deep
		//	var data = d3.entries(results)
		//		.map(domap);
		//-- two levels deep
		//	var data = d3.entries(results)
		//		.map(function(o){ return {key: idize(o.key), value: d3.entries(o.value).map(domap)} });
		//-- flattened two levels to one level deep
		var data = d3.entries(results)
			.reduce(function(arr, o){
				var obs1 = d3.entries(o.value).map(domap);
				obs1 = obs1.map(function(p) {
					p['obs'] = o.key;
					p['par'] = p.key;
					p['key'] = idize(o.key +'-'+ p.key);
					return p;
				} );
				return arr.concat(obs1);
			}, []);
		return data;
	}

	var Req = (function() {
		var error = {}; //-- set by callback function
		var response = {}; //-- set by callback function
		var req = {}; //-- track request information

		function redraw() {
			dataHandler(error, response);
		}

		function fetchParamHistory() {
			function arrEq(a, b) {
				if (!a && !b) { return true }
				if (!a || !b || a.length != b.length) { return false }
				for (let i = 0; i < a.length; ++i) {
					if (a[i] !== b[i]) { return false }
				}
				return true;
			}
			function insertParams(obj, obs, fields, tstart, tend, npoints) {
				//-- test if additional data is requested
				var n = 0;
				if (arrEq(obj.observatories, obs)) { n++ }
				if (arrEq(obj.fields, fields)) { n++ }
				if (new Date(obj.startTime) - tstart == 0) { n++ }
				if (new Date(obj.endTime) - tend == 0) { n++ }
				if (obj.nDataPoints >= npoints) { n++ }
				if ( n == 5 ) {
					return false;
				}
				//-- save
				obj.observatories = obs;
				obj.fields = fields;
				obj.startTime = tstart.toISOString();
				obj.endTime = tend.toISOString();
				obj.nDataPoints = npoints;
				return true;
			}
			function requestToUrl(obj) {
				const obs = obj.observatories.map(v => `observatory=${v}`).join('&')
				const field = obj.fields.map(v => `field=${v}`).join('&')
				const t0 = (new Date(obj.startTime).getTime()/1000.) | 0
				const t1 = (new Date(obj.endTime).getTime()/1000.) | 0
				const npoint = `nDatapoints=${obj.nDataPoints}`
				return encodeURI(`/data/history?${obs}&${field}&startTime=${t0}&endTime=${t1}&${npoint}`)
			}

			setup();
			var obs = trueKeys(Input.obs);
			var par = trueKeys(Input.par);
			if (obs.length == 0 || par.length == 0) {
				banner("Zero observatories or parameters selected");
				return;
			}

			console.log(obs, par, Input.xLim[0], Input.xLim[1], 2*width);
			var reqUpdated = insertParams(req, obs, par, Input.xLim[0], Input.xLim[1], 2*width);

			if (reqUpdated) {
				console.log("fetch new data");
				banner("Server query in progress...");
				Meta.updateFewPars(Input.par); //-- update on requests only

				d3.json(requestToUrl(req)).get(dataHandler);
			} else {
				banner("No query result available");
				dataHandler(error, response);
			}
		}


		return {
			response, error,
			fetchParamHistory, redraw
		}
	})();


	return {
		banner, setup, dataHandler,
		fetchParamHistory: Req.fetchParamHistory,
		redraw: Req.redraw
	}
})()


function dumpTimeSeries() {
	const obs = trueKeys(Input.obs).map(v => `observatory=${v}`).join('&')
	const field = trueKeys(Input.par).map(v => `field=${v}`).join('&')
	const t0 = (new Date(Input.xLim[0]).getTime()/1000.) | 0
	const t1 = (new Date(Input.xLim[1]).getTime()/1000.) | 0
	const url = encodeURI(`/data/historydownload?${obs}&${field}&startTime=${t0}&endTime=${t1}`)
	window.location.assign(url);
}

if ("{{.Observatory}}".length > 0) { Input.obs["{{.Observatory}}"] = true }
if ("{{.Field}}".length > 0) { Input.par["{{.Field}}"] = true }

//-- post metadata request
Meta.postRequest();

//-- post data request
Plot.fetchParamHistory();
</script>

</body>
</html>
<!-- vim: set ft=javascript noet: -->
