{{template "docstart"}}
	<title>VLBI Monitor</title>

</head>
<body>
	{{template "beginlayout" .}}
		<div class="mdl-grid page-content" style="margin: 0 auto;">
			<div class="mdl-cell mdl-cell--1-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">Login</h2>
				</div>
				<div class="mdl-card__supporting-text">

					<form id="login">
						<div class="mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" type="text" id="username" name="username">
							<label class="mdl-textfield__label" for="username">Username</label>
						</div>
						<!-- <div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
							<select class="mdlext-selectfield__select" id="facility" name="facility">
								<option value=""></option>
							</select>
							<label class="mdlext-selectfield__label" for="facility">Affiliation</label>
						</div> -->
						<input type="hidden" id="facility" name="facility" value="RU" \>

						<div class="mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" type="password" name="password">
							<label class="mdl-textfield__label" for="password">Password</label>
							</div>
						<div style="float:right; margin-top: 12px">
							<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button>
						</div>

					</form>
				</div>
			</div>

			<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">About VLBI Monitor</h2>
				</div>
				<div class="mdl-card__supporting-text">
					<p>VLBI monitor is currently being developed at Radboud RadioLab.
					It provides real-time feedback on the operations at multiple telescopes participating in joint vlbi-runs. </p>

					<p>
						Radboud Radio Lab is part of Radboud University Nijmegen. Weather data was generously provided by the KNMI (Royal Netherland Meteorological Institite).
					</p>

					<p>
						<img width="40%" src="/img/ru-logo.jpg">
						<img width="50%" src="/img/KNMI_Logo.png">
					</p>


					<!-- credit: us? -->
					<!-- credits, ru, rrl, knmi, other? -->
				</div>
			</div>

			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone demo-card-wide mdl-card mdl-shadow--2dp">
				<!-- <div class=""> -->
					<div class="mdl-card__title">
						<h2 class="mdl-card__title-text">Need an account?</h2>
					</div>
					<div class="mdl-card__supporting-text">
						<p>If you are associated to one of the telescopes, doing some science, or just generally interested, you can request an account by sending an email to <a href="mailto:d.vanrossum@astro.ru.nl">one of the adminstrators</a>.</p>

						<p>For techinical assistance please refer to the <a href="https://bitbucket.org/vlbi/">source code repositories</a> or get in contact.</p>
					</div>
					<!-- <div class="mdl-card__actions mdl-card--border">
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
							Get Started
						</a>
					</div> -->
					<!-- <div class="mdl-card__menu">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">share</i>
						</button>
					</div> -->
				<!-- </div> -->
			</div>
		</div>
	{{template "endlayout"}}
</div>

<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/js.cookie.js"></script>
<script src="/js/names.js"></script>
<script src="/js/vlbi_monitor.js"></script>

<script src="/js/material.min.js"></script>
<script src="/js/mdl-ext.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		// renderMenu();

		// populate the facility dropdown menu
		var facilityfield = $("select[name=facility]");
		var allFacilities = nonObservatoryNames.concat(observatoryNames);
		allFacilities.forEach(function(facilityName) {
			// create new option:
			var newoption = $("<option>");
			newoption.prop("value",facilityName);
			newoption.html(facilityName);
			// append new option to dropdown:
			facilityfield.append(newoption);
		});
	});

</script>

<script>
$( "#login" ).submit(function( event ) {
	var username = $("[name='username']").val();
	var password = $("[name='password']").val();


	$.ajax({username, password, method: 'POST', url: "/session", dataType: "json"}).done(function(response) {
		window.localStorage.setItem('username', username);

		let returnurl = window.localStorage.getItem('returnurl') || "/overview.html"
		window.location.replace(returnurl);
		window.localStorage.removeItem('returnurl')
	}).fail(function(response) {
		var snackbarContainer = document.querySelector('#snackbar');
		var data = {
			message: response.statusText,
			timeout: 5000,
			actionHandler: function(event) {
				$("#snackbar").removeClass("mdl-snackbar--active");
			},
			actionText: 'Hide'
		};
		snackbarContainer.MaterialSnackbar.showSnackbar(data);
		// alert(response.error.message);
		$('#login').trigger("reset");
	})

	event.preventDefault();
});
</script>
</body>
</html>
<!-- vim: set ft=javascript noet: -->
