{{template "docstart"}}
<title>VLBI Monitor - World map</title>
<!-- page specific style -->
<link rel="stylesheet/less" type="text/less" href="/css/map.css"></link>
<link rel="stylesheet/less" type="text/less" href="/css/mdl-overrides.css"></link>

<!-- scripts -->
<script src="/js/topojson.v1.min.js"></script>
<script src="/js/coordinates.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/vexparser.js"></script>
<script src="/js/md5.js"></script>
<script src="/js/datastore2.js"></script>
<script src="/js/names.js"></script>
<script src="/js/vlbi_schedule_drawing_routines.js"></script>

<!-- css preprocessor, must be called after all stylesheets hence it's here and not in the docstart template -->
<script>less={errorReporting: "console"};</script>
<script src="js/less.min.js" type="text/javascript"></script>

</head>
<body>


    <div class="mdl-layout mdl-js-layout">
		<div class="drawercontainer">
			<div class="mdl-layout__drawer">

				<span class="mdl-layout__title">
					<i class="sidemenutoggle mdl-icon-toggle__label material-icons">menu</i>
					<span class="hidewhensmall">VLBI Monitor</span>
				</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link hidewhensmall" href="/overview.html">Overview</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=summarylayouttemplate&schedule=true">Status</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=forecasttemplate&schedule=false">Forecast</a>
					<a class="mdl-navigation__link hidewhensmall" href="/weather.html">Weather</a>
					<a class="mdl-navigation__link hidewhensmall" href="/matrix.html">Matrix</a>
					<a class="mdl-navigation__link hidewhensmall" href="/graph.html">Download</a>
					<a class="mdl-navigation__link hidewhensmall" href="/schedule.html">Schedule</a>
					<a class="mdl-navigation__link hidewhensmall" href="/map.html">World map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/celestial.html">Celestial map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/messages.html">Messages</a>
					<a class="mdl-navigation__link hidewhensmall" href="https://bitbucket.org/vlbi/vlbimonitor-webinterface/issues?status=new&status=open">Issues</a>
					<a class="mdl-navigation__link hidewhensmall" href="/settings.html">Settings</a>
				</nav>
			</div>
		</div>

		<main class="mdl-layout_content">
			<div id="observatorygrid" class="grid columncount1 rowcount1">
				<div class="observatorypanel">
					<h5 class="title">EHT VLBI live world map</h5>
					<div id="world_map">
						<div class="clock">
							<div class="time">00:00:00</div>
							<div class="date"></div>
						</div>
					</div>
				</div>
			</div>
		</main>
    </div>

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>


    <script>
		/* Convert ISO 6709 encoded string from +DD.DDDD-DDD.DDDDD format to lon, lat */
		function stringToLatLon(s) {
			var reg = /^([+-][0-9]{2}\.[0-9]*)([+-][0-9]{3}\.[0-9]*)$/;
			var found = s.match(reg);

			var lat = parseFloat(found[1]);
			var lon = parseFloat(found[2]);

			return {lat: lat, lon: lon};
		}

		function statusToClass(slewStatus, recordingStatus) {
			var stat = "offline";
			if (slewStatus && recordingStatus) {
				stat = "online";
			} else if (slewStatus || recordingStatus) {
				stat = "initiating";
			}

			return stat;
		}

		var mdldeferred = $.Deferred();
		$('.mdl-layout').on('mdl-componentupgraded', function(e) {
			// apparently the above does not trigger immediately if already triggered
			// so we must turn it into a jquery deferred object which does do that
			if ($(e.target).hasClass('mdl-layout'))
			{
				mdldeferred.resolve();
			}
		});
		$(document).ready(function() {
			mdldeferred.done(function() {
				
				var ratio  = 0.5; // has to be matched to projection

				var π = Math.PI,
					radians = π / 180,
					degrees = 180 / π;
				
				
				
				var projection = d3.geo.equirectangular()
				//var projection = d3.geo.gnomonic()
				//var projection = d3.geo.mercator()
				// var projection = d3.geo.orthographic()
								   .translate([0,0])
								   .scale(100)
								   .precision(0.1);
				
				
				var path = d3.geo.path()
							 .projection(projection);
				
				var graticule = d3.geo.graticule();
				
				// determine current size
				var native_map_bounds = path.bounds(graticule());
				var native_map_width  = native_map_bounds[1][0] - native_map_bounds[0][0];
				var native_map_height = native_map_bounds[1][1] - native_map_bounds[0][1];
				
				function resize() {
					// determine container size:
					var width  = parseInt(d3.select('#world_map').style('width'));	
					var height = ratio * width;
					
					// resize the svg component
					svg.style("height", width*ratio);
					svg.attr("height", width*ratio);
					
					projection = projection.scale(100*width/native_map_width).translate([width/2,height/2]);
					path = path.projection(projection);
					
					
					d3.select(".graticule").attr("d",path);
					d3.select(".land").attr("d",path);
					d3.select(".boundary").attr("d",path);
					d3.select(".night").attr("d",path);
					
					// position legend
					let bbox = d3.select(".legend").node().getBBox();
					d3.select(".legend").attr("transform", "translate("+(width-bbox.width-20)+",20)");
					
					draw_baselines();
					draw_observatories();
					draw_targets();
				}
				
				d3.select(window).on('resize', resize);
				
				
				
				var observatory_coordinates = [
					{facility: "ALMA"    , coord: "-23.02900-067.75500", labeloffset: [ 15,  0],     symbolangle: -40},
					{facility: "APEX"    , coord: "-23.00578-067.75917", labeloffset: [ 15, 20],    symbolangle: 180},
					{facility: "LMT"     , coord: "+18.98583-097.31472", labeloffset: [ -5,-15],     symbolangle: 0},
					{facility: "SMTO"    , coord: "+32.70161-109.89124", labeloffset: [0, -4],    symbolangle: -80},
					{facility: "SMAP"    , coord: "+19.82428-155.47797", labeloffset: [-60, -5],  symbolangle: 10},
					{facility: "JCMT"    , coord: "+19.82428-155.47797", labeloffset: [-60,  20], symbolangle: 120},
					{facility: "NOEMA"   , coord: "+44.63389+005.90792", labeloffset: [5,  5],     symbolangle: -10},
					{facility: "PICOVEL" , coord: "+37.06616-003.39272", labeloffset: [0, 30],  symbolangle: 90},
					// 10 o'clock
					//{facility: "PICOVEL" , coord: "+37.06616-003.39272", labeloffset: [-90, -10],  symbolangle: 90},
					{facility: "SPT"     , coord: "-89.98000-080.80000", labeloffset: [10, -5],     symbolangle: -50},
					{facility: "GLT"     , coord: "+76.53330-068.69990", labeloffset: [5, 0],    symbolangle: 140}
					// {facility: "CARMA"   , coord: "+37.28040-118.14166", labelcoord: "+37.28040-115.14166"}
				];
				
				
				
				
				var svg = d3.select("#world_map").insert("svg", "div")
							.style("width", "100%")
				
				
				
				function draw_world() {
					svg.append("path")
					   .datum(graticule)
					   .attr("class", "graticule")
					   .attr("d", path);
					
					d3.json("/static/world-50m.json", function(error, world) {
						
						if (error) throw error;
						
						svg.insert("path", ".graticule")
						   .datum(topojson.feature(world, world.objects.land))
						   .attr("class", "land")
						   .attr("d", path);
						
						svg.insert("path", ".graticule")
						   .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
						   .attr("class", "boundary")
						   .attr("d", path);
					});
					
					var night = svg.append("path")
								   .attr("class", "night")
								   .attr("d", path);
					
					var legend = svg.append("g")
									.attr("class", "legend");
					
					legend.append("rect")
						  .attr("class", "legendbox")
						  .style("fill", "#000000")
						  .style("stroke", "#00CCFF")
						  .style("stroke-width", "1")
						  .attr("width", 340)
						  .attr("height",112);
					
					var active_good = legend.append("a")
											.attr("class", "legendobs active good")
											.attr("transform", "translate(15,25)");
					active_good.append("circle")
							   .attr("cx", 0)
							   .attr("cy", -4)
							   .attr("r", 5)
							   .attr("class", "maindot");
					active_good.append("text")
							   .attr("class", "observatoryname")
							   .attr("x", 10)
							   .attr("y", 0)
							   .text("TELESCOPE");
					
					var active_bad = legend.append("a")
										   .attr("class", "legendobs active bad")
										   .attr("transform", "translate(15,50)");
					active_bad.append("circle")
							  .attr("cx", 0)
							  .attr("cy", -4)
							  .attr("r", 5)
							  .attr("class", "maindot");
					active_bad.append("text")
							  .attr("class", "observatoryname")
							  .attr("x", 10)
							  .attr("y", 0)
							  .text("TELESCOPE, NOT READY");
					
					/*var inactive_good = legend.append("a")
					   .attr("class", "legendobs inactive good")
					   .attr("transform", "translate(10,60)");
					   inactive_good.append("circle")
					   .attr("cx", 0)
					   .attr("cy", -4)
					   .attr("r", 3)
					   .attr("class", "maindot");
					   inactive_good.append("text")
					   .attr("class", "observatoryname")
					   .attr("x", 10)
					   .attr("y", 0)
					   .text("TELESCOPE, NOT PARTICIPATING, READY");
					   
					   var inactive_bad = legend.append("a")
					   .attr("class", "legendobs inactive bad")
					   .attr("transform", "translate(10,80)");
					   inactive_bad.append("circle")
					   .attr("cx", 0)
					   .attr("cy", -4)
					   .attr("r", 3)
					   .attr("class", "maindot");
					   inactive_bad.append("text")
					   .attr("class", "observatoryname")
					   .attr("x", 10)
					   .attr("y", 0)
					   .text("TELESCOPE, NOT PARTICIPATING, NOT READY");
					 */
					legend.append("path")
						  .attr("class", "legendbaseline inactive")
						  .attr("transform", "translate(10,68)")
						  .attr("d", "M0 0H40");
					legend.append("text")
						  .attr("class", "legendbaselinetext")
						  .attr("transform", "translate(60,75)")
						  .text("BASELINE, NOT RECORDING");
					
					legend.append("path")
						  .attr("class", "legendbaseline active")
						  .attr("transform", "translate(10,93)")
						  .attr("d", "M0 0H40");
					legend.append("text")
						  .attr("class", "legendbaselinetext")
						  .attr("transform", "translate(60,100)")
						  .text("BASELINE, RECORDING");
					
					/*legend.append("path")
					   .attr("class", "legendbaseline inactive")
					   .attr("transform", "translate(10,135)")
					   .attr("d", "M0 0H40");
					   legend.append("text")
					   .attr("class", "legendbaselinetext")
					   .attr("transform", "translate(60,140)")
					   .text("BASELINE, PARTIALLY RECORDING");*/

					/*var clock = svg.append("g")
					   .attr("class", "clock");
					   clock.append("text")
					   .attr("class", "time");
					   clock.append("text")
					   .attr("transform", "translate(0,22)")
					   .attr("class", "date");*/
					
				}

				


				function draw_baselines() {
					baselines = [];
					for (var i=0;i<observatory_coordinates.length;i++) {
						for (var j=i+1;j<observatory_coordinates.length;j++) {
							baselines.push([i,j]);
						}
					}

					var selection = svg.selectAll(".baseline").data(baselines);
					selection.enter()
							 .append("path")
							 .attr("class","baseline");
					// .attr("stroke","#ff0000")
					// .attr("stroke-width", 2)
					selection.attr("d",function(d) {
						// console.log(this);
						// console.log(d);
						var p1 = stringToLatLon(observatory_coordinates[d[0]].coord);
						var p2 = stringToLatLon(observatory_coordinates[d[1]].coord);
						p1 = projection([p1.lon, p1.lat]);
						p2 = projection([p2.lon, p2.lat]);
							
						return "M"+p1[0]+","+p1[1]+"L"+p2[0]+","+p2[1];
					});
				}

				// this requires the server response.results so it will be called from within update_observatory_status 
				function update_baselines() {
					// console.log("updating baselines");
					svg.selectAll(".baseline").attr("class", function(d) {
						var obsname1 = observatory_coordinates[d[0]].facility;
						var obsname2 = observatory_coordinates[d[1]].facility;

						var obs1inscan = stationisactiveinscan(obsname1);
						var obs2inscan = stationisactiveinscan(obsname2);

						var obs1inexp = stationisactiveinexperiment(obsname1);
						var obs2inexp = stationisactiveinexperiment(obsname2);
						// idea:
						// no line if either is not in experiment
						// gray line if eiter not recording
						// green line if recording
						// in demo mode: always green

						/*
						   var obs1onsource = datastore.data[obsname1] && datastore.data[obsname1]["telescope_onSource"] && datastore.data[obsname1]["telescope_onSource"].value;
						   var obs2onsource = datastore.data[obsname2] && datastore.data[obsname2]["telescope_onSource"] && datastore.data[obsname2]["telescope_onSource"].value;
						 */

						var obs1recording = datastore.data[obsname1] && datastore.data[obsname1]["recorder_1_recording"] && datastore.data[obsname1]["recorder_1_recording"].value;
						var obs2recording = datastore.data[obsname2] && datastore.data[obsname2]["recorder_1_recording"] && datastore.data[obsname2]["recorder_1_recording"].value;

						let demomode = getURLParameter("demo")=="true";
						let demooverride = demomode && obs1inscan && obs2inscan; // don't override if not in scan
						classes = ["baseline"];
						if (obs1inexp && obs2inexp)
						{
							if(demooverride || (obs1recording && obs2recording)) {
								classes.push("active");
								this.parentNode.appendChild(this); // move to top // needed for ALMA+APEX baselines
							}
							else
							{
								classes.push("inactive");
							}
						}
						return classes.join(" ");

					});
				}

				function draw_targets() {
					var targets= [
						{id:0,name:"target"     ,color:"#0077ff",opacity:1},
						{id:1,name:"next target",color:"#0077ff",opacity:0.5}
					];
					
					
					var groups = svg.selectAll(".target")
									.data(targets)
									.enter()
									.append("g")
									.attr("class","target");

					var sz = 8; // shorthand for size
					groups.append("path")
						  .attr("stroke-width",5)
						  .attr("stroke","#ffffff")
						  .attr("fill","none")
						  .attr("opacity",function(d){return d.id?0.5:1;})
						  .attr("d",	"M"  +  sz +",0L"  +( 3*sz)+",0"+
 										"M"  +(-sz)+",0L"  +(-3*sz)+",0"+
	 									"M0,"+  sz +  "L0,"+( 3*sz)+
	 									"M0,"+(-sz)+  "L0,"+(-3*sz)     );

					groups.append("text")
						  .text(function(d){return d.id?"next target":"target"})
						  .attr("x",5)
						  .attr("y",-10)
						  .attr("fill","#ffffff")
						  .attr("font-size","1.5em")
						  .attr("font-family","Roboto,sans-serif")
						  .attr("opacity",function(d){return d.id?0.5:1;});

					groups.append("text")
						  .text("???")
						  .attr("class","targetname")
						  .attr("x",5)
						  .attr("y",20)
						  .attr("fill","#ffffff")
						  .attr("font-size","1.5em")
						  .attr("font-family","Roboto,sans-serif")
						  .attr("opacity",function(d){return d.id?0.5:1;});
				}



				function update_targets() {
					
					// get relevant scans
					d3.selectAll(".target").each(function(d) {
						// console.log(this);
						// console.log(d3.select(this));
						// console.log(d);
						
						// get the relevant source object
						var {next:scan, vex} = getNextScheduleItem();
						switch(d.id) {
							case 0: scan = getCurrentScheduleItem(); break;
							case 1: break;
							default: return;
						} 

						if (d.id == 1 && getCurrentScheduleItem() != undefined)
						{
							d3.select(this).style("opacity", 0);
							return; // skip next target if there is a current target
						}
						
						// console.log(this)
						// console.log(scan)

						if(scan && Object.prototype.hasOwnProperty.call(datastore.schedule, "$SOURCE") &&
								Object.prototype.hasOwnProperty.call(datastore.schedule.$SOURCE, scan.Source)) {
							// get ra and dec from the list of sources:
							var ra  = ra2hours(datastore.schedule.$SOURCE[scan.Source].ra) * 15;
							var dec = dec2degrees(datastore.schedule.$SOURCE[scan.Source].dec);

							// find the spot on earth where these are in the zenith
							var lat=dec; // declination is above equator just like latitude 
							var lon=ra-gast(new Date());

							// project to x,y coords on map
							var projectedpoint = projection([lon,lat]);
							
							// move the group to those coords
							d3.select(this).attr("transform","translate("+projectedpoint[0]+","+projectedpoint[1]+")");
							d3.select(this).style("opacity",1);

							d3.select(this).select(".targetname")
							  .text(scan.Source);


						} else { // may occur for target (or for next target if the whole schedule is finished)
							d3.select(this).style("opacity",0);
						}
					});
				}


				function draw_observatories() {
					var selection = svg.selectAll(".observatory").data(observatory_coordinates);
					
					var link = selection.enter()
										.append("a")
										.attr("class","observatory")
										.attr("xlink:href", function(d) {return "/overview.html?observatory=" + d.facility});
					
					link.append("circle")
						.attr("cx", 0)
						.attr("cy", 0)
						.attr("r", 5)
						.attr("class","maindot");
					//link.append("circle")
					//	.attr("cx", 0)
					//	.attr("cy", 0)
					//	.attr("r", 3)
					//	.attr("class","pulse");*/
					/*link.append("image")
					   .attr("class", "pulse")
					   .attr("x", -15)
					   .attr("y", -15)
					   .attr("transform", function(d){return "rotate("+d.symbolangle+")"})
					   .attr("xlink:href", "/img/active.svg");		*/
					link.append("text")
						.attr("class","observatoryname")
						.attr("x",function(d){return d.labeloffset[0];})
						.attr("y",function(d){return d.labeloffset[1];})
						.text(function(d) { return d.facility; });
					
					
					selection.attr("transform",function(d) {
						var latlon = stringToLatLon(d.coord);
						var xy = projection([latlon.lon, latlon.lat])
						return "translate("+xy[0]+","+xy[1]+")";
					});

					selection.exit().remove();
					
					
					
					// foreach observatory create a azimuthal Pointer
					var selection = svg.selectAll(".azPointer")
									   .data(observatory_coordinates)
									   .enter()
									   .append("path")
									   .attr("class","azPointer");
					
					
					
				}
				
				function update_observatory_status() {
					
					// request.params.fields = ["observatoryCoordinates", "slewStatus", "recordingStatus"];
					
					svg.selectAll(".observatory").attr("class",function(d) {
						// console.log(d);
						//debugger;
						var inscan = stationisactiveinscan(d.facility);
						var nextscan = getNextScheduleItem().next;
						var innextscan = stationisactiveinscan(d.facility, nextscan==undefined?"":nextscan.ScanId);
						var isgood  = datastore.data[d.facility] && datastore.data[d.facility]["observatory"] && datastore.data[d.facility]["observatory"].valid;
						
						// fake it until you make it:
						if (getURLParameter('demo')=="true" && inscan)
						{
							isgood = true;
						}
						if (getURLParameter('demo')=="true" && innextscan && getNextScheduleItem().next != undefined && getNextScheduleItem().next.StartTime < new Date().getTime()+60000)
						{
							// fake green when next scan starts within a minute
							isgood = true;
						}
						
						var classes = ["observatory active"]; 
						/*
						   if(insched) {
						   classes.push("active");
						   } else {
						   classes.push("inactive");
						   }
						 */
						if (isgood)
						{
							classes.push("good");
						}
						else
						{
							classes.push("bad");
						}
						return classes.join(" ");
					});
					
					for(i in observatory_coordinates) {
						var obsname = observatory_coordinates[i].facility;
						if(obsname in datastore.data && datastore.data[obsname]) {
							if(datastore.data[obsname]["telescope_azimuthElevation"]) {
								observatory_coordinates[i].azel = datastore.data[obsname]["telescope_azimuthElevation"][1]; 
							} else {
								observatory_coordinates[i].azel = undefined;	
							}
							if(datastore.data[obsname]["telescope_apparentRaDec"]) {
								observatory_coordinates[i].radec = datastore.data[obsname]["telescope_apparentRaDec"][1]; 
							} else {
								observatory_coordinates[i].radec = undefined;	
							}
						} else {
							observatory_coordinates[i].azel  = undefined;
							observatory_coordinates[i].radec = undefined;
						}
					}
				}




				datastore.config.fields = ["telescope_apparentRaDec","telescope_onSource","recorder_1_recording"];
				datastore.config.showcountdown = false;


				var mapready = $.Deferred();
				
				datastore.onUpdate(function(){mapready.done(update_observatory_status)});
				datastore.onUpdate(function(){mapready.done(update_targets)});
				datastore.onUpdate(function(){mapready.done(update_baselines)});
				// update the night:
				datastore.onUpdate(function(){mapready.done(function() {
					// update night shadow
					var now = new Date();
					var centerofnight = antipode(solarPosition(now));
					var greatcircle = d3.geo.circle().angle(90).origin(centerofnight);
					d3.select(".night").datum(greatcircle).attr("d", path);

					// update clock
					//"Fri, 07 Apr 2017 05:10:28 GMT"
					var now = new Date();
					var timestr = now.toISOString().slice(11,19);
					var datestr = now.toUTCString().split(" ").slice(0,4).join(" ");
					
					d3.select(".clock .time").text(timestr);
					d3.select(".clock .date").text(datestr);
				})});

				datastore.init().done(function() {
					$(document).ready(function() {
						draw_world();
						resize();

						draw_baselines();
						draw_observatories();
						draw_targets();
						mapready.resolve();

						// update clock
						//"Fri, 07 Apr 2017 05:10:28 GMT"
						var now = new Date();
						var timestr = now.toISOString().slice(11,19);
						var datestr = now.toUTCString().split(" ").slice(0,4).join(" ");
						
						d3.select(".clock .time").text(timestr);
						d3.select(".clock .date").text(datestr);
					});
				});
			});
		});


    </script>

</body>
</html>



