{{template "docstart"}}

<link rel="stylesheet/less" type="text/less" href="css/matrix.css"></link>
<link rel="stylesheet/less" type="text/less" href="css/mdl-overrides.css"></link>

<!-- scripts -->
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/datastore2.js"></script>
<script src="/js/vexparser.js"></script>
<script src="/js/md5.js"></script>
<script src="/js/vlbi_monitor.js"></script>
<script src="/js/names.js"></script>

<!-- css preprocessor, must be called after all stylesheets hence it's here and not in the docstart template -->
<script>less={errorReporting: "console"};</script>
<script src="js/less.min.js" type="text/javascript"></script>



<title>VLBI Monitor - Matrix view</title>

</head>
<body>

	<div class="mdl-layout mdl-js-layout">
		<div class="drawercontainer">
			<div class="mdl-layout__drawer">

				<span class="mdl-layout__title">
					<i class="sidemenutoggle mdl-icon-toggle__label material-icons">menu</i>
					<span class="hidewhensmall">VLBI Monitor</span>
				</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link hidewhensmall" href="/overview.html">Overview</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=summarylayouttemplate&schedule=true">Status</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=forecasttemplate&schedule=false">Forecast</a>
					<a class="mdl-navigation__link hidewhensmall" href="/weather.html">Weather</a>
					<a class="mdl-navigation__link hidewhensmall" href="/matrix.html">Matrix</a>
					<a class="mdl-navigation__link hidewhensmall" href="/graph.html">Download</a>
					<a class="mdl-navigation__link hidewhensmall" href="/schedule.html">Schedule</a>
					<a class="mdl-navigation__link hidewhensmall" href="/map.html">World map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/celestial.html">Celestial map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/messages.html">Messages</a>
					<a class="mdl-navigation__link hidewhensmall" href="https://bitbucket.org/vlbi/vlbimonitor-webinterface/issues?status=new&status=open">Issues</a>
					<a class="mdl-navigation__link hidewhensmall" href="/settings.html">Settings</a>
				</nav>
			</div>
		</div>

		<main class="mdl-layout_content">
		</main>
	</div>

	<div id="observatorygrid" class="grid columncount1 rowcount1">
		<div class="observatorypanel">
			<h5 class="title">EHT VLBI Data Matrix</h5>

			<div class="matrix">
				<div class="matrixhead">
					<div class="row">
						<div class="namecell">Parameter:</div>
					</div>
				</div>
				<div class="matrixbody"></div>
			</div>
		</div>
	</div>


<!-- general libs -->
<script src="/js/jquery.min.js"></script>
<script src="/js/js.cookie.js"></script>

<!-- drawing libs -->
<script src="/js/d3.min.js" charset="utf-8"></script>

<!-- layout and styling scripts -->
<script src="/js/material.min.js"></script>
<script src="/js/mdl-ext.min.js"></script>

<!-- include vlbimonitor scripts -->
<script src="/js/names.js"></script>
<script src="/js/coordinates.js"></script>
<script src="/js/vlbi_monitor.js"></script>


<script>


	function updateTables() {
		// first, translate data to something hierarchical
		//let's first create a list of all known variable names
		let  FieldSeparator = '_';
		var variablenames = [];
		// console.log(datastore.data)
		$.each(datastore.data, function(observatoryname, obsdata) {
			$.each(obsdata, function(variable, vardata) {
				if(variablenames.indexOf(variable)<0){
					variablenames.push(variable);
				}
			});
		});
		// sort it:
							variablenames.sort();

		// create the datastructure that we'll pass to d3 later:
							var data = {};
		
		$.each(variablenames, function(i,varname) {
			// make sure the datastructure for this exists
			var currentsublist = data;
			var parts = varname.split(FieldSeparator);
			var group;
			$.each(parts,function(i,part) {
				if(currentsublist[part]==undefined) {
					currentsublist[part] = {
						"subrows":{},
						"name": part,
						"longname": parts.slice(0,i+1).join(FieldSeparator)
					};
				}
				group = currentsublist[part];
				currentsublist = group.subrows;
				
			});
			// add our own data
			if(group.data!=undefined) {
				console.warn("variable "+varname+"multiply defined")
			}
			group.data = {};
			$.each(datastore.data, function(obsname,obsdata) {
				if(obsdata!=undefined) { // if data loads faster than metadata this could in theory happen to pdbure 
					group.data[obsname] = obsdata[varname];
				}
			});
		});

		// console.log(data)

		// apply data to table
		function makeGroup(parentelement, data) {
			var selection = parentelement.selectAll(".group").filter(function(){
				return this.parentNode == parentelement.node();
			}).data(d3.values(data));
			selection.exit().remove();
			var group = selection.enter().append("div").classed("group",true).classed("collapsed",false);
			group.append("div").classed("row",true).append("div").classed("namecell",true).text(function(d) {
				return d.longname;
			});
			group.append("i").attr("class","material-icons treesymbol").text("play_arrow").on("click",function(d) {
				$(this).parent().toggleClass("collapsed");
				// group.classed("collapsed",!group.classed("collapsed"));
			});
			group.classed("endnode",function(d) {
				return d3.keys(d.subrows).length==0;
			});
			selection.each(function(d) {

				if(d.data) {
					var s2 = d3.select(this).select(".row").selectAll(".cell").data(d3.keys(d.data));
					s2.exit().remove();
					var cell = s2.enter().append("div").classed("cell",true);
					// cell refers to the newly created divs, which still need subdividers
					cell.append("div").classed("value",true);
					cell.append("div").classed("unit",true);
					cell.append("div").classed("time",true);
					cell.append("a").classed("graphlink",true).attr("href",function(obsname) {
						return "/graph.html?observatory="+obsname+"&field="+d.longname;
					}).append("i").classed("material-icons",true).text("timeline").attr("title","view graph");
					
					s2.select(".value").text(function(obsname) {
						if(typeof(d.data[obsname])=="undefined") return "-";
						if(d.data==undefined || d.data[obsname]==undefined || d.data[obsname].value==undefined) return "-";
						return d.data[obsname].value;
					});
					s2.select(".unit").text(function(obsname) {
						if(d.data==undefined || d.data[obsname]==undefined || d.data[obsname].value==undefined) return "";
						if(datastore.metadata[obsname][d.longname] != undefined
						   && "units" in datastore.metadata[obsname][d.longname]
						   && datastore.metadata[obsname][d.longname].units != "hr/deg"
						   && datastore.metadata[obsname][d.longname].units != "deg/deg"
						   && datastore.metadata[obsname][d.longname].units != "1"
						   && datastore.metadata[obsname][d.longname].units != "-" 
						   && d.data[obsname] != undefined) {
							return "("+datastore.metadata[obsname][d.longname].units+")";
						}
						return "";
					});
					s2.classed("invalid",function(obsname) {
						if(d.data[obsname]==undefined) return false;
						// if(d.data[obsname].value == "" || d.data[obsname].value == undefined) return false;
				 		// if(d.data[obsname].valid==undefined) return false;
				 		// if(datastore.metadata[obsname][d.longname].validFunction == undefined) return false;
				 		return ! (d.data[obsname].valid);
					});
					s2.classed("outdated",function(obsname){
						if(datastore.metadata[obsname][d.longname] != undefined
						   && "cadence" in datastore.metadata[obsname][d.longname] 
						   && datastore.metadata[obsname][d.longname].cadence > 0 
						   && d.longname in datastore.data[obsname] 
						   && datastore.data[obsname][d.longname] != undefined) {
							var dt = (new Date() - new Date(1000*d.data[obsname].date))/1000;
							// console.log("var "+d.longname +" in "+obsname+" has a cadance of "+datastore.metadata[obsname][d.longname].cadence+" and is "+dt+" seconds old")
							if(dt > datastore.metadata[obsname][d.longname].cadence) {
								// console.log("coloring gray")
								return true;
							}
							// console.log("still good")
						}
						return false;
					});
					s2.attr("title",function(obsname){
						var hinttxt = obsname+"/"+d.longname;
						hinttxt += "\nvalue: ";
						if(datastore.metadata[obsname][d.longname] != undefined
						   && datastore.metadata[obsname][d.longname].valueFunction) {
							hinttxt += datastore.metadata[obsname][d.longname].valueFunction;
						}else if(d.data!=undefined && d.data[obsname]!=undefined && d.data[obsname].value!=undefined) {
							hinttxt += d.data[obsname].value;
						} else {
							hinttxt += "no data";
						}
						if( datastore.metadata[obsname] != undefined
						 && datastore.metadata[obsname][d.longname] != undefined ) {
							hinttxt += "\nvalid: ";
							hinttxt += datastore.data[obsname][d.longname].valid;
						}
						if(datastore.metadata[obsname][d.longname] != undefined
						   && datastore.metadata[obsname][d.longname].valueFunction) {
							hinttxt += "\nmasterlist def: "+datastore.metadata[obsname][d.longname].valueFunction;
						}
						if(datastore.metadata[obsname][d.longname] != undefined
						   && datastore.metadata[obsname][d.longname].validFunction) {
							hinttxt += "\ncheck: "+datastore.metadata[obsname][d.longname].validFunction;
						}
						if(d.data!=undefined && d.data[obsname]!=undefined && d.data[obsname].date!=undefined) { 
							// console.log(d.data[obsname].date)
							var dt = new Date()/1000 - new Date(d.data[obsname].date);
							hinttxt += "\nlast updated: "+sprintTime(dt) +" ago";
						}
						return hinttxt;
					});
				} else {
					// there is no data for this parameter (there should be!) but we fake count(observatories) empty fields
					var s2 = d3.select(this).select(".row").selectAll(".cell").data(d3.keys(datastore.data));
					s2.exit().remove();
					var cell = s2.enter().append("div").classed("cell",true);
					cell.append("div").classed("value",true);
					cell.append("div").classed("unit",true);
					cell.append("div").classed("time",true);
					cell.append("div").classed("graphlink",true);
					s2.select(".value").text("");
				}


				// recurse
				makeGroup(d3.select(this),d.subrows);
			});	
		}
		makeGroup(d3.select(".matrixbody"), data);
		
		// make the headerrow:
									   var selection = d3.select(".matrixhead .row").selectAll(".cell").data(d3.keys(datastore.data));
		selection.exit().remove();
		selection.enter().append("div").classed("cell",true).classed("fixed",true).text(function(d){return d});

		//resizeTable();
	}

	//function resizeTable() {
	//	$(".matrix").css("width",$(document).width()-64); // 32 pixels bordes, margins and paddings on each side
	//	$(".matrix").css("height",$(window).height()-$(".matrix").offset().top-48);
	//}

	//$(window).on('resize', resizeTable);



	datastore.config.updateschedule = true;
	datastore.config.showcountdown = true;

	datastore.init().done(function() {
		datastore.onUpdate(updateTables);
	});

	
</script>

</body>
</html>

