{{template "docstart"}}

<link rel="stylesheet/less" type="text/less" href="css/messages.css"></link>
<link rel="stylesheet/less" type="text/less" href="css/mdl-overrides.css"></link>

<!-- scripts -->
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/datastore2.js"></script>
<script src="/js/vexparser.js"></script>
<script src="/js/md5.js"></script>
<script src="/js/vlbi_monitor.js"></script>
<script src="/js/names.js"></script>
<script src="/js/material.min.js"></script>
<script src="/js/jsrender.min.js"></script>


<!-- css preprocessor, must be called after all stylesheets hence it's here and not in the docstart template -->
<script>less={errorReporting: "console"};</script>
<script src="js/less.min.js" type="text/javascript"></script>






<title>VLBI Monitor</title>



<script id="messageTemplate" type="text/x-jsrender">
    <article id="{[:Id]}" class="message {[for tags]}tag-{[:]} {[/for]}">
	<header>
	    <span class="username">{[:Username]}</span>
	    &middot; <time class="recvtime">{[:Recvtime]}</time>
	</header>
	<p class="messagebody">{[:Text]}</p>
    </article>
</script>
<script>
    
    // only the metadata
    datastore.config.updatedata = false;
    datastore.config.updateschedule = false;
    datastore.init();


    function getTags(text) {
	var regex = /#([^\s]+)/g; // # followed by one or more non whitespace characters
	// tags stored as object for easy lookup
	var tags = {};
	// RegExp finds only one match at a time so we have to run it multipe times
	var match;
	while ((match = regex.exec(text)) != null) {
	    tags[match[1]] = undefined;
	}
	return tags;
    }

    function updateTagWarnings() {
	var text = $('#messagearea').val();
	var tags = getTags(text);

	// console.log(tags)

	var relevanttags = [];
	$.map(tags,function(i,tag) {
	    // console.log(tag)
	    if(tag=="status"||tag=="weather"||tag=="observer"){
		relevanttags.push(tag);
	    }
	});

	// console.log(relevanttags)
	var msg;
	switch(relevanttags.length) {
	    case 0: msg = ""; break;
	    case 1: msg = relevanttags[0]; break;
	    case 2: msg = relevanttags.join(" and "); break;
	    case 3: msg = relevanttags[0]+", "+relevanttags[1]+" and "+relevanttags[2]; break;
	}

	// console.log(msg)

	if(relevanttags.length == 0) {
	    $("#updatestatus").hide();
	    $("#nofacility").hide();
	} else {
	    $("#updatestatus .notice").html(msg);
	    $("#updatestatus").show();
	    
	    if(!datastore.config.messageFacility) {
		$("#nofacility").show();
	    }else {
		$("#nofacility").hide();
	    }
	    
	}
    }


    function postMessage(Text) {
		let url = "/message"
		$.post(url, JSON.stringify({Text}))
		.fail(ret => {
			alert(ret.responseText)
		})
    }

    function getMessages(output_id) {
		var tmpl = $.templates("#messageTemplate");

		let now = new Date().getTime()/1000 | 0
		let url = `/message?startTime=${lastTime}&endTime=${now}`
		$.get({url, dataType: "json"})
		.done(ret => {
			var html = $.parseHTML(tmpl.render(ret));

			if (ret.length > 0) {
				lastTime = new Date(ret[0].Recvtime).getTime()/1000 | 0;
				// TODO: implement proper boundary
				lastTime += 1 // do not receive the last message again
			}

			if (html) {
			$.each(html, function(i, elem) {
				if (elem.nodeType === Node.ELEMENT_NODE) {
				markAll(elem);
				}
			});
			}

			$(output_id).prepend(html);

			changeVisibilityToSelection();
		})
		.fail(ret => {
			alert(ret.responseText)
		})
    }

    function markAll(element) {
	markTags(element);
	//	markDirectives(element);
	markURLs(element);
	addTags(element);
    }

    function markTags(element) {
	element.innerHTML = element.innerHTML.replace(/\#\w+/g, '<span class="tag">$&</span>');
    }
    function markDirectives(element) {
	element.innerHTML = element.innerHTML.replace(/\@\w+/g, '<span class="directive">$&</span>');
    }
    function markURLs(element) {
	element.innerHTML = element.innerHTML.replace(/http?s?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g, '<a href="$&">$&</a>');
    }

    var selected_tag = "";
    function changeVisibilityToSelection() {
	if (selected_tag != "") {
            $('.message').css("display", "none");
            $(".tag-" + selected_tag.substring(1)).css("display", "block");
	} else {
            $('.message').css("display", "block");
	}
    }

    var all_tags = {}

    function addTags(element) {
	var regex = /\#\w+/g, result;
	while (result = regex.exec(element.innerHTML)) {
            if (!(result[0] in all_tags)) {
		all_tags[result[0]] = true;

		var newtag = $("<p></p>").text(result[0]).hover(function(){
                    selected_tag = $(this).text();
                    changeVisibilityToSelection();
		}, function(){
                    selected_tag = "";
                    changeVisibilityToSelection();
		}).addClass("tag");
		$('#tag-selection').append(newtag);
            }
	}
    }

    $(document).ready(function() {
	$('#messagearea').keydown(function(event) {
	    if (event.keyCode == 13) {
		postMessage($('#messagearea').val());
		$('#messagearea').val("");
		
		// update immediately
		getMessages("#messages");
		
		return false;
	    } else {
		updateTagWarnings();
	    }
	});
	// we update the message hints at keyup because then the char has been typed
	$('#messagearea').keyup(updateTagWarnings);

	lastTime = new Date("2015-01-01").getTime()/1000 | 0

	// change delimeter to avoid clash with Go templates
	$.views.settings.delimiters("{[","]}");
    });
</script>
</head>
<body>

    <div class="mdl-layout mdl-js-layout">
		<div class="drawercontainer">
			<div class="mdl-layout__drawer">

				<span class="mdl-layout__title">
					<i class="sidemenutoggle mdl-icon-toggle__label material-icons">menu</i>
					<span class="hidewhensmall">VLBI Monitor</span>
				</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link hidewhensmall" href="/overview.html">Overview</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=summarylayouttemplate&schedule=true">Status</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=forecasttemplate&schedule=false">Forecast</a>
					<a class="mdl-navigation__link hidewhensmall" href="/weather.html">Weather</a>
					<a class="mdl-navigation__link hidewhensmall" href="/matrix.html">Matrix</a>
					<a class="mdl-navigation__link hidewhensmall" href="/graph.html">Download</a>
					<a class="mdl-navigation__link hidewhensmall" href="/schedule.html">Schedule</a>
					<a class="mdl-navigation__link hidewhensmall" href="/map.html">World map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/celestial.html">Celestial map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/messages.html">Messages</a>
					<a class="mdl-navigation__link hidewhensmall" href="https://bitbucket.org/vlbi/vlbimonitor-webinterface/issues?status=new&status=open">Issues</a>
					<a class="mdl-navigation__link hidewhensmall" href="/settings.html">Settings</a>
				</nav>
			</div>
		</div>

		<main class="mdl-layout_content">
			
		</main>
	</div>

	<div id="observatorygrid" class="grid columncount1 rowcount1">
		<div class="observatorypanel scrollablepanel">
			<h5 class="title">VLBI Monitor Messaging</h5>
			
			<form id="postbox">
				<textarea name="message" id="messagearea"></textarea>
				<div class="warningcontainer">
					<div class="mdl-card warning mdl-card mdl-shadow--4dp" id="nofacility">
						<div class="mdl-card__supporting-text">
							<i class="material-icons">warning</i>
							<span class="notice" >You have not yet configured the facility for which you would like to post a status update. You can do this below or in the settings panel. If you post a status update before you do so it will not appear on the overview page.</span>
						</div>
					</div>
					<div class="mdl-card warning mdl-card mdl-shadow--4dp" id="updatestatus">
						<div class="mdl-card__supporting-text">
							<i class="material-icons">warning</i>
							You message will be used as the official observatory <span class="notice" style="font-weight: 700">status</span> in all overviews. Use these tags wisely.
						</div>
					</div>	
				</div>
			</form>
			<form style="padding:0px 17px 17px 17px">
				Messaging Affiliation <select id="messageFacButton" name="updateSpeedForm"
										  onchange = "datastore.setFacility(this.value)">
				<option value='None' selected>None</option>
				<option value='ALMA'>ALMA</option>
				<option value='APEX'>APEX</option>
				<option value='GLT'>GLT</option>
				<option value='JCMT'>JCMT</option>
				<option value='LMT'>LMT</option>
				<option value='PICO'>PICO</option>
				<option value='SMA'>SMA</option>
				<option value='SMTO'>SMTO</option>
				<option value='SPT'>SPT</option>
				</select>
				(for #status and #weather messages)
			</form>
			
			<aside id="sidebar">
				<div id="tags">
					<h1>Tags</h1>
					<div id="tag-selection">
					</div>
				</div>
			</aside>
			
			<div id="messages"></div>
		</div>
	</div>
</body>


<script>
$(document).ready(function() {
	var v = window.localStorage.getItem("messageFacility");
	if (!v) {v = "None"};
	document.getElementById("messageFacButton").value = v;

	getMessages("#messages");
	setInterval(function() { getMessages("#messages"); }, 1000);
});
</script>

</body>
</html>
