{{template "docstart"}}


<link rel="stylesheet/less" type="text/less" href="css/newlayout.css"></link>
<link rel="stylesheet/less" type="text/css" href="css/mdl-overrides.css"></link>

<script type="text/javascript" src="/js/moment.min.js"></script>

<script src="/js/vexparser.js"></script>
<script src="/js/md5.js"></script>
<script src="/js/datastore2.js"></script>

<!-- templates -->
<script src="/js/jsviews.min.js"></script>
<script type="text/javascript">
	// change default double { and } tags in jsviews/jsrender to {| and |}
	// because we already use double { and double } in server side (go) templates
	// note that {^{:data}} also changes to {^|:data|}.
	// Note to self: if you try to use [[]] instead array indices break
	$.views.settings.delimiters("{|", "|}");
	//$.views.settings.debugMode(true);
	$.views.tags({
		debug: function(obj) {
			var props = this.props;
			// output a default message if the user didn't specify a message
			var msg = this.tagCtx.props.message || 'Debug:';
			console.log(msg, obj);
		}
	});

</script>

<!-- css preprocessor, must be called after all stylesheets hence it's here and not in the docstart template -->
<script>less={errorReporting: "console"};
</script>
<script src="js/less.min.js" type="text/javascript"></script>


<title>VLBI Monitor</title>
</head>

<body>

	<div class="mdl-layout mdl-js-layout">
		<div class="drawercontainer">
			<div class="mdl-layout__drawer">

				<span class="mdl-layout__title">
					<i class="sidemenutoggle mdl-icon-toggle__label material-icons">menu</i>
					<span class="hidewhensmall">VLBI Monitor</span>
				</span>
				<nav class="mdl-navigation">
					<li class="mdl-list__item">
						<span class="mdl-list__item-primary-content">
							<i class="material-icons mdl-list__item-icon " style="color:white">view_quilt</i>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
								<input type="text" value="" class="mdl-textfield__input" id="template" readonly>
								<input type="hidden" value="" name="template">
								<i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
								<label for="template" class="mdl-textfield__label">Change template</label>
								<ul for="template" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
									<li class="mdl-menu__item" data-val="summarylayouttemplate">Status</li>
									<li class="mdl-menu__item" data-val="status2layouttemplate">Status2</li>
									<li class="mdl-menu__item" data-val="singleobstemplate">Single Observatory</li>
									<li class="mdl-menu__item" data-val="detailslayouttemplate">Details</li>
									<li class="mdl-menu__item" data-val="weathermaplayouttemplate">Weathermap</li>
									<li class="mdl-menu__item" data-val="forecasttemplate">Forecast</li>
									<li class="mdl-menu__item" data-val="celestialtemplate">(Celestial maps)</li>
									<li class="mdl-menu__item" data-val="scanlogtemplate">Scan logs</li>
								</ul>
							</div>
						</span>
					</li>
					<li class="mdl-list__item hidewhensmall">
						<span class="mdl-list__item-primary-content">
							<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="scheduleswitch">
								<input type="checkbox" id="scheduleswitch" class="mdl-switch__input">
								<span class="mdl-switch__label"></span>
							</label>
							<span>Show schedule</span>
						</span>
					</li>
					<li class="mdl-list__item hidewhensmall">
						<span class="mdl-list__item-primary-content">
							<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="progressswitch">
								<input type="checkbox" id="progressswitch" class="mdl-switch__input">
								<span class="mdl-switch__label"></span>
							</label>
							<span>Schedule progress</span>
						</span>
					</li>
					<li class="mdl-list__item hidewhensmall fontscale">
						<div class="label">Font scaling
						</div>
						<input class="mdl-slider mdl-js-slider" type="range" min="100" max="200" value="100" tabindex="0" id="fontslider">
					</li>
					<a class="mdl-navigation__link hidewhensmall" href="/overview.html">Overview</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=summarylayouttemplate&schedule=true">Status</a>
					<a class="mdl-navigation__link hidewhensmall" href="/obslog.html">Log</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=forecasttemplate&schedule=false">Forecast</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=weathermaplayouttemplate&schedule=false">Weather</a>
					<a class="mdl-navigation__link hidewhensmall" href="/matrix.html">Matrix</a>
					<a class="mdl-navigation__link hidewhensmall" href="/graph.html">Download</a>
					<a class="mdl-navigation__link hidewhensmall" href="/schedule.html">Schedule</a>
					<a class="mdl-navigation__link hidewhensmall" href="/map.html">World map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/celestial.html">Celestial map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/messages.html">Messages</a>
					<a class="mdl-navigation__link hidewhensmall" href="https://bitbucket.org/vlbi/vlbimonitor-webinterface/issues?status=new&status=open">Issues</a>
					<a class="mdl-navigation__link hidewhensmall" href="/settings.html">Settings</a>
				</nav>
			</div>
		</div>

		<main class="mdl-layout_content">
		</main>
	</div>


	<div id="observatorygrid" class="grid"></div>
	<div class="mdl-spinner mdl-js-spinner mdl-spinner--single-color is-active" id="initialspinner"></div>
	<div class="mdl-spinner mdl-js-spinner mdl-spinner--single-color is-active" id="updatespinner"></div>



	<!-- scripts -->
	<script src="/js/jquery.timeago.js"></script>
	<script src="/js/dateformat.js"></script>
	<script src="/js/d3.min.js" charset="utf-8"></script>
	<!-- <script src="https://raw.githubusercontent.com/stowball/mqGenie/master/mq.genie.min.js"></script> -->
	<!-- <script src="/js/d3.geo.projection.js" charset="utf-8"></script> -->
	<script src="/js/celestial.js" charset="utf-8"></script>
	<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.amber-light_blue.min.css" /> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js"></script>
	<script src="/js/mdl-ext.min.js"></script>
	<!--getmdl-select-->
	<link rel="stylesheet" href="/css/getmdl-select.min.css">
	<script defer src="/js/getmdl-select.min.js"></script>

	<script src="/js/names.js"></script>
	<script src="/js/coordinates.js"></script>
	<script src="/js/vlbi_monitor.js"></script>

	<script src="/js/vlbi_schedule_drawing_routines.js"></script>
	<script src="/js/vlbi_horizon_drawing_routines.js"></script>


	<!-- **********************************************
		 Top level template, this renders the grid.
		 Note how the include template is data-bound.
		 This means that the template that is included
		 for each observatory can dynamically be changed.
		 *********************************************** -->
	<script id="gridtemplate" type="text/x-jsrender">
		{|for visibleobservatories|}
		<div class="observatorypanel" id="{|:name|}">
			{^|include ^tmpl=~root^template /|}
		</div>
		{|/for|}
		{^|if schedule.isvisible |}
		<div class="observatorypanel" id="schedulepanel">
			{|include tmpl="#scheduletemplate" /|}
		</div>
		{|/if|}
		{^|if schedule.progressvisible |}
		<div class="observatorypanel" id="progresspanel">
			{|include tmpl="#progresstemplate" /|}
		</div>
		{|/if|}
	</script>

	<!-- **********************************************
		 Layout template for observatories. These define
		 the layout inside each observatory. May include
		 further templates in each block, or in simple
		 cases define the content directly.
		 *********************************************** -->
	<script id="detailslayouttemplate" type="text/x-jsrender">
		<div class="telescopetemplate vertical">
			<div class="horizontal nogrow">
				<div>
					{|include tmpl="#nameandtimetemplate" /|}
				</div>
				<div>
					{|include tmpl="#clientupdatetemplate" /|}
				</div>
			</div>
			<div class="horizontal">
				<div class="datatable scroll-y">
				</div>
			</div>
		</div>
	</script>

	<script id="scanlogtemplate" type="text/x-jsrender">
		<div class="telescopetemplate vertical">
			<div class="nogrow title">{|:name|} scan log:</div>
			<div class="scanlog">
				{^|for ~root.schedule.progress|}
				<div class="scanlogscan">
					<!--{|debug #parent.parent.data.name message="obs from current panel: " /|}
						 {|debug stations message="stations in current scan row: " /|}-->
					{^|if #parent.parent.data.name in stations |}
					<span style="color: black;">{^|>#parent.parent.data.name|}</span>
					{|else|}
					<span style="color: gray;">{^|>#parent.parent.data.name|}</span>
					{|/if|}
				</div>
				{|else|}
				<span>No active experiment to display</span>
				{|/for|}
			</div>
		</div>
	</script>

	<script id="summarylayouttemplate" type="text/x-jsrender">
		<div class="telescopetemplate vertical" onclick='location.href="/newlayout.html?template=singleobstemplate&schedule=false&observatory={|:name|}";' style="cursor: pointer;">
			<div class="horizontal">
				<div class="vertical" style="max-width: 30%">
					<div>
						{|include tmpl="#nameandtimetemplate" /|}
					</div>
					<div>
						{|include tmpl="#clientupdatetemplate" /|}
					</div>
				</div>
				<div class="vertical" style="max-width: 30%">
					<div class="validitycell" data-varname="phasing">
						{|include tmpl="#phasingtemplate" /|}
					</div>
					<div class="validitycell" data-varname="rx">
						{|include tmpl="#receivertemplate" /|}
					</div>
				</div>
				<div class="validitycell" data-varname="if">
					{|include tmpl="#tsystemplate" /|}
				</div>
			</div>
			<div class="horizontal">
				<div class="validitycell" data-varname="telescope" style="max-width: 50%">
					{|include tmpl="#pointingtemplate" /|}
				</div>
				<div class="validitycell" data-varname="weather">
					{|include tmpl="#weathertemplate" /|}
				</div>
			</div>
			<div class="horizontal">
				<div class="validitycell" data-varname="recorder" style="max-width: 50%">
					{|include tmpl="#recordertemplate" /|}
				</div>
				<div class="vertical">
					<div class="validitycell" data-varname="dbe">
						{|include tmpl="#dbetemplate" /|}
					</div>
					<div class="validitycell" data-varname="bcd">
						{|include tmpl="#bdctemplate" /|}
					</div>
				</div>
				<div class="vertical">
					<div>
						{|include tmpl="#gpstemplate" /|}
					</div>
					<div class="validitycell" data-varname="maser">
						{|include tmpl="#masertemplate" /|}
					</div>
				</div>
			</div>
			<div class="nogrow">
				{|include tmpl="#messagestemplate" /|}
			</div>
		</div>
	</script>

	<script id="status2layouttemplate" type="text/x-jsrender">
		<div class="telescopetemplate vertical">
			<div class="horizontal">
				<div>
					<div class="observatoryname">{|:name|}</div>
					<div>UTC: <span class="datetimecell" data-varname="utc"></span></div>
					<div>Date: <span class="datetimecell" data-varname="date"></span></div>
					<div>Day: <span class="datetimecell" data-varname="dayofyear"></span></div>
					<div>LST: <span class="datetimecell" data-varname="lst"></span></div>
					<div>MJD: <span class="datetimecell" data-varname="mjd"></span></div>
				</div>
				<div class="vertical">
					<div class="validitycell" data-varname="phasing">
						<div class="title">phasing</div>
						<div>status: <span class="datacell" data-varname="phasing_status"></span></div>
					</div>
					<div class="validitycell" data-varname="rx">
						<div class="title">Receivers</div>
						<div>Online:
							<span class="datacell" data-varname="rx_1_online"></span> /
							<span class="datacell" data-varname="rx_2_online"></span> /
							<span class="datacell" data-varname="rx_3_online"></span> /
							<span class="datacell" data-varname="rx_4_online"></span>
						</div>
						<div>LO frequency:
							<span class="datacell" data-varname="rx_1_loFreq"></span> /
							<span class="datacell" data-varname="rx_2_loFreq"></span> /
							<span class="datacell" data-varname="rx_3_loFreq"></span> /
							<span class="datacell" data-varname="rx_4_loFreq"></span> GHz
						</div>
						<div>Locked:
							<span class="datacell" data-varname="rx_1_lockStatus"></span> /
							<span class="datacell" data-varname="rx_2_lockStatus"></span> /
							<span class="datacell" data-varname="rx_3_lockStatus"></span> /
							<span class="datacell" data-varname="rx_4_lockStatus"></span>
						</div>
						<div>Cold temp:
							<span class="datacell" data-varname="rx_1_tempCold"></span> /
							<span class="datacell" data-varname="rx_2_tempCold"></span> /
							<span class="datacell" data-varname="rx_3_tempCold"></span> /
							<span class="datacell" data-varname="rx_4_tempCold"></span> K
						</div>
						<div>Hot temp:
							<span class="datacell" data-varname="rx_1_tempHot"></span> /
							<span class="datacell" data-varname="rx_2_tempHot"></span> /
							<span class="datacell" data-varname="rx_3_tempHot"></span> /
							<span class="datacell" data-varname="rx_4_tempHot"></span> K
						</div>
					</div>
				</div>
				<div class="validitycell" data-varname="if">
					<div class="title">IF&#39;s</div>
					<div>Online:
						<span class="datacell" data-varname="if_1_online"></span> /
						<span class="datacell" data-varname="if_2_online"></span> /
						<span class="datacell" data-varname="if_3_online"></span> /
						<span class="datacell" data-varname="if_4_online"></span>
					</div>
					<div>Tsys:
						<span class="datacell" data-varname="if_1_systemTemp"></span> /
						<span class="datacell" data-varname="if_2_systemTemp"></span> /
						<span class="datacell" data-varname="if_3_systemTemp"></span> /
						<span class="datacell" data-varname="if_4_systemTemp"></span> K
					</div>
					<div>Bandwidth:
						<span class="datacell" data-varname="if_1_bandWidth"></span> /
						<span class="datacell" data-varname="if_2_bandWidth"></span> /
						<span class="datacell" data-varname="if_3_bandWidth"></span> /
						<span class="datacell" data-varname="if_4_bandWidth"></span> GHz
					</div>
					<div>Center frequency:
						<span class="datacell" data-varname="if_1_centreFreq"></span> /
						<span class="datacell" data-varname="if_2_centreFreq"></span> /
						<span class="datacell" data-varname="if_3_centreFreq"></span> /
						<span class="datacell" data-varname="if_4_centreFreq"></span> GHz
					</div>
					<div>Total power:
						<span class="datacell" data-varname="if_1_totalPower"></span> /
						<span class="datacell" data-varname="if_2_totalPower"></span> /
						<span class="datacell" data-varname="if_3_totalPower"></span> /
						<span class="datacell" data-varname="if_4_totalPower"></span>
					</div>
				</div>
			</div>
			<div class="horizontal" style="flex-grow: 2;">
				<!-- pointing / telescope / celestial -->
				<div class="validitycell" data-varname="telescope">
					<div class="title">telescope</div>
					<div>
						<span>RaDec: </span>
						<span class="datacell" data-varname="telescope_apparentRaDec" data-formatter="formatters.hoursdegrees()"></span>
					</div>
					<div>
						<span>AzEl: </span>
						<span class="datacell" data-varname="telescope_azimuthElevation" data-formatter="formatters.degreesdegrees()"></span>
					</div>
					<div>
						<span>Mode: </span>
						<span class="datacell" data-varname="telescope_observingMode"></span>
					</div>
					<div>
						<span>On source: </span>
						<span class="datacell" data-varname="telescope_onSource"></span>
					</div>
					<div>
						<span>Source name: </span>
						<span class="datacell" data-varname="telescope_sourceName"></span>
					</div>
					<div>
						<span>Pointing correction: </span>
						<span class="datacell" data-varname="telescope_pointingCorrection"></span>
					</div>
					<div>
						<span>Focus correction: </span>
						<span class="datacell" data-varname="telescope_focusCorrection"></span>
					</div>
				</div>
				<div class="" style="padding: 0px; flex-grow: 3.5;">
					<div id="horizon_{|:name|}" class="horizon" style="margin-top: -6px;"></div>
				</div>
				<!-- weather text -->
				<div class="validitycell" data-varname="weather">
					<div class="title">Weather</div>
					<div>Wind:<span class="datacell" data-varname="weather_windSpeed"></span> m/s</div>
					<div>Temp:<span class="datacell" data-varname="weather_temperature"></span> K</div>
					<div>Humidity:<span class="datacell" data-varname="weather_relativeHumidity"></span> %</div>
					<div>Tau225:<span class="datacell" data-varname="weather_tau225"></span></div>
					<div>Pwv:<span class="datacell" data-varname="weather_pwv"></span> mm</div>
				</div>
				<!-- weather graph+plot -->
				<div class="vertical" style="padding: 0px; flex-grow: 3.5;">
					<div class="map_container">
						<div class="weathermap" id="weathermap_{|:name|}">
							<div class="map_crosshair"></div>
						</div>
					</div>
					<div class="weathergraph" style="flex-grow: 0; padding: 0px;">
						<img class="plot" id="tau225_{|:name|}" src="" alt="240 hour tau225" />
					</div>
				</div>
			</div>
			<div class="horizontal">
				<div class="validitycell" data-varname="recorder">
					<div class="title">Recorders:</div>
					<div>Status:
						<span class="datacell" data-varname="recorder_1_status"></span> /
						<span class="datacell" data-varname="recorder_2_status"></span> /
						<span class="datacell" data-varname="recorder_3_status"></span> /
						<span class="datacell" data-varname="recorder_4_status"></span>
					</div>
					<div>Disk usage:
						<span class="datacell" data-varname="recorder_1_fillFactor"></span> /
						<span class="datacell" data-varname="recorder_2_fillFactor"></span> /
						<span class="datacell" data-varname="recorder_3_fillFactor"></span> /
						<span class="datacell" data-varname="recorder_4_fillFactor"></span> %
					</div>
					<div>Fill factor:
						<span class="datacell" data-varname="recorder_1_diskfreeUsed"></span> /
						<span class="datacell" data-varname="recorder_2_diskfreeUsed"></span> /
						<span class="datacell" data-varname="recorder_3_diskfreeUsed"></span> /
						<span class="datacell" data-varname="recorder_4_diskfreeUsed"></span> GB
					</div>
					<div>CPU temp:
						<span class="datacell" data-varname="recorder_1_cpuTemperature"></span> /
						<span class="datacell" data-varname="recorder_2_cpuTemperature"></span> /
						<span class="datacell" data-varname="recorder_3_cpuTemperature"></span> /
						<span class="datacell" data-varname="recorder_4_cpuTemperature"></span> °C
					</div>
					<div>DBE:
						<span class="datacell" data-varname="">___</span> /
						<span class="datacell" data-varname="">___</span> /
						<span class="datacell" data-varname="">___</span> /
						<span class="datacell" data-varname="">___</span>
					</div>
				</div>
				<div class="vertical">
					<div class="validitycell" data-varname="dbe">
						{|include tmpl="#dbetemplate" /|}
					</div>
					<div class="validitycell" data-varname="bcd">
						{|include tmpl="#bdctemplate" /|}
					</div>
				</div>
				<div class="vertical">
					<div>
						{|include tmpl="#gpstemplate" /|}
					</div>
					<div class="validitycell" data-varname="maser">
						{|include tmpl="#masertemplate" /|}
					</div>
				</div>
			</div>
			<div class="nogrow">
				{|include tmpl="#messagestemplate" /|}
			</div>
		</div>
	</script>




	<script id="singleobstemplate" type="text/x-jsrender">
		<div class="telescopetemplate vertical" onclick='location.href="/newlayout.html?template=detailslayouttemplate&schedule=false&observatory={|:name|}";' style="cursor: pointer;">
			<div class="horizontal equally">
				<div class="vertical">
					<div class="horizontal">
						<div class="vertical">
							<div>
								<div class="observatoryname">{|:name|}</div>
								<div>UTC: <span class="datetimecell" data-varname="utc"></span></div>
								<div>Date: <span class="datetimecell" data-varname="date"></span></div>
								<div>Day: <span class="datetimecell" data-varname="dayofyear"></span></div>
								<div>LST: <span class="datetimecell" data-varname="lst"></span></div>
								<div>MJD: <span class="datetimecell" data-varname="mjd"></span></div>
							</div>
							<div>
								{|include tmpl="#clientupdatetemplate" /|}
							</div>
						</div>
						<div class="vertical">
							<div class="validitycell scroll-y" data-varname="phasing">
								<div class="title">phasing</div>
								<div class="innertable">
									<span class="rowname">antennaIDs</span>
									<span class="datacell" data-varname="phasing_antennaIDs"></span>
									<span class="rowname">efficiency</span>
									<span class="datacell" data-varname="phasing_efficiency"></span>
									<span class="rowname">efficiencyEvaluationWindow</span>
									<span class="datacell" data-varname="phasing_efficiencyEvaluationWindow"></span>
									<span class="rowname">numberOfAntennas</span>
									<span class="datacell" data-varname="phasing_numberOfAntennas"></span>
									<span class="rowname">phaseCenter (hr/deg)</span>
									<span class="datacell" data-varname="phasing_phaseCenter" data-formatter="formatters.hoursdegrees()"></span>
									<span class="rowname">phasing</span>
									<span class="datacell" data-varname="phasing_phasing"></span>
									<span class="rowname">referenceAltitude (m)</span>
									<span class="datacell" data-varname="phasing_referenceAltitude"></span>
									<span class="rowname">referenceAntennaID</span>
									<span class="datacell" data-varname="phasing_referenceAntennaID"></span>
									<span class="rowname">referenceCoordinates (deg/deg)</span>
									<span class="datacell" data-varname="phasing_referenceCoordinates" data-formatter="formatters.degreesdegrees()"></span>
									<span class="rowname">referencePad</span>
									<span class="datacell" data-varname="phasing_referencePad"></span>
									<span class="rowname">solutionApplicationTime</span>
									<span class="datacell" data-varname="phasing_solutionApplicationTime"></span>
									<span class="rowname">status</span>
									<span class="datacell" data-varname="phasing_status"></span>
								</div>
							</div>
							<div class="validitycell scroll-y" data-varname="rx">
								<div class="innertable">
									<div class="title">receivers</div>
									<div>rx_1</div><div>rx_2</div><div>rx_3</div><div>rx_4</div>
									<span class="rowname">online</span>
									<span class="datacell" data-varname="rx_1_online"></span>
									<span class="datacell" data-varname="rx_2_online"></span>
									<span class="datacell" data-varname="rx_3_online"></span>
									<span class="datacell" data-varname="rx_4_online"></span>
									<span class="rowname">lockStatus</span>
									<span class="datacell" data-varname="rx_1_lockStatus"></span>
									<span class="datacell" data-varname="rx_2_lockStatus"></span>
									<span class="datacell" data-varname="rx_3_lockStatus"></span>
									<span class="datacell" data-varname="rx_4_lockStatus"></span>
									<span class="rowname">qwpInserted</span>
									<span class="datacell" data-varname="rx_1_qwpInserted"></span>
									<span class="datacell" data-varname="rx_2_qwpInserted"></span>
									<span class="datacell" data-varname="rx_3_qwpInserted"></span>
									<span class="datacell" data-varname="rx_4_qwpInserted"></span>
									<span class="rowname">loFreq (GHz)</span>
									<span class="datacell" data-varname="rx_1_loFreq"></span>
									<span class="datacell" data-varname="rx_2_loFreq"></span>
									<span class="datacell" data-varname="rx_3_loFreq"></span>
									<span class="datacell" data-varname="rx_4_loFreq"></span>
									<span class="rowname">loFreqOffset (GHz)</span>
									<span class="datacell" data-varname="rx_1_loFreqOffset"></span>
									<span class="datacell" data-varname="rx_2_loFreqOffset"></span>
									<span class="datacell" data-varname="rx_3_loFreqOffset"></span>
									<span class="datacell" data-varname="rx_4_loFreqOffset"></span>
									<span class="rowname">tempCold (K)</span>
									<span class="datacell" data-varname="rx_1_tempCold"></span>
									<span class="datacell" data-varname="rx_2_tempCold"></span>
									<span class="datacell" data-varname="rx_3_tempCold"></span>
									<span class="datacell" data-varname="rx_4_tempCold"></span>
									<span class="rowname">tempHot (K)</span>
									<span class="datacell" data-varname="rx_1_tempHot"></span>
									<span class="datacell" data-varname="rx_2_tempHot"></span>
									<span class="datacell" data-varname="rx_3_tempHot"></span>
									<span class="datacell" data-varname="rx_4_tempHot"></span>
									<span class="rowname">antTemp (K)</span>
									<span class="datacell" data-varname="rx_1_antTemp"></span>
									<span class="datacell" data-varname="rx_2_antTemp"></span>
									<span class="datacell" data-varname="rx_3_antTemp"></span>
									<span class="datacell" data-varname="rx_4_antTemp"></span>
									<span class="rowname">calTemp (K)</span>
									<span class="datacell" data-varname="rx_1_calTemp"></span>
									<span class="datacell" data-varname="rx_2_calTemp"></span>
									<span class="datacell" data-varname="rx_3_calTemp"></span>
									<span class="datacell" data-varname="rx_4_calTemp"></span>
									<span class="rowname">nrIFs</span>
									<span class="datacell" data-varname="rx_1_nrIFs"></span>
									<span class="datacell" data-varname="rx_2_nrIFs"></span>
									<span class="datacell" data-varname="rx_3_nrIFs"></span>
									<span class="datacell" data-varname="rx_4_nrIFs"></span>
								</div>
							</div>
						</div>
						<div class="validitycell scroll-y" data-varname="if">
							<div class="innertable">
								<div class="title">if</div>
								<span>if_1</span><span>if_2</span><span>if_3</span><span>if_4</span>
								<span>attenuatorLevel</span>
								<span class="datacell" data-varname="if_1_attenuatorLevel"></span>
								<span class="datacell" data-varname="if_2_attenuatorLevel"></span>
								<span class="datacell" data-varname="if_3_attenuatorLevel"></span>
								<span class="datacell" data-varname="if_4_attenuatorLevel"></span>
								<span>bandWidth (GHz)</span>
								<span class="datacell" data-varname="if_1_bandWidth"></span>
								<span class="datacell" data-varname="if_2_bandWidth"></span>
								<span class="datacell" data-varname="if_3_bandWidth"></span>
								<span class="datacell" data-varname="if_4_bandWidth"></span>
								<span>centreFreq (GHz)</span>
								<span class="datacell" data-varname="if_1_centreFreq"></span>
								<span class="datacell" data-varname="if_2_centreFreq"></span>
								<span class="datacell" data-varname="if_3_centreFreq"></span>
								<span class="datacell" data-varname="if_4_centreFreq"></span>
								<span>identifier</span>
								<span class="datacell" data-varname="if_1_identifier"></span>
								<span class="datacell" data-varname="if_2_identifier"></span>
								<span class="datacell" data-varname="if_3_identifier"></span>
								<span class="datacell" data-varname="if_4_identifier"></span>
								<span>online</span>
								<span class="datacell" data-varname="if_1_online"></span>
								<span class="datacell" data-varname="if_2_online"></span>
								<span class="datacell" data-varname="if_3_online"></span>
								<span class="datacell" data-varname="if_4_online"></span>
								<span>polType</span>
								<span class="datacell" data-varname="if_1_polType"></span>
								<span class="datacell" data-varname="if_2_polType"></span>
								<span class="datacell" data-varname="if_3_polType"></span>
								<span class="datacell" data-varname="if_4_polType"></span>
								<span>rms (K/MHz)</span>
								<span class="datacell" data-varname="if_1_rms"></span>
								<span class="datacell" data-varname="if_2_rms"></span>
								<span class="datacell" data-varname="if_3_rms"></span>
								<span class="datacell" data-varname="if_4_rms"></span>
								<span>systemTemp (K)</span>
								<span class="datacell" data-varname="if_1_systemTemp" data-formatter="formatters.toFixed(1)"></span>
								<span class="datacell" data-varname="if_2_systemTemp" data-formatter="formatters.toFixed(1)"></span>
								<span class="datacell" data-varname="if_3_systemTemp" data-formatter="formatters.toFixed(1)"></span>
								<span class="datacell" data-varname="if_4_systemTemp" data-formatter="formatters.toFixed(1)"></span>
								<span>systemTempAzel (K)</span>
								<span class="datacell" data-varname="if_1_systemTempAzel" data-formatter="formatters.toFixed(1)"></span>
								<span class="datacell" data-varname="if_2_systemTempAzel" data-formatter="formatters.toFixed(1)"></span>
								<span class="datacell" data-varname="if_3_systemTempAzel" data-formatter="formatters.toFixed(1)"></span>
								<span class="datacell" data-varname="if_4_systemTempAzel" data-formatter="formatters.toFixed(1)"></span>
								<span>totalPower (W)</span>
								<span class="datacell" data-varname="if_1_totalPower"></span>
								<span class="datacell" data-varname="if_2_totalPower"></span>
								<span class="datacell" data-varname="if_3_totalPower"></span>
								<span class="datacell" data-varname="if_4_totalPower"></span>
							</div>
						</div>
					</div>
					<div class="horizontal smaller">
						<div class="validitycell scroll-y" data-varname="telescope">
							<div class="title">telescope</div>
							<div class="innertable">
								<span class="rowname">RaDec: </span>
								<span class="datacell" data-varname="telescope_apparentRaDec" data-formatter="formatters.hoursdegrees()"></span>
								<span class="rowname">AzEl: </span>
								<span class="datacell" data-varname="telescope_azimuthElevation" data-formatter="formatters.degreesdegrees()"></span>
								<span class="rowname">Mode: </span>
								<span class="datacell" data-varname="telescope_observingMode"></span>
								<span class="rowname">On source: </span>
								<span class="datacell" data-varname="telescope_onSource"></span>
								<span class="rowname">Source name: </span>
								<span class="datacell" data-varname="telescope_sourceName"></span>
								<span class="rowname">Pointing correction: </span>
								<span class="datacell" data-varname="telescope_pointingCorrection"></span>
								<span class="rowname">Focus correction: </span>
								<span class="datacell" data-varname="telescope_focusCorrection"></span>
							</div>
						</div>
						<!-- weather text -->
						<div class="validitycell scroll-y" data-varname="weather">
							<div class="title">weather</div>
							<div class="innertable">
								<span class="rowname">Wind (m/s)</span>
								<span class="datacell" data-varname="weather_windSpeed" data-formatter="formatters.toFixed(2)"></span>
								<span class="rowname">Temp (K)</span>
								<span class="datacell" data-varname="weather_temperature" data-formatter="formatters.toFixed(1)"></span>
								<span class="rowname">Humidity (%)</span>
								<span class="datacell" data-varname="weather_relativeHumidity" data-formatter="formatters.toFixed(1)"></span>
								<span class="rowname">Tau225</span>
								<span class="datacell" data-varname="weather_tau225" data-formatter="formatters.toFixed(4)"></span>
								<span class="rowname">Pwv (mm)</span>
								<span class="datacell" data-varname="weather_pwv" data-formatter="formatters.toFixed(2)"></span>
							</div>
						</div>
					</div>
					<div class="horizontal">
						<div class="validitycell scroll-y larger" data-varname="recorder">
							<div class="innertable">
								<div class="title">recorder</div>
								<span>1</span><span>2</span><span>3</span><span>4</span>
								<span class="rowname">recording</span>
								<span class="datacell" data-varname="recorder_1_recording"></span>
								<span class="datacell" data-varname="recorder_2_recording"></span>
								<span class="datacell" data-varname="recorder_3_recording"></span>
								<span class="datacell" data-varname="recorder_4_recording"></span>
								<hr style="height:8px; visibility:hidden; margin:0px" />
								<span class="rowname">online</span>
								<span class="datacell" data-varname="recorder_1_online"></span>
								<span class="datacell" data-varname="recorder_2_online"></span>
								<span class="datacell" data-varname="recorder_3_online"></span>
								<span class="datacell" data-varname="recorder_4_online"></span>
								<span class="rowname">logFilename</span>
								<span class="datacell" data-varname="recorder_1_logFilename"></span>
								<span class="datacell" data-varname="recorder_2_logFilename"></span>
								<span class="datacell" data-varname="recorder_3_logFilename"></span>
								<span class="datacell" data-varname="recorder_4_logFilename"></span>
								<span class="rowname">scheduleFilename</span>
								<span class="datacell" data-varname="recorder_1_scheduleFilename"></span>
								<span class="datacell" data-varname="recorder_2_scheduleFilename"></span>
								<span class="datacell" data-varname="recorder_3_scheduleFilename"></span>
								<span class="datacell" data-varname="recorder_4_scheduleFilename"></span>
								<span class="rowname">status</span>
								<span class="datacell" data-varname="recorder_1_status"></span>
								<span class="datacell" data-varname="recorder_2_status"></span>
								<span class="datacell" data-varname="recorder_3_status"></span>
								<span class="datacell" data-varname="recorder_4_status"></span>
								<hr style="height:8px; visibility:hidden; margin:0px" />
								<span class="rowname">scanSource</span>
								<span class="datacell" data-varname="recorder_1_scanSource"></span>
								<span class="datacell" data-varname="recorder_2_scanSource"></span>
								<span class="datacell" data-varname="recorder_3_scanSource"></span>
								<span class="datacell" data-varname="recorder_4_scanSource"></span>
								<span class="rowname">scanName</span>
								<span class="datacell" data-varname="recorder_1_scanName"></span>
								<span class="datacell" data-varname="recorder_2_scanName"></span>
								<span class="datacell" data-varname="recorder_3_scanName"></span>
								<span class="datacell" data-varname="recorder_4_scanName"></span>
								<span class="rowname">scanNumber</span>
								<div><span class="datacell" data-varname="recorder_1_scanNumber"></span>/<span class="datacell" data-varname="recorder_1_scanTotalnumber"></span></div>
								<div><span class="datacell" data-varname="recorder_2_scanNumber"></span>/<span class="datacell" data-varname="recorder_2_scanTotalnumber"></span></div>
								<div><span class="datacell" data-varname="recorder_3_scanNumber"></span>/<span class="datacell" data-varname="recorder_3_scanTotalnumber"></span></div>
								<div><span class="datacell" data-varname="recorder_4_scanNumber"></span>/<span class="datacell" data-varname="recorder_4_scanTotalnumber"></span></div>
								<span class="rowname">scanStartTime</span>
								<span class="datacell" data-varname="recorder_1_scanStartTime"></span>
								<span class="datacell" data-varname="recorder_2_scanStartTime"></span>
								<span class="datacell" data-varname="recorder_3_scanStartTime"></span>
								<span class="datacell" data-varname="recorder_4_scanStartTime"></span>
								<span class="rowname">scanDuration (s)</span>
								<span class="datacell" data-varname="recorder_1_scanDuration"></span>
								<span class="datacell" data-varname="recorder_2_scanDuration"></span>
								<span class="datacell" data-varname="recorder_3_scanDuration"></span>
								<span class="datacell" data-varname="recorder_4_scanDuration"></span>
								<hr style="height:8px; visibility:hidden; margin:0px" />
								<span class="rowname">nofModules</span>
								<span class="datacell" data-varname="recorder_1_diskfreeNofModules"></span>
								<span class="datacell" data-varname="recorder_2_diskfreeNofModules"></span>
								<span class="datacell" data-varname="recorder_3_diskfreeNofModules"></span>
								<span class="datacell" data-varname="recorder_4_diskfreeNofModules"></span>
								<span class="rowname">nofDisks</span>
								<span class="datacell" data-varname="recorder_1_diskfreeNofDisks"></span>
								<span class="datacell" data-varname="recorder_2_diskfreeNofDisks"></span>
								<span class="datacell" data-varname="recorder_3_diskfreeNofDisks"></span>
								<span class="datacell" data-varname="recorder_4_diskfreeNofDisks"></span>
								<span class="rowname">fillFactor (%)</span>
								<span class="datacell" data-varname="recorder_1_diskfreeFillfactor"></span>
								<span class="datacell" data-varname="recorder_2_diskfreeFillfactor"></span>
								<span class="datacell" data-varname="recorder_3_diskfreeFillfactor"></span>
								<span class="datacell" data-varname="recorder_4_diskfreeFillfactor"></span>
								<span class="rowname">diskUsed (TB)</span>
								<span class="datacell" data-varname="recorder_1_diskfreeUsed"></span>
								<span class="datacell" data-varname="recorder_2_diskfreeUsed"></span>
								<span class="datacell" data-varname="recorder_3_diskfreeUsed"></span>
								<span class="datacell" data-varname="recorder_4_diskfreeUsed"></span>
								<span class="rowname">diskFree (TB)</span>
								<span class="datacell" data-varname="recorder_1_diskfreeFree"></span>
								<span class="datacell" data-varname="recorder_2_diskfreeFree"></span>
								<span class="datacell" data-varname="recorder_3_diskfreeFree"></span>
								<span class="datacell" data-varname="recorder_4_diskfreeFree"></span>
								<hr style="height:8px; visibility:hidden; margin:0px" />
								<span class="rowname">groupRate (Gbps)</span>
								<span class="datacell" data-varname="recorder_1_groupDatarate"></span>
								<span class="datacell" data-varname="recorder_2_groupDatarate"></span>
								<span class="datacell" data-varname="recorder_3_groupDatarate"></span>
								<span class="datacell" data-varname="recorder_4_groupDatarate"></span>
								<span class="rowname">groupSpaceLeft (GB)</span>
								<span class="datacell" data-varname="recorder_1_groupSpaceLeft"></span>
								<span class="datacell" data-varname="recorder_2_groupSpaceLeft"></span>
								<span class="datacell" data-varname="recorder_3_groupSpaceLeft"></span>
								<span class="datacell" data-varname="recorder_4_groupSpaceLeft"></span>
								<span class="rowname">groupSpaceTotal (GB)</span>
								<span class="datacell" data-varname="recorder_1_groupSpaceTotal"></span>
								<span class="datacell" data-varname="recorder_2_groupSpaceTotal"></span>
								<span class="datacell" data-varname="recorder_3_groupSpaceTotal"></span>
								<span class="datacell" data-varname="recorder_4_groupSpaceTotal"></span>
								<span class="rowname">groupTimeLeft (GB)</span>
								<span class="datacell" data-varname="recorder_1_groupTimeLeft"></span>
								<span class="datacell" data-varname="recorder_2_groupTimeLeft"></span>
								<span class="datacell" data-varname="recorder_3_groupTimeLeft"></span>
								<span class="datacell" data-varname="recorder_4_groupTimeLeft"></span>
								<hr style="height:8px; visibility:hidden; margin:0px" />
								<span class="rowname">scancheckId</span>
								<span class="datacell" data-varname="recorder_1_scancheckId"></span>
								<span class="datacell" data-varname="recorder_2_scancheckId"></span>
								<span class="datacell" data-varname="recorder_3_scancheckId"></span>
								<span class="datacell" data-varname="recorder_4_scancheckId"></span>
								<span class="rowname">scancheckStatus</span>
								<span class="datacell" data-varname="recorder_1_scancheckStatus"></span>
								<span class="datacell" data-varname="recorder_2_scancheckStatus"></span>
								<span class="datacell" data-varname="recorder_3_scancheckStatus"></span>
								<span class="datacell" data-varname="recorder_4_scancheckStatus"></span>
								<hr style="height:8px; visibility:hidden; margin:0px" />
								<span class="rowname">inputstreamLabel</span>
								<span class="datacell" data-varname="recorder_1_inputstreamLabels"></span>
								<span class="datacell" data-varname="recorder_2_inputstreamLabels"></span>
								<span class="datacell" data-varname="recorder_3_inputstreamLabels"></span>
								<span class="datacell" data-varname="recorder_4_inputstreamLabels"></span>
							</div>
						</div>
						<div class="vertical">
							<div class="validitycell" data-varname="dbe">
								{|include tmpl="#dbetemplate" /|}
							</div>
							<div class="validitycell" data-varname="bcd">
								{|include tmpl="#bdctemplate" /|}
							</div>
						</div>
						<div class="vertical">
							<div>
								{|include tmpl="#gpstemplate" /|}
							</div>
							<div class="validitycell" data-varname="maser">
								{|include tmpl="#masertemplate" /|}
							</div>
						</div>
					</div>
				</div>
				<div class="vertical equally" style="flex-grow:0.5;">
					<div class="" style="padding: 0px;">
						<div id="horizon_{|:name|}" class="horizon" style="margin-top: -6px;"></div>
					</div>
					<!-- weather graph+plot -->
					<div class="map_container" style="padding: 0px;">
						<div class="weathermap" id="weathermap_{|:name|}">
							<div class="map_crosshair"></div>
						</div>
					</div>
					<div class="weathergraph nogrow" style="padding: 0px;">
						<img class="plot" id="tau225_{|:name|}" src="" alt="240 hour tau225" />
					</div>
				</div>
			</div>
			<div class="nogrow">
				{|include tmpl="#messagestemplate" /|}
			</div>
		</div>
	</script>

	<script id="weathermaplayouttemplate" type="text/x-jsrender">
		<div class="telescopetemplate vertical">
			<div class="nogrow">
				{|include tmpl="#nameandtimetemplate" /|}
			</div>
			<div class="map_container">
				<div class="weathermap" id="weathermap_{|:name|}">
					<div class="map_crosshair"></div>
				</div>
			</div>
		</div>
	</script>

	<script id="graphicscombolayouttemplate1" type="text/x-jsrender">
		<div class="telescopetemplate vertical">
			<div class="horizontal">
				<div class="nogrow vertical">
					<div class="nogrow">
						{|include tmpl="#nameandtimetemplate" /|}
					</div>
					<div>
						{|include tmpl="#weathertemplate" /|}
					</div>
				</div>
				<div class="map_container">
					<div class="weathermap" id="weathermap_{|:name|}">
						<div class="map_crosshair"></div>
					</div>
				</div>
			</div>
			<div class="weathergraph" style="flex-grow: 0;">
				<img class="plot" id="tau225_{|:name|}" src="" alt="240 hour tau225" />
			</div>
			<div class="weathergraph" style="flex-grow: 0;">
				<img class="plot" id="windSpeed_{|:name|}" src="" alt="240 hour wind speed" />
			</div>
			<div class="nogrow">
				{|include tmpl="#messagestemplate" /|}
			</div>
		</div>
	</script>

	<script id="forecasttemplate" type="text/x-jsrender">
		<div class="telescopetemplate vertical" onclick='location.href="/newlayout.html?template=detailslayouttemplate&schedule=false&observatory={|:name|}";' style="cursor: pointer;">
			<div class="nogrow">
				{|include tmpl="#nameandtimetemplate" /|}
			</div>
			<div class="map_container">
				<div class="weathermap" id="weathermap_{|:name|}">
					<div class="map_crosshair"></div>
				</div>
			</div>
			<div class="weathergraph" style="flex-grow: 0;">
				<img class="plot" id="tau225_{|:name|}" src="" alt="240 hour tau225" />
			</div>
			<div class="weathergraph" style="flex-grow: 0;">
				<img class="plot" id="windSpeed_{|:name|}" src="" alt="240 hour wind speed" />
			</div>
			<div class="nogrow">
				{|include tmpl="#messagestemplate" /|}
			</div>
		</div>
	</script>

	<script id="celestialtemplate" type="text/x-jsrender">
		<div class="telescopetemplate vertical">
			<div class="title">Celestial map not yet implemented in template form</div>
		</div>
	</script>



	<!-- *******************************************
		 Template for schedule. This template is
		 supposed to be rendered just once and take
		 up exactly the same amount as an observatory
		 template.
		 *********************************************-->
	<script id="scheduletemplate" type="text/x-jsrender">
		<div class="schedule vertical">
			<div class="horizontal" style="flex-grow: 0.2">
				<div class="title">VLBI Schedule</div>
				<div class="activity" data-link="class|merge:schedule^isactive toggle='active'|"></div>
			</div>
			<div class="experiment" style="flex-grow: 0.2">
				<div class="title">{^|:schedule^experiment^name|}</div>
				<div>{^|:schedule^experiment^timephrase|}</div>
			</div>
			<div class="horizontal scans">
				<div class="right">
					<div class="title">Current:</div>
					<div class="label">scan name:</div>
					<div class="field">{^|:schedule^currentscan^name|}</div>
					<div class="label">source name:</div>
					<div class="field">{^|:schedule^currentscan^source|}</div>
					<div class="label">until end:</div>
					<div class="field">{^|:schedule^currentscan^remaining|}</div>
					<div class="label">duration:</div>
					<div class="field">{^|:schedule^currentscan^duration|}</div>
					<div class="label">mode:</div>
					<div class="field">{^|:schedule^currentscan^mode|}</div>
					<div class="label">stations:</div>
					<div class="field">{^|:schedule^currentscan^stations|}</div>
				</div>
				<div class="right">
					<div class="title">Next:</div>
					<div class="label">scan name:</div>
					<div class="field">{^|:schedule^nextscan^name|}</div>
					<div class="label">source name:</div>
					<div class="field">{^|:schedule^nextscan^source|}</div>
					<div class="label">until start:</div>
					<div class="field">{^|:schedule^nextscan^remaining|}</div>
					<div class="label">duration:</div>
					<div class="field">{^|:schedule^nextscan^duration|}</div>
					<div class="label">mode:</div>
					<div class="field">{^|:schedule^nextscan^mode|}</div>
					<div class="label">stations:</div>
					<div class="field">{^|:schedule^nextscan^stations|}</div>
				</div>
			</div>
		</div>
	</script>


	<script id="progresstemplate" type="text/x-jsrender">
		<div class="progress">
			{^|for schedule^progress|}
			<div class="row {|if active|}active{|/if|} {|if future|}future{|/if|}">
				<div class="time">{|:name|}: {|:start|}-{|:stop|}</div>
				{^|for stations|}
				<div class="station">
					<div data-link="class|:'rating-'+starrating+'star'|">
						{|if participates|}
						{|:name|}
						{|/if|}
					</div>
				</div>
				{|/for|}
			</div>
			{|else|}
			<span>No active experiment to show</span>
			{|/for|}
		</div>
	</script>

	<!--

	-->

	<!-- ***********************************************
		 There are many tiny templates to be used inside
		 the observatory template. They usually define
		 one block of data.
		 *************************************************-->
	<script id="nameandtimetemplate" type="text/x-jsrender">
		<div class="observatoryname">{|:name|}</div>
		<div>LST: <span class="datetimecell" data-varname="lst"></span></div>
	</script>
	<script id="clientupdatetemplate" type="text/x-jsrender">
		<div class="title">clients</div>
		<div>
			<span class="clientupdatecell" data-varname="central"></span>
		</div>
		<div>
			<span class="clientupdatecell" data-varname="concom"></span>
		</div>
	</script>

	<script id="phasingtemplate" type="text/x-jsrender">
		<div class="title">phasing</div>
	</script>

	<script id="receivertemplate" type="text/x-jsrender">
		<div class="title">rx</div>
		<div class="fgunit">
			Lock:
			<span class="datacell" data-varname="rx_1_lockStatus" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="rx_2_lockStatus" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="rx_3_lockStatus" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="rx_4_lockStatus" data-formatter="formatters.toFixed(0)"></span>
		</div>
		<div class="fgunit">
			<span class="datacell" data-varname="rx_1_loFreq" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="rx_2_loFreq" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="rx_3_loFreq" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="rx_4_loFreq" data-formatter="formatters.toFixed(0)"></span>
			<span>GHz</span>
		</div>
		<div class="">

		</div>
	</script>

	<script id="tsystemplate" type="text/x-jsrender">
		<div class="title">if</div>
		<div>
			<span class="datacell" data-varname="if_1_systemTemp" data-formatter="formatters.toFixed(0)"></span>
			<span>/</span>
			<span class="datacell" data-varname="if_2_systemTemp" data-formatter="formatters.toFixed(0)"></span>
			<span>/</span>
			<span class="datacell" data-varname="if_3_systemTemp" data-formatter="formatters.toFixed(0)"></span>
			<span>/</span>
			<span class="datacell" data-varname="if_4_systemTemp" data-formatter="formatters.toFixed(0)"></span>
			<span>K</span>
		</div>
		<div>
			<span class="datacell" data-varname="if_1_centreFreq" data-formatter="formatters.toFixed(0)"></span>
			<span>/</span>
			<span class="datacell" data-varname="if_2_centreFreq" data-formatter="formatters.toFixed(0)"></span>
			<span>/</span>
			<span class="datacell" data-varname="if_3_centreFreq" data-formatter="formatters.toFixed(0)"></span>
			<span>/</span>
			<span class="datacell" data-varname="if_4_centreFreq" data-formatter="formatters.toFixed(0)"></span>
			<span>GHz</span>
		</div>
	</script>

	<script id="pointingtemplate" type="text/x-jsrender">
		<div>
			<span>Mode: </span>
			<span class="datacell" data-varname="telescope_observingMode"></span>
		</div>
		<div>
			<span>onSource: </span>
			<span class="datacell" data-varname="telescope_onSource"></span>
		</div>
		<div>
			<span>Source: </span>
			<span class="datacell" data-varname="telescope_sourceName"></span>
		</div>
		<div>
			<span class="datacell" data-varname="telescope_apparentRaDec" data-formatter="formatters.hoursdegrees()"></span>
		</div>
		<div>
			<span>AzEl: </span>
			<span class="datacell" data-varname="telescope_azimuthElevation" data-formatter="formatters.degreesdegrees()"></span>
		</div>
	</script>

	<script id="weathertemplate" type="text/x-jsrender">
		<div class="fgunit">
			<span>Temp:</span>
			<span class="datacell" data-varname="weather_temperature" data-formatter="formatters.toFixed(1)"></span>
			<span>K</span>
		</div>
		<div class="fgunit">
			<span>Humid:</span>
			<span class="datacell" data-varname="weather_relativeHumidity" data-formatter="formatters.toFixed(0)"></span>
			<span>%</span>
		</div>
		<div class="fgunit">
			<span>Wind:</span>
			<span class="datacell" data-varname="weather_windSpeed" data-formatter="formatters.toFixed(1)"></span>
			<span>m/s</span>
		</div>
		<div class="fgunit">
			<span>Tau:</span>
			<span class="datacell" data-varname="weather_tau225" data-formatter="formatters.toFixed(2)"></span>
		</div>
	</script>

	<script id="recordertemplate" type="text/x-jsrender">
		<span class="title">recorder</span>
		<div class="fgunit">
			<span>online:</span>
			<span class="datacell" data-varname="recorder_1_online" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="recorder_2_online" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="recorder_3_online" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="recorder_4_online" data-formatter="formatters.toFixed(0)"></span>
		</div>
		<div class="fgunit">
			<span>recording:</span>
			<span class="datacell" data-varname="recorder_1_recording" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="recorder_2_recording" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="recorder_3_recording" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="recorder_4_recording" data-formatter="formatters.toFixed(0)"></span>
		</div>
		<div class="fgunit">
			<span># disks:</span>
			<span class="datacell" data-varname="recorder_1_diskfreeNofDisks"></span>
			<span class="datacell" data-varname="recorder_2_diskfreeNofDisks"></span>
			<span class="datacell" data-varname="recorder_3_diskfreeNofDisks"></span>
			<span class="datacell" data-varname="recorder_4_diskfreeNofDisks"></span>
		</div>
		<div class="fgunit">
			<span>Used:</span>
			<span class="datacell" data-varname="recorder_1_diskfreeUsed" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="recorder_2_diskfreeUsed" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="recorder_3_diskfreeUsed" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="recorder_4_diskfreeUsed" data-formatter="formatters.toFixed(0)"></span>
			TB
		</div>
		<div class="fgunit">
			<span>Free:</span>
			<span class="datacell" data-varname="recorder_1_diskfreeFree" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="recorder_2_diskfreeFree" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="recorder_3_diskfreeFree" data-formatter="formatters.toFixed(0)"></span>
			<span class="datacell" data-varname="recorder_4_diskfreeFree" data-formatter="formatters.toFixed(0)"></span>
			TB
		</div>
		<div class="fgunit">
			<span>fillFactor:</span>
			<span class="datacell" data-varname="recorder_fillFactorMin" data-formatter="formatters.toFixed(2)"></span>&ndash;<!--
																															  --><span class="datacell" data-varname="recorder_fillFactorMax" data-formatter="formatters.toFixed(2)" style='white-space:pre'></span>
			%
		</div>
	</script>

	<script id="dbetemplate" type="text/x-jsrender">
		<span class="title">dbe</span>
	</script>

	<script id="bdctemplate" type="text/x-jsrender">
		<span class="title">bdc</span>
		<div class="fgunit">
			<span>dcFreq:</span>
			<span class="datacell" data-varname="bdc_1_dcFreq" data-formatter="formatters.toFixed(2)"></span>
		</div>
	</script>

	<script id="gpstemplate" type="text/x-jsrender">
		<span class="title">gps</span>
	</script>

	<script id="masertemplate" type="text/x-jsrender">
		<span class="title">maser</span>
		<div>Lock: <span class="datacell" data-varname="maser_lock"></span></div>
	</script>

	<script id="messagestemplate" type="text/x-jsrender">
		<div id="statusmessage"></div>
		<div id="weathermessage"></div>
	</script>






	<script>

		const namemap = {
			'AA': 'ALMA',
			'AP': 'APEX',
			'PV': 'PICO',
			'SP': 'SPT',
			'LM': 'LMT',
			'AZ': 'SMTO',
			'JC': 'JCMT',
			'SM': 'SMA',
			'GL': 'GLT',
			'KP': 'KP',
			'PV': 'PICO',
			'GL': 'GLT',
			'AX': 'APEX',
			'SZ': 'SPT',
			'AA': 'ALMA',
			'LM': 'LMT',
			'MG': 'SMTO',
			'MM': 'JCMT',
			'SW': 'SMA',
		};
		var namemap_inv = {}
		for (key in namemap) {
			let val = namemap[key]
			namemap_inv[val] = key
		}

		function splitCoords(input) {
			if (input==undefined) return [0,0];
			var isplit = input.search(/[^^][+-]/) + 1;
			var dec = input.slice(isplit);
			var ra = input.slice(0, isplit);
			return [ra,dec];
		}


		// formatters are parametric functions that take arguments and return
		// a function that can be used as a formatter
		formatters = {
			format_minsec: function(val) {
				var valorig = Number(val);
				// split parts:
				var val = Math.abs(valorig);
				var deg = Math.trunc(val);
				var min = Math.trunc((val - deg)*60);
				var sec = Math.trunc((val - deg - min/60)*60*60);
				// format each part:
				var sign = (valorig >= 0.0)?"+":"-";
				deg = deg.toString().padStart(2,"0");
				sec = sec.toString().padStart(2,"0");
				min = min.toString().padStart(2,"0");
				// put it al back together
				return sign + deg + "h&nbsp;" + min + "'&nbsp;" + sec + "\"";
			},
			fromBoolean: function(trueval, falseval) {
				return function(x) {
					if(x) return trueval;
					else return falseval;
				}
			},
			toFixed: function(digits) {
				return function(x) {
					if(isNaN(x)) return undefined;
					return Number(x).toFixed(digits);
				}
			},
			hoursdegrees: function() {
				return function(x) {
					if(x==undefined) return undefined;
					var isplit = x.search(/[^^][+-]/) + 1;
					var ra = x.slice(0, isplit);
					var ra = formatters.format_minsec(ra);
					var dec = x.slice(isplit);
					var dec = formatters.format_minsec(dec).replace("h", "°");
					return ra + "&nbsp;" + dec;
				}
			},
			degreesdegrees: function() {
				return function(x) {
					if(x==undefined) return undefined;
					var isplit = x.search(/[^^][+-]/) + 1;
					var ra = x.slice(0, isplit);
					var ra = formatters.format_minsec(ra).replace("h", "°");
					var dec = x.slice(isplit);
					var dec = formatters.format_minsec(dec).replace("h", "°");
					return ra + "&nbsp;" + dec;
				}
			}
		}


		function sprintTime(seconds, longform) {
			var t = seconds / 31536000;
			if (Math.abs(t) > 1) { return Math.round(t) + (longform?" year"+(Math.abs(t)!=1?"s":""):"y"); }
			t = seconds / 2592000;
			if (Math.abs(t) > 1) { return Math.round(t) + (longform?" month"+(Math.abs(t)!=1?"s":""):"M"); }
			t = seconds / 86400;
			if (Math.abs(t) > 1) { return Math.round(t) + (longform?" day"+(Math.abs(t)!=1?"s":""):"d"); }
			t = seconds / 3600;
			if (Math.abs(t) > 1) { return Math.round(t) + (longform?" hour"+(Math.abs(t)!=1?"s":""):"h"); }
			t = seconds / 60;
			if (Math.abs(t) > 1) { return Math.round(t) + (longform?" minute"+(Math.abs(t)!=1?"s":""):"m"); }
			return Math.round(seconds) + (longform?" second"+(Math.abs(t)!=1?"s":""):"s");
		}
		// makeImgUrl adds a bogus GET parameter to the string url
		// which changes every validSeconds to enforce refreshing of the image:
		function makeImgUrl(url) {
			// var url = record.data.value;
			var validSeconds = 300;
			//url += "?" + Math.round((new Date()).getTime() / (validSeconds * 1000));

			return url;
		}

		function make_table(element, observatoryname, data) {
			//-- template string
			const Table = ({i}) => `<div class='tstabled'><table class='tstable' id='tstable-${i}'><caption></caption><tbody></tbody></table></div>`;

			var odiv = $(element);
			odiv.empty();

			odiv.append(Table({"i": observatoryname}));
			var table = $('#tstable-' +observatoryname, odiv);

			$.each(data[observatoryname], function(i, dataPoint) {
				if (dataPoint.value == undefined) return;
				if (dataPoint.date == undefined) return;
				var t = new Date(1000*dataPoint.date);
				var dt = (new Date() - t)/1000;
				var tr = $('<tr>');
				$('<td>').html(i).appendTo(tr);
				$('<td>').html(dateFormat(t, 'yy-mm-dd HH:MM:ss')).appendTo(tr);
				$('<td>').html(sprintTime(dt)).appendTo(tr);
				if(typeof(dataPoint.value) === "boolean") {
					$('<td>').text(dataPoint.value).appendTo(tr);
				} else {
					$('<td>').html(dataPoint.value).appendTo(tr);
				}
				$('tbody', table).append(tr);
			});

			return table;
		};

		function updateData() {
			$(".warning").removeClass("warning");
			$(".error").removeClass("error");
			$(".tooltiptext").remove();
			$(".missing").removeClass("missing");
			$(".outdated").removeClass("outdated");
			$(".validitycell").each(function(i, element) {
				var observatoryname = $(element).closest(".observatorypanel").attr("id");
				var varname = $(element).attr("data-varname");

				// if data not missing we eval the background color
				if (datastore.data[observatoryname]!=undefined && datastore.data[observatoryname][varname] != undefined) {
					// check for validFunctions that return false
					if( !(datastore.data[observatoryname][varname].valid)) {
						$(element).addClass("error");

						//if (datastore.data[observatoryname][varname]. != undefined) {

						var div = $('<div/>')
						div.addClass("tooltiptext");
						datastore.data[observatoryname][varname].reason.forEach(function(el) {
							div.append('<div>' + el + '</div>');
						});
						div.appendTo($(element));
						//}
					}
				}
			});
			$(".clientupdatecell").each(function(i, element) {
				var observatoryname = $(element).closest(".observatorypanel").attr("id");
				var varname = $(element).attr("data-varname");

				var client = datastore.clients[observatoryname];
				if (client == undefined) return;
				var record = client[observatoryname + ' ' + varname];
				if(record == undefined) return;

				// row.find("time.updatetime").attr("datetime",new Date(record.recvTime).toISOString());//
				// row.find("time.updatetime").attr("title", new Date(record.recvTime).toUTCString());
				var t = new Date(record.recvTime);
				//var tstr = t.toISOString().replace("T", " ").replace(/\.\d+Z/, "");
				str = '<span>'+ varname +'</span>';
				//str += '<span>'+ tstr +'</span>';
				str += ' <span>('+ sprintTime((new Date() - t)/1000) + ')</span>';
				$(element).html(str);
			});
			$(".datacell").each(function(i, span) {
				// get the basic data:
				var observatoryname = $(span).closest(".observatorypanel").attr("id");
				var varname = $(span).attr("data-varname");
				var value = undefined;
				if (datastore.data[observatoryname]!=undefined && datastore.data[observatoryname][varname] != undefined) {
					value = datastore.data[observatoryname][varname].value;
				}
				var vartyp = typeof(value);
				// check for a custom formatter
				if($(span).attr("data-formatter")!=undefined) {
					// var formatter;
					eval("var formatter="+$(span).attr("data-formatter"));
					// formatter is now of type 'function'
					value = formatter(value);
				}
				// TODO: check for a formatFunction in metadata
				// othewise the default formatter simply checks for undefinedness
				if(value == undefined) {
					value = '---';
				} else if(typeof value === "boolean") {
					value = value.toString();
				}

				if (datastore.data[observatoryname]==undefined || datastore.data[observatoryname][varname]==undefined ||
					! "valueFunction" in datastore.metadata[observatoryname][varname] ||
					datastore.metadata[observatoryname][varname].valueFunction == undefined) {
					if(vartyp === "number" || vartyp === "boolean") {
						value = "<a href='/graph.html?observatory=" + observatoryname + "&field=" + varname + "'>" + value + "</a>";
					} else if(vartyp !== "undefined") {
						value = "<a href='/table.html?observatory=" + observatoryname + "&field=" + varname + "'>" + value + "</a>";
					}
				}
				$(span).html(value);

				if (datastore.data[observatoryname]==undefined || datastore.data[observatoryname][varname] == undefined) {
					$(span).closest(".horizontal>*,.vertical>*").addClass("missing");
					//} else {
					//	// check for outdated-ness
					//	if(	"cadence" in datastore.metadata[observatoryname][varname]
					//		&& datastore.metadata[observatoryname][varname].cadence > 0) {
					//		var dt = (new Date() - new Date(1000*datastore.data[observatoryname][varname].date))/1000;
					//		if(dt > datastore.metadata[observatoryname][varname].cadence) {
					//			$(span).closest(".fgunit").addClass("outdated");
					//		}
					//	}
				}
			});

			$(".datatable").each(function(i, element) {
				var observatoryname = $(element).closest(".observatorypanel").attr("id");
				if (datastore.data[observatoryname]==undefined) return;
				make_table(element, observatoryname, datastore.data);
			});
		}


		lastIdsPerSource = {};
		
		function updateSchedule() {
			// current and next scan info:
			var warnings = [];
			var cur = getCurrentScheduleItem(warnings);
			var {next, vex} = getNextScheduleItem(warnings);
			var exper = getCurrentExperiment();

			var experimenttimephrase;
			if (exper == undefined) {
				experimenttimephrase = "---";
			} else if (new Date(exper.StartTime) > new Date()) {
				experimenttimephrase = sprintTime(new Date(exper.StartTime)/1000 - new Date()/1000,true) + " until start";
			} else {
				experimenttimephrase = sprintTime(new Date(exper.StopTime)/1000 - new Date()/1000,true) + " remaining";
			}

			$.observable(viewdata).setProperty("schedule.isactive", !!cur);
			$.observable(viewdata).setProperty("schedule.experiment", {
				name: exper?exper.Name:"No experiment in schedule",
				timephrase: experimenttimephrase
			});
			$.observable(viewdata).setProperty("schedule.currentscan", {
				name: cur?cur.ScanId:"---",
				source: cur?cur.Source:"---",
				remaining: cur?sprintTime(new Date(cur.StopTime)/1000 - new Date()/1000, true):"---",
				duration: cur?sprintTime(new Date(cur.StopTime)/1000 - new Date(cur.StartTime)/1000, true):"---",
				mode: cur?cur.Mode:"---",
				stations: cur?($.map(cur.Stations, function(st){return st.StationName}).join(", ")):"---"
			});
			$.observable(viewdata).setProperty("schedule.nextscan", {
				name: next?next.ScanId:"---",
				source: next?next.Source:"---",
				remaining: next?sprintTime(new Date(next.StartTime)/1000 - new Date()/1000, true):"---",
				duration: next?sprintTime(new Date(next.StopTime)/1000 - new Date(next.StartTime)/1000, true):"---",
				mode: next?next.Mode:"---",
				stations: next?($.map(next.Stations, function(st){return st.StationName}).join(", ")):"---"
			});

			// progress matrix
			//debugger;
			if (datastore.schedule.$SCHED == undefined) {
				$.observable(viewdata).setProperty("schedule.progress", []);
			} else {
				$.get('/obslog', {
					facility: undefined,
					vexid: viewdata.schedule.experiment.name,
					last: JSON.stringify(lastIdsPerSource)
				}, dataType='json').done(function(response, textStatus, request) {
					var messages = JSON.parse(response)
					for (let msg of messages) {
						if (!(String(msg.Id) in datastore.obslog)) {
							msg.ApplyTime = 1000 * msg.ApplyTime;
							// insert
							datastore.obslog[String(msg.Id)] = msg;
							// update front
							lastIdsPerSource[msg.Source] = msg.Id;
						}
					}
					// one-pass to collect all final quality assignments
					messages = Object.values(datastore.obslog).sort((a,b)=>a.ApplyTime - b.ApplyTime)
					let ratings = {}
					for (let msg of messages) {
						if (msg.Type != 'rating') continue;
						ratings[msg.Facility.toLowerCase() + msg.ScanId.toLowerCase()] = msg.Content;
					}
					// merge obslog with schedule progress view
					let now = new Date().getTime();
					let progress = []
					let i = 0
					for (let scanid in datastore.schedule.$SCHED) {
						let scan = datastore.schedule.$SCHED[scanid];
						progress[i] = {
							name: scanid,
							start: moment.utc(scan.start).format('HH:mm'),
							stop: moment.utc(scan.stop).format('HH:mm'),
							stations: [],
							active: scan.start < now && scan.stop > now,
							future: scan.start > now
						}
						// add stations info:
						for (let stationid in datastore.schedule.$STATION) {
							let facility = namemap[stationid.toUpperCase()];
							progress[i].stations.push({
								name: stationid,
								participates: scan.station.some(x=>x.$STATIONkey==stationid),
								upcomming: 1 - (now > scan.start) - (now > scan.stop),
								starrating: ratings[facility.toLowerCase() + scanid.toLowerCase()]
							});
						}
						// increment i
						i = i + 1
					}
					$.observable(viewdata.schedule).setProperty('progress', progress);
					
					//markOverruled()
					//componentHandler.upgradeDom()
					
				}).fail(function(response) {
					if (response.status == 401) {
						window.localStorage.setItem('returnurl', window.location.href);
						window.location.replace('/login.html');
					} else {
						showMessage("server error: "+ response.responseText);
					}
				});
			}
		}


		function updatePlots() {
			$.each(["tau225", "windSpeed"],function(i,type) {
				$.each(datastore.metadata, function(observatoryname) {
					if(datastore.metadata[observatoryname]==undefined || datastore.data[observatoryname]==undefined) return true; // continue
					if(! datastore.visibility.observatories[observatoryname]) return true;
					var image = new Image();
					image.onload = function () {
						var img_elem = $("img#"+type+"_"+observatoryname);
						img_elem.attr("src",image.src);
					}
					// get the appropriate image url
					var url = "/img/plots/"+type+"."+observatoryname+".d10.png";
					url = makeImgUrl(url);
					image.src = url;
				});
			});
		}



		function resizemaps() {
			// if no metadata was received this will simply skip
			// upon arrival it will be called again so we don't have to do anything special here
			$.each(datastore.metadata, function(observatoryname, observatorydata) {
				// the background image is set to "cover" the area.
				// i.e. it will grow proportionally to fill the container
				// clipping borders if needed. This needs we need to do
				// a small calculation to find the correct coordinates for
				// the crosshair:
				var img_elem = $("#weathermap_"+observatoryname);

				if(img_elem.length==0) return;

				var xscale = img_elem.width() / img_elem.data("realwidth");
				var yscale = img_elem.height() / img_elem.data("realheight");

				// the coordinates relative to the source image are in the metadata
				var x = datastore.data[observatoryname]["weatherMap_waterVapor_observatoryX"].value;
				var y = datastore.data[observatoryname]["weatherMap_waterVapor_observatoryY"].value;

				// process the scaling (remember that we cover the container, so we take the max of the scales)
				x = x * Math.max(xscale, yscale);
				y = y * Math.max(xscale, yscale);

				// now offset for the part that has been cut off
				if(xscale > yscale) {
					// top/bottom borders are cut off
					var offset = y - img_elem.height()/2;
					var maxoffset = img_elem.data("realheight")*xscale - img_elem.height();
					offset = Math.max(0, Math.min(offset, maxoffset));
					y = y - offset;
					img_elem.css("background-position-x", 0);
					img_elem.css("background-position-y", -offset);
				} else {
					// left/right borders are cut off
					var offset = x - img_elem.width() /2;
					var maxoffset = img_elem.data("realwidth")*yscale - img_elem.width();
					offset = Math.max(0, Math.min(offset, maxoffset));
					x = x - offset;
					img_elem.css("background-position-x", -offset);
					img_elem.css("background-position-y", 0);
				}

				img_elem.parent().find(".map_crosshair").css("left", x);
				img_elem.parent().find(".map_crosshair").css("top", y);
				img_elem.parent().find(".map_crosshair").show();
			});
		}
		$(window).resize(resizemaps);


		function updateWeatherMaps() {
			var imagedeferreds = [];
			$.each(datastore.metadata, function(observatoryname,observatorydata) {
				if(observatorydata==undefined) return true; // continue
				if(! datastore.metadata[observatoryname]) return true;
				if(! ("weatherMap_waterVapor_url" in observatorydata )) return true;
				if(! datastore.data[observatoryname]["weatherMap_waterVapor_observatoryX"]) return true;
				if(! datastore.data[observatoryname]["weatherMap_waterVapor_observatoryY"]) return true;
				if(! datastore.visibility.observatories[observatoryname]) return true;


				// create new image obj
				var image = new Image();
				var defer = $.Deferred();
				imagedeferreds.push(defer);
				image.onload = defer.resolve;
				defer.done(function(){
					var img_elem = $("#weathermap_"+observatoryname);
					img_elem.data("realwidth", image.width);
					img_elem.data("realheight", image.height);
					img_elem.css("background-image","url("+image.src+")");


					//img_elem.attr("src",image.src);
					//var x = datastore.data[observatoryname]["weatherMap_waterVapor_observatoryX"].value / image.width * img_elem.width();
					//var y = datastore.data[observatoryname]["weatherMap_waterVapor_observatoryY"].value / image.height * img_elem.height();
					//img_elem.parent().find(".map_crosshair").css("left",x);
					//img_elem.parent().find(".map_crosshair").css("top",y);

					//img_elem.parent().find(".map_crosshair").show();

				});

				// get the appropriate image url
				var url = datastore.data[observatoryname]["weatherMap_waterVapor_url"].value;
				if (url == undefined) return
				url = `/img/weatherMaps/${url}`;
				image.src = url;
			});

			$.when.apply($,imagedeferreds).then(resizemaps);
			resizemaps();
		}


		var horizonsdeferred = $.Deferred();
		function makeHorizons() {
			if(Object.keys(datastore.metadata).length==0) { // initially datastore.metadata = {}
				datastore.onMetadata(function() {
					makeHorizonMaps();
					horizonsdeferred.resolve();
				});
			}else {
				makeHorizonMaps();
				horizonsdeferred.resolve();
			}


			// when new data is received
			datastore.onUpdate(function() {
				// stall until horizons are there, executes immediately if already done
				horizonsdeferred.done(updateSchedulesAndPointers);
			});
		}


		function updateClocks() {
			var now = new Date();
			$('.datetimecell[data-varname="utc"]').text(now.toISOString().slice(11,19));

			if(datastore.data) {
				$('.datetimecell[data-varname="lst"]').text(function() {
					var observatoryname = $(this).closest(".observatorypanel").attr('id');
					// console.log("calculating clock offset for "+observatoryname);
					if (datastore.data[observatoryname]==undefined) return "--:--:--";
					if (datastore.data[observatoryname]["observatory_coordinates"]==undefined) return "--:--:--";
					var long = splitCoords(datastore.data[observatoryname]["observatory_coordinates"].value)[1];
					// console.log("longitude: "+long);
					// var offset_ms = 24 * 1000 * 3600 * long / 360;
					var offset_ms = 240000 * long ;
					return new Date(now.getTime()+offset_ms).toISOString().slice(11,19);
				});
			}
			var mon = (""+(now.getUTCMonth()+1)).padStart(2,"0");
			var day = (""+now.getUTCDate()).padStart(2,"0");
			$('.datetimecell[data-varname="date"]').text(now.getUTCFullYear()+"/"+mon+"/"+day);

			var startofyear = new Date(Date.UTC(now.getUTCFullYear(), 0, 1));
			var diff = (now - startofyear);
			var oneDay = 1000 * 60 * 60 * 24;
			$('.datetimecell[data-varname="dayofyear"]').text(1+Math.floor(diff / oneDay));

			var JD = gregorianToJulianDay(
				now.getUTCFullYear(),
				now.getUTCMonth() + 1,
				now.getUTCDate(),
				now.getUTCHours(),
				now.getUTCMinutes(),
				now.getUTCSeconds());
			$('.datetimecell[data-varname="mjd"]').text(JD.toFixed(6));
		}

		function updateMessages() {
			$.each(datastore.metadata, function(observatoryname) {
				if ($("#"+observatoryname).length == 0) return;
				$.each(["status","weather"], function(i,type) {
					// get messages:
					var allmessages = undefined;
					if (datastore.messages[observatoryname] != undefined && 'status' in datastore.messages[observatoryname])
					{
						var allmessages = datastore.messages[observatoryname][type];
					}
					if(allmessages != undefined) {
						var lastmsg = allmessages[allmessages.length-1];
						if (lastmsg==undefined || lastmsg.username==undefined) {
							$("#"+observatoryname+" #"+type+"message").text("no "+type+" messages yet");
							return;
						}
						// format the output
						var dt = (new Date() - new Date(lastmsg.recvTime))/1000;
						var nameparts = lastmsg.username.split(' ');
						var displayname = nameparts[0];
						if(nameparts.length > 1) {
							displayname += " " + nameparts[1][0] +".";
						}
						$("#"+observatoryname+" #"+type+"message").text(
							displayname+
							"("+sprintTime(dt)+"): "+
							lastmsg.content
						);
					} else {
						$("#"+observatoryname+" #"+type+"message").text("no "+type+" messages yet");
					}
				});
			});
			var pixelspersecond = 50;
			animations = "";
			// make it scrolling
			$(".messages").each(function(i, marquee) {
				// console.log("duplicating")
				// console.log(marquee)
				var width = $(marquee).width();
				if(width < 1) return; // if there are no messages then skip
				$(marquee).css('animation-duration', (width/pixelspersecond).toString()+"s");
				$(marquee).css('animation-name', "marquee"+i);
				animations += "\
		@keyframes marquee"+i+" {\
			from {margin-left: 0px; }\
			to {margin-left: -"+width+"px; }\
		}";
				// duplicate items
				var marqueetext = $(marquee).html();
				var numcopies = $(document).width()/$(marquee).width();
				for (i=0 ; i<numcopies ; i++) {
					$(marquee).html($(marquee).html()+marqueetext);
				}
			});

			// process the animations through less for ultimate browser compatibility
			less.render(animations).then(function(output){
				$("head #marqueeanimations").html(output.css);
			});
		}


		/* autogrid sets the grid to such a size that as much info as possible
		   fit on the screen but possibly overflowing if no more columns fit.
		   E.g., on mobile devices in portrait mode everything becomes 1 column. */
		function autogrid() {
			// experimentally determined: it is 'nice' to have at least 300px per column:
			var numcols = Math.floor(($(window).width()-76)/300);
			numcols = Math.max(Math.min(numcols, 5),1);
			var numrows = [1,1,1,2,2,2][numcols];
			// console.log("preferred size: "+numcols+"x"+numrows);
			// this sets the pre-selected value in mdl. therefore it can only be used before mdl is run
			$('li[data-val="grid'+numcols+'x'+numrows+'"]').attr('data-selected','true');
		}


		/* fitgrid sets a grid size that ensures all enabled/visible obsaervatories
		   fit on the grid possibly making some boxes too small but fitting everyting
		   on one screen. */
		function fitgrid() {
			var numobs = $.map(datastore.visibility.observatories, function(i,o){return i?o:undefined}).length;
			//if(initScheduleSwitch()) numobs += 1;
			if ($("input#scheduleswitch").parent().hasClass('is-checked')) numobs += 1;
			if ($("input#progressswitch").parent().hasClass('is-checked')) numobs += 1;

			var layouts = [
				undefined, // 0
				'1x1', //  1
				'2x1', //  2
				'3x2', //  3
				'3x2', //  4
				'3x2', //  5
				'3x2', //  6
				'4x2', //  7
				'4x2', //  8
				'5x2', //  9
				'5x2', // 10
				'6x2', // 11
				'6x2', // 12
				'7x2', // 13
				'7x2', // 14
				'8x2', // 15
				'8x2'  // 16
			];
			var gridsize = layouts[numobs];
			if(gridsize == undefined) {
				console.log("No grid size fits "+numobs+" observatories and a schedule block!!!!");
				gridsize = '1x1';
			}
			// triggering a fake click is a bit of a hack but does the job in all possible circumstances
			selectGridSize(gridsize);
		}

		function selectGridSize(dim) {
			var newgridsize = dim.split('x');
			$('#observatorygrid').removeClass(); // remove any old classes
			$('#observatorygrid').addClass('grid');
			$('#observatorygrid').addClass('columncount'+newgridsize[0]);
			$('#observatorygrid').addClass('rowcount'+newgridsize[1]);
		}

		function initScheduleSwitch() {
			var schedulevisible = getURLParameter("schedule") == null || getURLParameter("schedule") == 'true';
			if (schedulevisible) $("input#scheduleswitch").parent().addClass('is-checked');
			$("input#scheduleswitch").attr('checked', schedulevisible);

			var progressvisible = getURLParameter("progress") == "true";
			if (progressvisible) $("input#progressswitch").parent().addClass('is-checked');
			$("input#progressswitch").attr('checked', progressvisible);
		}

		function initFontSize() {
			if (getURLParameter("kiosk")=='true') {
				// at this point mdl components are not yet functional/firing events
				$('input#fontslider').val(140);
				$('#observatorygrid').css('font-size', "140%");
				$('#observatorygrid').css('line-height', "140%");
			}
		}

		function initTemplate () {
			var template = 'summarylayouttemplate';
			if(getURLParameter("template")) {
				template = getURLParameter("template");
			}
			$('li[data-val="'+template+'"]').attr('data-selected','true');
		}

		var viewdata;
		function initViewData() {
			viewdata = {
				visibleobservatories: $.map(datastore.visibility.observatories, function(visible, obsname) {
					if (!visible) return;
					return {
						name: obsname
					}
				}),
				template: '#'+$('li[data-selected="true"]').attr('data-val'),
				schedule: {
					isvisible: !!($('input#scheduleswitch').attr('checked')),
					progressvisible: !!($('input#progressswitch').attr('checked')),
					progress: [],
					isactive: true,
					experiment: {
						name: "BHC spring 2018",
						timephrase: '2 months until start'
					},
					currentscan: {
						name: "---",
						source: "---",
						remaining: "---",
						duration: "---"
					},
					nextscan: {
						name: "Scan_001",
						source: "SGRA*",
						remaining: "2 months",
						duration: "15 minutes"
					}
				}
			};
			$.templates("#gridtemplate").link("#observatorygrid", viewdata);
		}

		function initGuiControls() {
			// bind event to template change dropdown:
			$('input#template').change(function() {
				console.log("template changed. re-rendering page...");
				// get the actual value from the other input element:
				var newtemplatename = $("input[name='template']").val();
				$.observable(viewdata).setProperty("template", "#"+newtemplatename);
				updateWeatherMaps();
				resizemaps();
				updateData();
				updateMessages();
				updatePlots();
				makeHorizons();
			});


			// monitor font slider:
			function changefontsize() {
				console.log("font scale:" + $('input#fontslider').val());
				var scale = $('input#fontslider').val();
				$('#observatorygrid').css('font-size', scale+"%");
				$('#observatorygrid').css('line-height', scale+"%");
			}
			// $('input#fontslider').change(changefontsize);
			$('input#fontslider')[0].oninput = changefontsize;

			// bind event to schedule visibility toggle:
			$('input#scheduleswitch').parent().change(function() {
				var state = $(this).hasClass("is-checked");
				$.observable(viewdata).setProperty("schedule.isvisible", state);
				fitgrid();
			});
			$('input#progressswitch').parent().change(function() {
				var state = $(this).hasClass("is-checked");
				$.observable(viewdata).setProperty("schedule.progressvisible", state);
				fitgrid();
			});
		}


		$(function() {
			// install the update routines:
			datastore.obslog = {}
			
			datastore.onUpdate(function(){
				console.log("updating data in gui");
				updateData()
			});
			datastore.onUpdate(updateSchedule);
			datastore.onUpdate(updateWeatherMaps);
			datastore.onUpdate(updateMessages);
			// datastore.onUpdate(updateHorizons);


			datastore.config.showcountdown = true;
			// start fetching data
			datastore.init().done(function() {
				// initialize gui components:
				console.log("datastore init done");

				initScheduleSwitch();
				initTemplate();
				initViewData();    // depends on switch and template
				initGuiControls(); // depends on viewdata

				fitgrid();
				resizemaps();
				initFontSize();

				// the plots
				updatePlots();
				setInterval(updatePlots,600000);

				// the clocks
				updateClocks();
				setInterval(updateClocks,1000);

				// visual queue that init is done
				$("#initialspinner").remove();
				console.log("gui init done");
			});
		});



		// run a separate clock update routine each second:
		function clockLoop() {
			setTimeout(clockLoop,1000);
			updateClocks();
		}
	</script>

</body>
</html>
<!-- vim: set ft=javascript noet: -->
