{{template "docstart"}}

<link rel="stylesheet/less" type="text/less" href="/css/obslog.css"></link>

<script src="/js/valueresolution.js"></script>
<script src="/js/vexparser.js"></script>
<script src="/js/md5.js"></script>
<script src="/js/datastore2.js"></script>


<script type="text/javascript" src="/js/moment.min.js"></script>


<!-- templates -->
<script src="/js/jsrender.min.js"></script>
<script src="/js/jsviews.min.js"></script>
<script type="text/javascript">
	const namemap = {
        'AA': 'ALMA',
        'AP': 'APEX',
        'PV': 'PICO',
        'SP': 'SPT',
        'LM': 'LMT',
        'AZ': 'SMTO',
        'JC': 'JCMT',
        'SM': 'SMA',
        'GL': 'GLT',
		'KP': 'KP',
		'PV': 'PICO',
		'GL': 'GLT',
		'AX': 'APEX',
		'SZ': 'SPT',
		'AA': 'ALMA',
		'LM': 'LMT',
		'MG': 'SMTO',
		'MM': 'JCMT',
		'SW': 'SMA',
    };
	// change default double { and } tags in jsviews/jsrender to {| and |}
	// because we already use double { and  double } in server side (go) templates
	// note that {^{:data}} also changes to {^|:data|}.
	// Note to self: if you try to use [[]] instead array indices break
	$.views.settings.delimiters("{|", "|}");
	$.views.settings.debugMode(true);
	$.views.helpers('debug', function(val) {
		console.log(val);
		return val;
	});
	$.views.helpers('keys', function(){
		f = function(obj) {
			return Object.keys(obj);
		}
		f.depends = '*';
		return f;
	}());
	$.views.helpers('types', function() {
		f = function() {
			console.log('types re-evaluated')
			res = new Set() // hashset
			for (let id in this.data.messages) {
				res.add(this.data.messages[id].Type)
			}
			return [...res]
		}
		f.depends = ["messages.**"];
		return f;
	}());
	$.views.helpers('last', function() {
		f = function(list) {
			if (list!=undefined && list.length > 0){
				return list.slice(-1)[0]
			}
			return {'Content': ''}
		}
		f.depends=["messages.**"]
		return f;
	}());
	$.views.helpers('mergeL1', function() {
		f = function(groups) {
			let res = []
			for (key in groups) {
				res = res.concat(groups[key])
			}
			res.sort((a,b) => a.ApplyTime - b.ApplyTime)
			return res
		}
		f.depends = ["prop.**"]
		return f;
	}());
	$.views.helpers('mergeL2', function() {
		f = function(groups) {
			let res = []
			for (key in groups) {
				let subgroup = groups[key]
				for (subkey in subgroup) {
					res = res.concat(subgroup[subkey])
				}
			}
			res.sort((a,b) => a.ApplyTime - b.ApplyTime)
			return res
		}
		f.depends = ["messages.**"]
		return f;
	}());
	
	$.views.helpers('groupby', function() {
		f = function(objects, prop) {
			res = {};
			for (let id in objects) {
				let type = objects[id][prop]
				if (!(type in res)) res[type] = [];
				res[type].push(objects[id])
			}
			return res;
		}
		f.depends = "*";
		return f;
	}());
	$.views.helpers('nonEmpty', function(o) {
		return Object.keys(o).length > 0;
	});
	$.views.helpers('less', function(a, b) {
		return a < b;
	});
	$.views.helpers('len', function(o) {
		return Object.keys(o).length;
	});
	$.views.helpers('postRating', function(scan, stars) {
		if (viewdata.facility == undefined) {
			showMessage("Cannot post before selecting a facility.");
			return;
		}
		console.log('stars: '+stars);
	});
	$.views.helpers('range', function(num) {
		let a = [];
		for (let i=0; i<num; i++) {
			a.push(i)
		}
		return a;
	});
	$.views.helpers('isActive', function(stations, facility) {
		
		if (viewdata.facility == undefined)	{
			return false;
		}
		for (let s of stations) {
			if (namemap[s.$STATIONkey.toUpperCase()] == viewdata.facility) {
				return true;
			}
		}
		return false;
	});
	$.views.helpers('stars', function(num) {
		let e = $('<span>');
		for (let i=0; i<num; i++) {
			let star = $('<i>');
			star.addClass('material-icons');
			star.html(i==0?'undo':'star');
			e.append(star);
		}
		return e.get(0);
	});
	$.views.helpers('itemat', function(arr, index) {
		console.log("item index recomputed");
		return arr[index];
	});
	$.views.helpers('realOrDirty', function(real, dirty) {
		//debugger
		let elem = $(this.linkCtx.elem);
		// never change if it has focus
		if (elem.is(':focus')) {
			return elem.val();
		}
		if (dirty) {
			elem.parent().addClass('is-dirty');
			return dirty;
		} else {
			elem.parent().removeClass('is-dirty');
			return real;
		}
	});
	$.views.helpers('timeOrClock', function(itemtime, clocktime) {
		let elem = this.contents().find('input.time');
		// never change if it has focus
		if (elem.is(':focus')) {
			return elem.val();
		}
		if (itemtime==undefined)
			return moment.utc(clocktime).format('YYYY-MM-DD HH:mm');
		else
			return moment.utc(itemtime).format('YYYY-MM-DD HH:mm');
	});
	$.views.helpers('parseDate', function(datestr) {
		let m = moment.utc(datestr);
		if (!m.isValid()) {
			console.log('moment cound not parse date '+datestr)
			return undefined;
		}
		return m.valueOf();
	});
	$.views.converters("ago", function(timestamp) {
		return moment(timestamp).fromNow();
	});
	$.views.converters("duration", function(start, end) {
		if (start==undefined || end==undefined) return ""
		dt = Math.round((end - start) / 1000);
		let m = Math.floor(dt / 60)
		let s = dt - 60*m;
		return m+"m"+s+"s";
	});
	$.views.converters("longtime", function(t) {
		if (t==undefined) return "unknown";
		return moment.utc(t).format("dddd D/M/YYYY [at] HH:mm [UTC]")
	})
	$.views.converters("shorttime", function(t) {
		if (t==undefined) return "unknown";
		let now = new Date().getTime();
		let dt = Math.round((now - t) / 1000);
		
		if (Math.abs(dt) < 12*3600) return moment.utc(t).format("[at] HH:mm")
		else return moment.utc(t).format("D/M/YYYY [at] HH:mm")
	});
</script>


<!-- css preprocessor, must be called after all stylesheets hence it's here and not in the docstart template -->
<script>
	less = {
		errorReporting: "console"
	};
</script>
<script src="js/less.min.js" type="text/javascript"></script>


<title>VLBI Monitor</title>

<script id="facility-dropdown-template" type="text/x-jsrender">
	<span class="mdl-list__item-primary-content">
		<i class="material-icons mdl-list__item-icon " style="color:white">view_quilt</i>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
			<input type="text" value="" class="mdl-textfield__input" id="facility" readonly>
			<input type="hidden" value="" name="facility">
			<i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
			<label for="facility" class="mdl-textfield__label">Change facility</label>
			<ul id="facility-dropdown" for="facility" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
				{^|for facilities|}
				<li class="mdl-menu__item" data-val="{|:#data|}">{|:#data|}</li>
				{|/for|}
			</ul>
		</div>
	</span>
</script>

<script id="vexfile-dropdown-template" type="text/x-jsrender">
	<span class="mdl-list__item-primary-content">
		<i class="material-icons mdl-list__item-icon " style="color:white">view_quilt</i>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
			<input type="text" value="" class="mdl-textfield__input" id="vexfile" readonly>
			<input type="hidden" value="" name="vexfile">
			<i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
			<label for="vexfile" class="mdl-textfield__label">Change vexfile</label>
			<ul id="vexfile-dropdown" for="vexfile" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
				{^|for vexfiles|}
				<li class="mdl-menu__item" data-val="{|:#data|}">{|:#data|}</li>
				{|/for|}
			</ul>
		</div>
	</span>
</script>


<script id="scantemplate" type="text/x-jsrender">
	schedule from {^|>schedule^filename|}
	{^|if facility == undefined|}
	<div>
		Please select a facility from the menu...
	</div>
	{|/if|}
	{^|for schedule^$SCHED|}
	{^|if type=='break'|}
	<div class="logentry break" id="{|:id|}">
		<div class="header">
			<div class="left">
				<div data-link="id|:id + '_duration'|">{^|duration:start stop|} break</div>
				<span class="mdl-tooltip" data-link="data-mdl-for|:id + '_duration'|">
					{|longtime:start|}
					<br/>until<br/>
					{|longtime:stop|}
				</span>
			</div>
			<div class="right">
				<div>
					<button data-link="id|:'addTo_'+id|" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">add</i></button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-link="for|:'addTo_'+id|">
						<li class="mdl-menu__item" data-link="|on ~expandBreak 'plain'|">Plaintext message</li>
						<li class="mdl-menu__item" data-link="|on ~expandBreak 'tsys'|">Tsys calibration</li>
						<li class="mdl-menu__item" data-link="|on ~expandBreak 'weather'|">Weather observation</li>
						<li class="mdl-menu__item" data-link="|on ~expandBreak 'tau225'|">Water vapormeasurement</li>
						<li class="mdl-menu__item" data-link="|on ~expandBreak 'focus'|">Focus calibration</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="columns">
			{^|props messages|}
			<div class="msgbox">
				<div class="vertical">
					<div>
						{^|:key|} updates:
					</div>
					<div><!-- log area -->
						{^|for ~mergeL1(prop)|}
						<div class="message" data-link="class|merge:pending toggle='pending'|">
							<span data-link="class|:Type|">
								<span data-link="class|:overruled|">
									{^|shorttime:ApplyTime ~root.slowclock|}:
									{|:User|}
									{^|if ~root.facility==undefined|}
									@{|:Facility|}
									{|/if|}
									{^|if Type == 'plain'|}
									: {|:Content|}
									{|else Type == 'rating'|}
									changed the quality	to {|:Content|} stars
									{|else|}
									changed the {|:Type|} to {|:Content|}
									{|/if|}
								</span>
							</span>
						</div>
						{|/for|}
					</div>
					{^|if ~root.facility != undefined|}
					<div class="obsreply"><!-- user input -->
						<div class="time mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="time mdl-textfield__input" type="text" _id="time" data-link="~timeOrClock(time, ~root.time) linkTo=time convertBack=~parseDate" />
						</div>
						<form class="plain" data-link="|on 'submit' ~onTextMsg key #parent.parent.parent.data.id |">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="text" _id="plain">
								<label class="mdl-textfield__label" for="plain">Type your {|:key|} update</label>
								<button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-link="class|merge:plaindirty toggle='mdl-button--colored'|">
									<i class="material-icons">send</i>
								</button>
							</div>
						</form>
					</div>
					{|/if|}
				</div>
			</div>
			{|/props|}
		</div>
	</div>
	{|else|}
	<div class="logentry scan" data-link="class|merge:~isActive(station, ~root.facility) toggle='active'|" id="{|:id|}">
		<div class="vertical">
			<div><!-- header -->
				<span class="name">{|:id|}</span>
				<span>{|duration:start stop|}</span>
				<span>Source: {|:source|}</span>
				<span data-link="id|:id + '_start'|">Start: {|shorttime:start|}</span>
				<span class="mdl-tooltip" data-link="data-mdl-for|:id + '_start'|">
					{|longtime:start|}
				</span>
				<br/>
				<span>/{|:~root.schedule.$GLOBAL.exper_name|}</span>
				<span>
					<span>stations:</span>
					{^|for station|}
					<button data-link="|on ~changeFacility $STATIONkey|">
						{|:$STATIONkey|}
					</button>
					{|/for|}
				</span>
			</div>
			<div><!-- log area -->
				<div>
					{^|for ~mergeL2(messages)|}
					<div class="message" data-link="class|merge:pending toggle='pending'|">
						<span data-link="class|:Type|">
							<span data-link="class|:overruled|">
								{^|shorttime:ApplyTime ~root.slowclock|}:
								{|:User|}
								{^|if ~root.facility==undefined|}
								@{|:Facility|}
								{|/if|}
								{^|if Type == 'plain'|}
								: {|:Content|}
								{|else Type == 'rating'|}
								changed the quality	to {|:Content|} stars
								{|else|}
								changed the {|:Type|} to {|:Content|}
								{|/if|}
							</span>
						</span>
					</div>
					{|/for|}
				</div>
			</div>
			{^|if ~root.facility != undefined|}
			<div class="obsreply"><!-- user input -->
				<div>
					Log my changes at time:
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="time mdl-textfield__input" type="text" _id="time" data-link="~timeOrClock(time, ~root.time) linkTo=time convertBack=~parseDate" />
					</div>
				</div>
				<div>
					Scan quality:
					{^|for ~range(6)|}
					<i class="material-icons star" data-link="|on ~onRatingMsg #data|">
						{^|if #data==0|}
						undo
						{^|else ~less(#data-1, #parent.parent.data.rating)|}
						star
						{|else|}
						star_outline
						{|/if|}
					</i>
					{|/for|}
				</div>
				<form class="col1" data-link="|on 'submit' ~onTextMsg 'tsys' #parent.parent.data.id|">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" _id="Tsys" data-link="~realOrDirty(tsys, tsysdirty) linkTo=tsysdirty">
						<label class="mdl-textfield__label" for="Tsys">Tsys</label>
						<button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-link="class|merge:tsysdirty!=tsys toggle='mdl-button--colored'|">
							<i class="material-icons">send</i>
						</button>
					</div>
				</form>
				<form class="col1" data-link="|on 'submit' ~onTextMsg 'tau225' #parent.parent.data.id|">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" _id="tau225" data-link="~realOrDirty(tau225, tau225dirty) linkTo=tau225dirty">
						<label class="mdl-textfield__label" for="tau225">tau225</label>
						<button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-link="class|merge:tau225dirty!=tau225 toggle='mdl-button--colored'|">
							<i class="material-icons">send</i>
						</button>
					</div>
				</form>
				<form class="col2" data-link="|on 'submit' ~onTextMsg 'weather' #parent.parent.data.id|">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" _id="weather" data-link="~realOrDirty(weather, weatherdirty) linkTo=weatherdirty">
						<label class="mdl-textfield__label" for="weather">weather</label>
						<button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-link="class|merge:weatherdirty!=weather toggle='mdl-button--colored'|">
							<i class="material-icons">send</i>
						</button>
					</div>
				</form>
				<form class="col4" data-link="|on 'submit' ~onTextMsg 'plain' #parent.parent.data.id|">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" _id="plain">
						<label class="mdl-textfield__label" for="plain">Plaintext log message</label>
						<button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-link="class|merge:plaintextdirty toggle='mdl-button--colored'|">
							<i class="material-icons">send</i>
						</button>
					</div>
				</form>
			</div>
			{|/if|}
		</div>
	</div>
	{|/if|}
	{|else|}
	<div>
		There is no schedule to display
	</div>
	{|/for|}
	<div id="nowmarker">
		<span class="label">
			<span class="time"></span><br/>
			<span class="next"></span>
		</span>
	</div>
</script>

</head>

<body>

    <div class="mdl-layout mdl-js-layout">
		<div class="drawercontainer">
			<div class="mdl-layout__drawer">

				<span class="mdl-layout__title">
					<i class="sidemenutoggle mdl-icon-toggle__label material-icons">menu</i>
					<span class="hidewhensmall">VLBI Monitor</span>
				</span>
				<nav class="mdl-navigation">
					<li id="facility-dropdown" class="mdl-list__item"></li>
					<li id="vexfile-dropdown" class="mdl-list__item"></li>
					<a class="mdl-navigation__link hidewhensmall" href="/overview.html">Overview</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=summarylayouttemplate&schedule=true">Status</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=forecasttemplate&schedule=false">Forecast</a>
					<a class="mdl-navigation__link hidewhensmall" href="/obslog.html">Log</a>
					<a class="mdl-navigation__link hidewhensmall" href="/weather.html">Weather</a>
					<a class="mdl-navigation__link hidewhensmall" href="/matrix.html">Matrix</a>
					<a class="mdl-navigation__link hidewhensmall" href="/graph.html">Download</a>
					<a class="mdl-navigation__link hidewhensmall" href="/schedule.html">Schedule</a>
					<a class="mdl-navigation__link hidewhensmall" href="/map.html">World map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/celestial.html">Celestial map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/messages.html">Messages</a>
					<a class="mdl-navigation__link hidewhensmall" href="https://bitbucket.org/vlbi/vlbimonitor-webinterface/issues?status=new&status=open">Issues</a>
					<a class="mdl-navigation__link hidewhensmall" href="/settings.html">Settings</a>
				</nav>
			</div>
		</div>

		<main class="mdl-layout_content">
		</main>
    </div>


    <div id="scanlogtable" class="">
	</div>
	<div class="download">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="download('json')">
			Download as json
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="download('csv')">
			Download as csv
		</button>
	</div>
	<div id="scrolltonow">
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--accent mdl-shadow--4dp" onclick="scrollToNow()">
			<i class="material-icons">arrow_downward</i>
		</button>
	</div>

	<!-- scripts -->
	<script src="/js/jquery.timeago.js"></script>
	<script src="/js/dateformat.js"></script>
	<script src="/js/d3.min.js" charset="utf-8"></script>
	<!-- <script src="https://raw.githubusercontent.com/stowball/mqGenie/master/mq.genie.min.js"></script> -->
	<!-- <script src="/js/d3.geo.projection.js" charset="utf-8"></script> -->
	<script src="/js/celestial.js" charset="utf-8"></script>
	<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.amber-light_blue.min.css" /> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js"></script>
	<script src="/js/mdl-ext.min.js"></script>
	<!--getmdl-select-->
	<link rel="stylesheet" href="/css/getmdl-select.min.css">
	<script defer src="/js/getmdl-select.min.js"></script>

	
	<script src="/js/names.js"></script>
	<script src="/js/coordinates.js"></script>
	<script src="/js/vlbi_monitor.js"></script>

	<script src="/js/vlbi_schedule_drawing_routines.js"></script>
	<script src="/js/vlbi_horizon_drawing_routines.js"></script>

	<script>

		function splitCoords(input) {
			if (input==undefined) return [0,0];
			var isplit = input.search(/[^^][+-]/) + 1;
			var dec = input.slice(isplit);
			var ra = input.slice(0, isplit);
			return [ra,dec];
		}
		
		
		// formatters are parametric functions that take arguments and return
		// a function that can be used as a formatter
		formatters = {
			format_minsec: function(val) {
				var valorig = Number(val);
				// split parts:
				var val = Math.abs(valorig);
				var deg = Math.trunc(val);
				var min = Math.trunc((val - deg)*60);
				var sec = Math.trunc((val - deg - min/60)*60*60);
				// format each part:
				var sign = (valorig >= 0.0)?"+":"-";
				deg = deg.toString().padStart(2,"0");
				sec = sec.toString().padStart(2,"0");
				min = min.toString().padStart(2,"0");
				// put it al back together:
				return sign + deg + "h&nbsp;" + min + "'&nbsp;" + sec + "\"";
			},
			fromBoolean: function(trueval, falseval) {
				return function(x) {
					if(x) return trueval;
					else  return falseval;
				}
			},
			toFixed: function(digits) {
				return function(x) {
					if(isNaN(x)) return undefined;
					return Number(x).toFixed(digits);
				}
			},
			hoursdegrees: function() {
				return function(x) {
					if(x==undefined) return undefined;
					var isplit = x.search(/[^^][+-]/) + 1;
					var ra = x.slice(0, isplit);
					var ra = formatters.format_minsec(ra);
					var dec = x.slice(isplit);
					var dec = formatters.format_minsec(dec).replace("h", "°");
					return ra + "&nbsp;" + dec;
				}
			},
			degreesdegrees: function() {
				return function(x) {
					if(x==undefined) return undefined;
					var isplit = x.search(/[^^][+-]/) + 1;
					var ra = x.slice(0, isplit);
					var ra = formatters.format_minsec(ra).replace("h", "°");
					var dec = x.slice(isplit);
					var dec = formatters.format_minsec(dec).replace("h", "°");
					return ra + "&nbsp;" + dec;
				}
			}
		}


		function sprintTime(seconds, longform) {
			var t = seconds / 31536000;
			if (Math.abs(t) > 1) { return Math.round(t) + (longform?" year"+(Math.abs(t)!=1?"s":""):"y"); }
			t = seconds / 2592000;
			if (Math.abs(t) > 1) { return Math.round(t) + (longform?" month"+(Math.abs(t)!=1?"s":""):"M"); }
			t = seconds / 86400;
			if (Math.abs(t) > 1) { return Math.round(t) + (longform?" day"+(Math.abs(t)!=1?"s":""):"d"); }
			t = seconds / 3600;
			if (Math.abs(t) > 1) { return Math.round(t) + (longform?" hour"+(Math.abs(t)!=1?"s":""):"h"); }
			t = seconds / 60;
			if (Math.abs(t) > 1) { return Math.round(t) + (longform?" minute"+(Math.abs(t)!=1?"s":""):"m"); }
			return Math.round(seconds) + (longform?" second"+(Math.abs(t)!=1?"s":""):"s");
		}


		/* This method is called when either:
		   1) the schedule was changed
		   2) new messages are received
		   It should take care that the viewdata is observably modified to reflect the changes
		   While not observably modifying anything that did not actually change		*/
		function removePending() {
			// remove pending messages
			for (let event of viewdata.schedule.$SCHED) {
				//$.observable(event).setProperty('pending', {});
				for (let type in event.messages) {
					let msggroup = event.messages[type]
					for (let facility in msggroup) {
						let msgsubgroup = msggroup[facility]
						for (let i=msgsubgroup.length-1; i>=0; i--) {
							if (String(msgsubgroup[i].Id).startsWith('pending')) {
								$.observable(msgsubgroup).remove(i);
							}
						}
					}
				}
			}
		}
		function buildSchedule() {
			
			let scheduleviewdata = {};
			scheduleviewdata.$SCHED = [];
			scheduleviewdata.checksum = datastore.schedule.checksum;
			scheduleviewdata.filename = datastore.schedule.filename;
			scheduleviewdata.$GLOBAL = datastore.schedule.$GLOBAL;
			let prevstop = undefined;
			let previd   = undefined;
			for (let scanid in datastore.schedule.$SCHED) {
				let scan = datastore.schedule.$SCHED[scanid];
				let breakid = 'break-'
				if (previd) breakid += previd
				breakid += '-' + scanid
				scheduleviewdata.$SCHED.push({
					id: breakid,
					type: 'break',
					start: prevstop,
					stop: scan.start,
					expanded: false,
					messages: {},
					pending: {},
					time: undefined
				});
				scheduleviewdata.$SCHED.push({
					id: scanid,
					type: 'scan',
					start: scan.start,
					stop: scan.stop,
					mode: scan.mode,
					source: scan.source,
					station: scan.station,
					messages: {},
					pending: {},
					rating: 0,
					time: undefined,
					tsys: undefined,
					tau225: undefined,
					weather: undefined,
					tsysdirty: undefined,
					tau225dirty: undefined,
					weatherdirty: undefined
				});
				prevstop = scan.stop;
				previd = scanid;
			}
			scheduleviewdata.$SCHED.push({
				id: 'break:'+previd,
				type: 'break',
				start: prevstop,
				stop: undefined,
				expanded: false,
				messages: {},
				pending: {},
				time: undefined
			});
			$.observable(viewdata).setProperty('schedule', scheduleviewdata);
			//componentHandler.upgradeDom();
		}

		function attachObsLogToSchedule() {
			let scansbyid = {}
			for (let scan of viewdata.schedule.$SCHED) {
				scansbyid[scan.id] = scan;
			}
			for (let msg of Object.values(datastore.obslog)) {
				let scan = scansbyid[msg.ScanId];
				if (scan == undefined) continue;
				// group messages by type
				// first make sure the group exists
				//let msgkey = msg.Type+msg.Facility
				// make sure msg type exists in scan.messages
				if (!(msg.Type in scan.messages)) {
					//scan.messages[msg.Type] = []
					$.observable(scan.messages).setProperty(msg.Type, {})
				}
				let msggroup = scan.messages[msg.Type]
				// make sure facility exists in scan.messages[Type]
				if (!(msg.Facility in msggroup)) {
					//scan.messages[msg.Type] = []
					$.observable(msggroup).setProperty(msg.Facility, [])
				}
				let msgsubgroup = msggroup[msg.Facility]
				
				let knownids = new Set($.map(msgsubgroup, m => m.Id))
				
				if (! knownids.has(msg.Id)) {
					// from the back, mark last non-pending as overruled
					if (msgsubgroup.length > 0 && msg.Type != 'plain') {
						$.observable(msgsubgroup[msgsubgroup.length-1]).setProperty('overruled', 'overruled')
					}
					// insert msg
					$.observable(msgsubgroup).insert(msg)
					// set scan-global properties to the new val
					let val = msg.Type=='rating' ? parseInt(msg.Content) : msg.Content;
					// scan global resolved values are only used when one Facility is selected:
					$.observable(scan).setProperty(msg.Type, val);
					$.observable(scan).setProperty(msg.Type+'dirty', val);
				}
			}
			// Expand all new MDL elements
			//componentHandler.upgradeDom();
		}

		function download(type) {
			// query all messages from server:
			$.get('/obslog', {
				facility: undefined, // i.e. any
				vexid: viewdata.schedule.$GLOBAL.exper_name,
				last: '{}'
			}, dataType='json')
			 .done(function(response, textStatus, request) {
				 var messages = JSON.parse(response);
				 // fake a download
				 //download('messages.json', JSON.stringify(messages));
				 let e = $("<a>");
				 let raw = "Error: neither json nor csv was selected? Please report this bug";
				 if (type=='json') {
					 raw = JSON.stringify(messages)
				 }
				 if (type=='csv') {
					 //let headers = ['Id', 'Source', 'Facility', 'User', 'ScanId', 'VexId', 'PostTime', 'ApplyTime', 'Type', 'Content'];
					 let headers = new Set()
					 for (let msg of messages) {
						 for (k in msg) {
							 headers.add(k)
						 }
					 }
					 // fix the iteration order
					 headers = [...headers]
					 // make the header line
					 raw = headers.join(';') + '\n';
					 // make the data lines
					 for (msg of messages) {
						 for (h of headers) {
							 raw += msg[h];
							 raw += (h == headers[headers.length - 1])? '\n':';';
						 }
					 }
				 } 
				 e.attr('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(raw))
				 e.attr('download', 'messages.'+type)
				 e.hide()
				 $('body').append(e)
				 e[0].click()
				 e.remove()
			 })
			 .fail(function(response) {
				 if (response.status == 401) {
					 window.localStorage.setItem('returnurl', window.location.href);
					 window.location.replace('/login.html');
				 } else {
					 showMessage("server error: "+ response.responseText);
				 }
			 });
		}
		
		function postMessage(time, type,  content, vexid, scanid) {
			if (viewdata.facility == undefined) {
				let d = $.Deferred();
				d.reject();
				showMessage("Cannot post messages while no observatory is selected");
				return d;
			}
			// create a message shim:
			let fauxid = 'pending_'+Date.now().toString();
			let fauxmsg = {
				pending: true,
				ApplyTime: time,
				Content: content,
				Facility: viewdata.facility,
				Id: fauxid,
				PostTime: time,
				ScanId: scanid,
				Source: "local",
				Type: type,
				User: "you",
				VexId: vexid
			};
			for (let scan of viewdata.schedule.$SCHED) {
				if (scan.id == scanid) {
					// if not present, create a group for this type
					if (!(type in scan.messages)) {
						$.observable(scan.messages).setProperty(type, {})
					}
					// if not present, create a group for this facility
					if (!(fauxmsg.Facility in scan.messages[type])) {
						$.observable(scan.messages[type]).setProperty(fauxmsg.Facility, [])
					}
					
					$.observable(scan.messages[type][fauxmsg.Facility]).insert(fauxmsg);
				}
			}
			
			return $.post('/obslog', {
				facility: viewdata.facility,
				scanid: scanid,
				vexid: datastore.schedule.$GLOBAL.exper_name,
				applytime: Math.round(time/1000),
				type: type,
				content: content
			}, dataType='json');
		}

		$(window).bind('load resize scroll', function(e) {
			if (window.programmaticscroll) {
				window.programmaticscroll = false
				return
			}
			let marker    = $('#nowmarker');
			// remember offset between viewport and marker
			window.marker = marker.offset().top - $(window).scrollTop();
			// remember if it was in view
			window.markerinview = window.marker > 0 && window.marker < $(window).height();
		})
		function findNextEvent() {
			let now = new Date().valueOf()
			for (let event of viewdata.schedule.$SCHED) {
				// skip events that have been started
				if (event.start < now) continue;

				// skip breaks
				if (event.type=='break') continue;
				
				// skip events that we don't participate in
				if (viewdata.facility != undefined) {
					stations = new Set($.map(event.station, a => namemap[a.$STATIONkey.toUpperCase()]))
					if (!stations.has(viewdata.facility)) continue;
				}

				// found the next interesting event
				let dt = Math.round((event.start - now)/1000);
				let m = Math.floor(dt / 60);
				let s = dt - 60 * m;
				//debugger;
				return event.id + " starts in " + m +"m"+s+"s";
			}
			return "no more scans after this";
		}
		function updateNowMarker() {
			let marker = $('#nowmarker')
			let now = new Date().valueOf()
			for (let item of viewdata.schedule.$SCHED) {
				if (now > item.start && now < item.stop) {
					marker.find('.time').html(moment.utc().format('HH:mm:ss [UTC]'));
					// next scan text has different cases
					//debugger
					// ScanX in ?m?s
					marker.find('.next').html(findNextEvent());
					let id = item.id;
					// calculate box dimensions
					let current_elem = $('#'+id)
					let top = current_elem.offset().top
					let height = current_elem.height()
					// calculate fraction of progress
					let progress = (now - item.start) / (item.stop - item.start)
					// update marker
					let newtop = top + progress * height
					marker.css('top', Math.round(newtop))
					// scroll if it was in the viewport
					if (window.markerinview) {
						window.programmaticscroll = true // will be cleared in event handler
						$(window).scrollTop(Math.round(newtop - window.marker));
					}
					// done
					break;
				}
			}

			// show/hide the scroll to now button
			if (window.markerinview) {
				$('#scrolltonow').fadeOut()
			} else {
				if ($('#nowmarker').offset().top < $(window).scrollTop()) {
					$('#scrolltonow button i').html('arrow_upward')
				} else {
					$('#scrolltonow button i').html('arrow_downward')
				}
				$('#scrolltonow').fadeIn()
			}
		}

		function scrollToNow() {
			marker = $('#nowmarker')
			let markerpos = marker.offset().top
			$(window).scrollTop(markerpos - $(window).height()/2)
		}
		
		$(function() {
			datastore.config.showcountdown = true;
			datastore.obslog = {}
			
			// start fetching data
			//var viewdata = [{name: 'Scan_000'}];
			let facility = getURLParameter('facility') || '';
			var init_defer = datastore.init();
			viewdata = {
				schedule: {},
				time: undefined,
				messages: {},
				facilities: [],
				facility: facility,
				vexfiles: [],
				vexfile: ''
			};
			lastIdsPerSource = {};
			$.templates("#scantemplate").link("#scanlogtable", viewdata, {
				onRatingMsg: function(rating, e) {
					let time = moment.utc($.view(this).time);
					let vexid = datastore.schedule.$GLOBAL.exper_name;
					let scanid = $.view(e.target).parent.parent.data.id;
					postMessage(time, 'rating', rating, vexid, scanid);
				},
				expandBreak: function(type, e) {
					if (type in this.messages) {
						showMessage('already open')
					} else {
						$.observable(this.messages).setProperty(type, {});
						componentHandler.upgradeDom();
					}
				},
				changeFacility: function(f, e) {
					$.observable(viewdata).setProperty('facility', namemap[f.toUpperCase()]);
					window.history.replaceState({}, '', '?facility='+namemap[f.toUpperCase()]);
				},
				onTextMsg: function(type, eventid, e) {
					let applytime = moment.utc(this.time);
					let inp = $(e.target).find('input')
					// post a 'plain' message
					inp.prop('disabled', true);
					postMessage(applytime, type, inp.val(), datastore.schedule.$GLOBAL.exper_name, eventid)
						.done(function(response, status, request) {
							// clear input for next message
							//
							if (type=='plain') {
								inp.val("");
								inp.parent().removeClass('is-dirty');
							}
						}).always(function(){
							inp.prop('disabled', false);
						});
					return false;// prevents the page from redirecting
				}
			});
			$.templates('#facility-dropdown-template').link('#facility-dropdown', viewdata);
			$.templates('#vexfile-dropdown-template').link('#vexfile-dropdown', viewdata);

			$.observe(viewdata, 'facilities', function() {
				// upgrade html
				getmdlSelect.init('#facility-dropdown .mdl-textfield')
				// the new input is not data-bound so we manually trigger a change
				$("input#facility").change(function() {
					let value = $("input#facility").val();
					$.observable(viewdata).setProperty('facility', value);
					window.history.replaceState({}, '', '?facility='+value);
				});
			});
			// vice versa we trigger a click if the model changes
			$.observe(viewdata, 'facility', function(e) {
				//console.log("facility changed to "+ viewdata.facility);
				datastore.obslog = {}
				lastIdsPerSource = {}
				/*for (let scanid in viewdata.schedule.$SCHED) {
				   $.observable(viewdata.schedule.$SCHED[scanid]).setProperty('messages', {})
				   $.observable(viewdata.schedule.$SCHED[scanid]).setProperty('pending', {})
				   $.observable(viewdata.schedule.$SCHED[scanid]).setProperty('rating', {})
				   }*/
				buildSchedule();
				attachObsLogToSchedule();
				componentHandler.upgradeDom();
				// the following might appear to cause an infinite loop
				// but fortunately the change event is only fired if the value
				// actually changes after the click which is not the case.
				$("li[data-val='"+viewdata.facility+"']").click();
			});

			$.observe(viewdata, 'vexfiles', function() {
				// upgrade html
				getmdlSelect.init('#vexfile-dropdown .mdl-textfield')
				// the new input is not data-bound so we manually trigger a change
				$("input#vexfile").change(function() {
					let value = $("input#vexfile").val();
					$.observable(viewdata).setProperty('vexfile', value);
				});
			});
			// vice versa we trigger a click if the model changes
			$.observe(viewdata, 'vexfile', function(e) {
				console.log("vexfile changed to "+ viewdata.vexfile);
				// the following might appear to cause an infinite loop
				// but fortunately the change event is only fired if the value
				// actually changes after the click which is not the case.
				$("li[data-val='"+viewdata.vexfile+"']").click();
			});

			$.observable(viewdata).setProperty('facility', getURLParameter('facility'));
			
			
			init_defer.done(function() {
				$.observable(viewdata).setProperty('facilities', Object.keys(datastore.metadata));
				$.observable(viewdata).setProperty('vexfiles', Object.keys(datastore.knownvexfiles));
				
				
				datastore.onUpdate(function() {
					if (viewdata.schedule.checksum != datastore.schedule.checksum) {
						buildSchedule();
						componentHandler.upgradeDom()

						//attachObsLogToSchedule()
					}
				});
				// update loop for time
				setInterval(function() {
					$.observable(viewdata).setProperty('time', new Date().getTime());
					updateNowMarker()
					//componentHandler.upgradeDom();
				}, 1000);
				setInterval(function() {
					$.observable(viewdata).setProperty('slowclock', new Date().getTime());
					//componentHandler.upgradeDom();
				}, 10000);
				// update loop to fetch messages
				(function updateMessages() {
					if (viewdata.schedule.$GLOBAL != undefined) {
						$.get('/obslog', {
							facility: viewdata.facility,
							vexid: viewdata.schedule.$GLOBAL.exper_name,
							last: JSON.stringify(lastIdsPerSource)
						}, dataType='json').done(function(response, textStatus, request) {
							var messages = JSON.parse(response)
							for (let msg of messages) {
								if (!(String(msg.Id) in datastore.obslog)) {
									msg.ApplyTime = 1000 * msg.ApplyTime;
									// insert
									datastore.obslog[String(msg.Id)] = msg;
									// update front
									lastIdsPerSource[msg.Source] = msg.Id;
								}
							}
							removePending()
							attachObsLogToSchedule()
							
							//markOverruled()
							componentHandler.upgradeDom()
							
						}).fail(function(response) {
							if (response.status == 401) {
								window.localStorage.setItem('returnurl', window.location.href);
								window.location.replace('/login.html');
							} else {
								showMessage("server error: "+ response.responseText);
							}
						});
					}
					setTimeout(updateMessages, 3000);
				})();
			});
		});
		

		
		

		// run a separate clock update routine each second:
		//function clockLoop() {
		//	setTimeout(clockLoop,1000);
		//	updateClocks();
		//} $(clockLoop);



	</script>
</body>
</html>
