{{template "docstart"}}

<style type="text/css">


	#clocks {
		font-family: 'Roboto Mono', monospace;
		font-size: 10pt;
	}

	#clocks div, #currentschedule div, #nextscan div, #currentscan div {
		position: relative;
		text-align: right;
		margin: 2px 5px;
	}

	#clocks #utctime, #clocks #localtime {
		margin: 5px 5px;
		font-size: 204%;
	}

	#clocks div.label, #scheduleinfo div.label {
		text-align: left;
		margin-bottom: -5pt;
		/*height: 0;*/
		color: #777;
		font-size: 75%;
	}


	#currentscan, #nextscan {
		/*height: 200px;*/
		/*display: inline-block;*/
	}
	#currentscan {
		/*padding-left: 0px;*/
		/*width: calc( 49% - 0px );*/
	}
	#nextscan {
		border-left: 1px solid #ddd;
		/*padding-left: 15px;*/
		/*width: calc( 49% - 16px );*/
	}

	div#nextup {
		color: #333;
		position: absolute;
		right: 100px;
	}

	#modalbackground {
		background: #777;
		opacity: 0.5;
		z-index: 10;
	}

	#modalcontainer {
		z-index: 20;
	}

	#spincontainer {
		background: #fff;
		z-index: 10;
		text-align: center;
	}

	#modalbackground, #spincontainer, #modalcontainer {
		position: fixed;
		left: 0px;
		top: 0px;
		bottom: 0px;
		right: 0px;
		padding: 100px 200px;
	}

	#modal {
		/*max-height: 80%;*/
		width: 100%;
		height: 100%;
	}

	#modal > .mdl-card {
		width: 100%;
		max-height: 100%;
	}

	.mdl-card__supporting-text {
		width: initial;
	}

	.filename {
		color: #bbb;
	}

	.loader,
	.loader:before,
	.loader:after {
		border-radius: 50%;
		width: 2.5em;
		height: 2.5em;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation: spinner 1.8s infinite ease-in-out;
		animation: spinner 1.8s infinite ease-in-out;
	}
	.loader {
		color: #ffffff;
		font-size: 10px;
		margin: 80px auto;
		position: relative;
		text-indent: -9999em;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
	.loader:before,
	.loader:after {
		content: '';
		position: absolute;
		top: 0;
	}
	.loader:before {
		left: -3.5em;
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
	.loader:after {
		left: 3.5em;
	}
	@-webkit-keyframes spinner {
		0%,
		80%,
		100% {
			box-shadow: 0 2.5em 0 -1.3em;
		}
		40% {
			box-shadow: 0 2.5em 0 0;
		}
	}
	@keyframes spinner {
		0%,
		80%,
		100% {
			box-shadow: 0 2.5em 0 -1.3em;
		}
		40% {
			box-shadow: 0 2.5em 0 0;
		}
	}
</style>

<script src="/js/material.min.js"></script>
<script src="/js/valueresolution.js"></script>
<script src="/js/datastore2.js"></script>
<script src="/js/vexparser.js"></script>
<script src="/js/md5.js"></script>

<script type="text/javascript">

	datastore.config.intervalFormField = "select[name='updateSpeedForm']";
	var tablesready = $.Deferred();

	// since most pages leak memory they cannot stay open forever
	// so we force a page refresh at least once a day:
	function refreshAndMaintainScroll()
	{
		var currentYOffset = window.pageYOffset;
		window.sessionStorage.setItem('jumpToScrollPostion', currentYOffset);
		window.location.reload();
	}
	setTimeout(24*60*60*1000, refreshAndMaintainScroll);

	tablesready.done(function(){
		// check if we need to scroll
		var jumpTo = window.sessionStorage.getItem('jumpToScrollPostion')
		if (jumpTo !== null) {
			console.log("juming to "+jumpTo);
			window.scrollTo(0, jumpTo);
			windows.sessionStorage.removeItem('jumpToScrollPostion')
		}
	});





	datastore.onUpdate(function(){tablesready.done(function() {
		updateTables();
		updateWeatherMaps();
		updateSchedulesAndPointers();
		updateConfigModal();
		updateScheduleSummary();
	})});


	// when the dom is ready and the datastore is also ready
	datastore.init().done(function() {
		$(document).ready(function() {
			makeObservatoryTables().done(function() {
				makeTauPlots();
				makeSummaries();
				makeHorizonMaps();
				// give the signal that all else can now be rendered
				tablesready.resolve();
			});
		});
	});

</script>
<title>VLBI Monitor</title>
</head>

<body>
{{template "beginlayout" .}}

<div id="tables">
	<div id="table-template" class="draggable" style="display: none">
		<table>
			<tbody class="groupbody obshead">
				<tr>
					<th class="observatoryname" colspan="2" id="observatory">
						<a href="/paneltest.html?observatory=template">template</a>
					</th>
					<th class="rightmostcolumn">
						<button class="xCloseButton" onclick=" obs.hideOne('template')">✖</button>
					</th>
				</tr>
			</tbody>
			<tbody class="groupbody vapormap">
				<tr class="groupheader">
					<th colspan="3">Watervapormap</th>
				</tr>
				<tr>
					<th class="map_container" colspan="3">
						<a href="/weathermapcolumns.html">
							<img class="map_image" id="weather_template" src="" alt="Weather map">
						</a>
					</th>
				</tr>
			</tbody>
			<tbody class="groupbody horizon">
				<tr class="groupheader">
					<th colspan="3">Local horizon</th>
				</tr>
				<tr>
					<th class="horizon_container" colspan="3">
						<div id="horizon_template" class="horizon_div"><div class="loader">Loading...</div></div>
					</th>
				</tr>
			</tbody>
			<tbody class="groupbody tauplot">
				<tr class="groupheader">
					<th colspan="3">225GHz opacity - last 48hours</th>
				</tr>
				<tr>
					<th class="tauplot_container" colspan="3">
						<a href="/weather.html">
							<div class="loader">Loading...</div>
							<img class="tau225_image" id="tau225_template" src="" height="100" alt="48 hour tau225" />
							<!-- <img class="knmi_logo" src="/img/KNMI_Logo.png" height="30" /> -->
						</a>
					</th>
				</tr>
			</tbody>
			<tbody class="groupbody summary">
				<tr class="groupheader">
					<th colspan="3">Summary</th>
				</tr>
			</tbody>
			<tbody class="groupbody updates">
				<tr class="groupheader">
					<th colspan="3">Client Status</th>
				</tr>
			</tbody>
			<!-- <tbody class="groupbody details">
				<tr class="groupheader">
					<th colspan="3">details</th>
				</tr>
			</tbody> -->
		</table>
	</div>
</div>

	<!-- <div id="spincontainer">
		<div class="mdl-spinner mdl-js-spinner is-active"></div>
	</div> -->
	<div id="modalbackground" style="display: none">
	</div>
	<div id="modalcontainer" style="display: none">
		<div id="modal">
			<div class="mdl-card mdl-shadow--8dp">
				<div class="mdl-card__title mdl-card__media" style="display: block">
					<h2 class="mdl-card__title-text"><i class="material-icons" style="position: relative;top:2px;margin-right: 5px;">visibility</i> VLBI Monitor settings</h2>
				</div>
				<div class="mdl-card__supporting-text mdl-grid" style="overflow-y: auto;padding-bottom: 50px">
					<div id="obsvisibilitylist" class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
						<h4>Observatories</h4>
					</div>

					<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
						<h4 id="config-schedules">Messaging</h4>
						<div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label" >
							<select class="mdlext-selectfield__select" id="messagingfacility" name="messagingfacility" onchange = "datastore.setFacility(this.value)">
								<option value="undefined">not specified</option>
							</select>
							<label class="mdlext-selectfield__label" for="messagingfacility">Affiliation (Post official status messages for)</label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
						<h4 id="config-schedules">Schedules</h4>
						<div id="schedulevisibilitylist"></div>
						<!-- <div class="mdl-grid"> -->
							<div class="mdl-card" style="background: cornflowerblue; min-height: 0px; width:100%;">
								<div class="mdl-card__supporting-text" style="color: #ffffff">
									<i class="material-icons" style="position: relative;top:2px;margin-right: 10px; float: left;">warning</i>These settings are not saved on page reload. By default all and only schedules are checked with starttime before now and an endtime after now (i.e. currently active). If at some point the current schedule expires, you'll have to check the new schedule here or reload the page. This behaviour may change in the future.
								</div>
							</div>
						<!-- </div> -->
					</div>

					<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">

						<h4>Other</h4>
						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-time">
							<input type="checkbox" id="visible-time" name="visible-time" class="mdl-checkbox__input" checked disabled>
							<span class="mdl-checkbox__label">Box with clocks</span>
						</label>

						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-schedulesummary">
							<input type="checkbox" id="visible-schedulesummary" name="visible-schedulesummary" class="mdl-checkbox__input" checked disabled>
							<span class="mdl-checkbox__label">Schedule summary</span>
						</label>

						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-fullschedule">
							<input type="checkbox" id="visible-fullschedule" name="visible-fullschedule" class="mdl-checkbox__input" disabled>
							<span class="mdl-checkbox__label">Large schedule display</span>
						</label>

						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-celestial">
							<input type="checkbox" id="visible-celestial" name="visible-celestial" class="mdl-checkbox__input" disabled>
							<span class="mdl-checkbox__label">Large celestial map of the whole sky</span>
						</label>

						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-worldmap">
							<input type="checkbox" id="visible-worldmap" name="visible-worldmap" class="mdl-checkbox__input" disabled>
							<span class="mdl-checkbox__label">Large map of the world showing baselines</span>
						</label>

						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-horizons">
							<input type="checkbox" id="visible-horizons" name="visible-horizons" class="mdl-checkbox__input" checked disabled>
							<span class="mdl-checkbox__label">Small horizon plot for each telescope</span>
						</label>

						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-tau">
							<input type="checkbox" id="visible-tau" name="visible-tau" class="mdl-checkbox__input" checked disabled>
							<span class="mdl-checkbox__label">Plot of opacity (tau225) for each telescope</span>
						</label>

						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-weathermap">
							<input type="checkbox" id="visible-weathermap" name="visible-weathermap" class="mdl-checkbox__input" checked disabled>
							<span class="mdl-checkbox__label">Weather maps per telescope</span>
						</label>
					</div>
				</div>


				<div class="mdl-card__menu mdl-card--border">
					<button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" id="closedialog" style="top:-4px"><i class="material-icons">close</i></button>
				</div>
			</div>
		</div>
	</div>




<div class="mdl-grid" style="margin: 0 auto;">
	<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
		<div class="mdl-card__title" style="padding: 8px 16px 0px">
			<h3 class="mdl-card__title-text">Settings</h3>
		</div>
		<div class="mdl-card__supporting-text" style="padding: 0px 16px">
			<!-- <div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label is-disabled" style="width:100%;" >
				<select class="mdlext-selectfield__select" disabled id="overviewModeForm" name="overviewModeForm">
					<option value="full" selected>Full</option>
					<option value="levelPlus">Custom</option>
					<option value="level">Level</option>
				</select>
				<label class="mdlext-selectfield__label" for="overviewModeForm">View mode</label>
			</div> -->
			<div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label" style="width:100%;" >
				<select class="mdlext-selectfield__select" id="updateSpeedForm" name="updateSpeedForm" onchange = "datastore.setUpdateInterval(this.value)">
					<option value=1>1 s</option>
					<option value=3>3 s</option>
					<option value=10>10 s</option>
					<option value=60>1 m</option>
					<option value=180>3 m</option>
					<option value=600>10 m</option>
				</select>
				<label class="mdlext-selectfield__label" for="updateSpeedForm">Page refresh</label>
			</div>
		</div>
		<div class="mdl-card__actions">
			<button style="width:100%;margin:15px 0px;" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" id="updatenow">Update now</button>
			<button style="width:100%;margin:3px 0px;" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" id="expandall">Expand all</button>
			<button style="width:100%;margin:3px 0px;" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" id="collapseall">Collapse all</button>
			<button style="width:100%;margin:15px 0px;" class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" id="config">Configure</button>
		</div>
	</div>


	<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
		<div class="mdl-card__title" style="padding: 8px 16px 0px">
			<h3 class="mdl-card__title-text">Time</h3>
		</div>
		<div class="mdl-card__supporting-text" style="width:100%; padding: 8px 8px 8px 0px;">
			<div class="mdl-grid">
				<div id="clocks" class="mdl-cell mdl-cell--12-col">
					<div class="label">UTC:</div>
					<div id="utctime"></div>
					<div id="utcdate"></div>
					<div class="label">Local time:</div>
					<div id="localtime"></div>
					<div id="localdate"></div>
					<!-- <div class="label">Date:</div> -->
					<div class="label">Day of year: (utc)</div>
					<div id="dayofyear"></div>
					<div class="label">Mean julian date:</div>
					<div id="mjd"></div>
					<div class="label">Greenwich apparent sidereal time:</div>
					<div id="gast"></div>
					<div class="label">Greenwich mean sidereal time:</div>
					<div id="gmst"></div>
				</div>
			</div>
		</div>
		<div class="mdl-card__actions" id="timedifferror" style="display:none; width: 100%; background: orange; border-top: 1px solid rgb(255, 221, 153); padding: 0px;">
			<div class="mdl-card__supporting-text" style="width: calc(100% - 16px); color: rgb(255, 255, 255); padding: 8px;">
				<i class="material-icons" style="position: relative; top: 2px; margin-right: 10px; float: left; font-size: 12pt;">warning</i>
				<span class="notice"></span>
			</div>
		</div>
	</div>


	<div id="scheduleinfo" class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
		<div class="mdl-card__title" style="padding: 8px 16px 0px">
			<h3 class="mdl-card__title-text">VLBI Schedule </h3>
			<span class="mdl-chip mdl-chip--contact" style="display:none; position: absolute; top: 10px; right: 20px; ">
				<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">
					<i class="material-icons" style="position: relative; top: 4px;">schedule</i>
				</span>
				<span class="mdl-chip__text" id="nextup"></span>
			</span>
		</div>
		<div class="mdl-card__supporting-text" style="width:100%; padding: 8px 8px 8px 0px;">
			<div class="mdl-grid">
				<div id="currentschedule" class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
					<h7>Current experiment: </h7>
					<div class="label">Name of current experiment</div>
					<div id="name"></div>
					<div class="label">Start of current experiment</div>
					<div id="starttime"></div>
					<div class="label">End of current experiment</div>
					<div id="endtime"></div>
					<div class="label">Duration</div>
					<div id="duration"></div>
					<div class="label">Time remaining</div>
					<div id="remaining"></div>
				</div>

				<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet" id="currentscan">
					<h7>Current scan: </h7>
					<div class="label">Scan nr.</div>
					<div id="scannr"></div>
					<div class="label">Source</div>
					<div id="source"></div>
					<div class="label">Start time (utc)</div>
					<div id="starttime"></div>
					<div class="label">End time (utc)</div>
					<div id="endtime"></div>
					<div class="label">Duration</div>
					<div id="duration"></div>
					<div class="label">Time left</div>
					<div id="remaining"></div>
				</div>
				<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet" id="nextscan">
					<h7>Next scan:</h7>
					<div class="label">Scan nr.</div>
					<div id="scannr"></div>
					<div class="label">Source</div>
					<div id="source"></div>
					<div class="label">Start time (utc)</div>
					<div id="starttime"></div>
					<div class="label">End time (utc)</div>
					<div id="endtime"></div>
					<div class="label">Duration</div>
					<div id="duration"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" style="background: purple; min-height: 0px;">
		<div class="mdl-card__supporting-text" style="color: #ffffff">
			This is the stable version of the overview page. This page is only updated with bug-fixes. If something seems not right please open as issue in our <a href="https://bitbucket.org/vlbi/vlbimonitor-webinterface/issues/new"> issue tracker</a>.
			If you want to see the latest features, try the <a href="/overview_experimental.html">bleeding edge version of the overview</a>.
			For historical reference there is also a <a href="/overview_old.html"> (ancient) 2016 version.</a>
		</div>
	</div>

</div>


{{template "endlayout"}}



<!-- scripts -->
<script src="/js/jquery.timeago.js"></script>
<script src="/js/d3.min.js" charset="utf-8"></script>
<!-- <script src="https://raw.githubusercontent.com/stowball/mqGenie/master/mq.genie.min.js"></script> -->
<!-- <script src="/js/d3.geo.projection.js" charset="utf-8"></script> -->
<script src="/js/celestial.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js"></script>
<script src="/js/mdl-ext.min.js"></script>

<script src="/js/names.js"></script>
<script src="/js/coordinates.js"></script>
<script src="/js/vlbi_monitor.js"></script>

<script src="/js/vlbi_schedule_drawing_routines.js"></script>
<script src="/js/vlbi_horizon_drawing_routines.js"></script>

<script>

// run a separate clock update routine each second:
function clockLoop() {
	setTimeout(clockLoop,1000);
	updateClocks();
} clockLoop();




// makeImgUrl adds a bogus GET parameter to the string url
// which changes every validSeconds to enforce refreshing of the image
function makeImgUrl(url) {
	// var url = record.data.value;
	var validSeconds = 300;
	url += "?" + Math.round((new Date()).getTime() / (validSeconds * 1000));
	return url;
}





/* gets the field and category names from the metadata and creates all table rows */
function makeFieldsAndHeaders() {

	$.each(datastore.metadata,function(observatoryName, observatorymetadata) {
		var newcontent = [];
		var prev = null;
		var prevlevel = 1;
		$.each(observatorymetadata,function(variablename,variablemetadata) {

			var newrow = $("<tr>");
			newrow.addClass("datarow");
			newrow.addClass("datarow_"+variablename);
			var parts = variablename.split(FieldSeparator);

			// we add each of the subparts for easy collapse/expand feature
			var subpart = "";
			$.each(parts,function(i,part) {
				// newrow.addClass(part);
				subpart += (i>0?FieldSeparator:"")+part;
				// subparts.push(subpart);
				newrow.addClass(subpart);
			});


			newrow.addClass("level"+parts.length);
			newrow.data("level",parts.length);
			newrow.data("parts",parts);
			// by default everything is closed and invisible
			newrow.data("closed",true);
			newrow.hide();

			var c1 = $("<td>");
			var c2 = $("<td>");
			var c3 = $("<td>");

			if(parts.length>prevlevel) {
				// this is an indent, add a + to the previous row
				prev.html("+ "+prev.html());
				prev.addClass("expandable");
			}
			prev = c1;
			prevlevel = parts.length;

			c1.html(variablename);

			c1.addClass("paramname");
			c2.addClass("paramvalue");
			c2.append($("<span>").addClass("value").html(""));
			c2.append($("<span>").addClass("units"));

			// add hover-over icons links
			c2.append($("<div>").addClass("hoverinfo"));
			c2.append($("<a>").addClass("hovertool").addClass("graph").attr("href","/graph.html?observatory="+observatoryName+"&field="+variablename).attr("title","graph"));
			c2.append($("<a>").addClass("hovertool").addClass("table").attr("href","/table.html?observatory="+observatoryName+"&field="+variablename).attr("title","table"));
			c3.addClass("paramtime");

			newrow.append(c1);
			newrow.append(c2);
			newrow.append(c3);

			newcontent.push(newrow);

		});
		// console.log(newcontent);
		$("div#table-"+observatoryName +" tbody.details").append(newcontent);
	});
}


/* this function loops over metadata and adds title="" attributes for description and derived function hints */
function addMousoverHints() {
	// $.each(metadata,function(facility, facilitydata) {
	// for(facility in metadata) {
	each_interleaved(datastore.metadata,1,function(facility) {
		if(datastore.metadata[facility]==undefined) return true;
		if(! datastore.visibility.observatories[facility]) return true;
		var tablebody = $("div#table-"+facility );
		// $.each(facilitydata,function(variable, vardata) {
		// for(variable in metadata[facility]) {
		each_interleaved(datastore.metadata[facility],1,function(variable){
			var row = tablebody.find("tr.datarow_"+variable);
			if(datastore.metadata[facility][variable].description) {
				row.find(".paramname").attr("title",datastore.metadata[facility][variable].description);
			}
			var hinttxt = "value: ";
			if(datastore.metadata[facility][variable].valueFunction) {
				hinttxt += datastore.metadata[facility][variable].valueFunction;
			}else if(data[facility]!=undefined && data[facility][variable]!=undefined) {
				hinttxt += data[facility][variable].value;
			} else {
				hinttxt += "no data";
			}
			if(datastore.metadata[facility][variable].validFunction) {
				hinttxt += "\ncheck: "+datastore.metadata[facility][variable].validFunction;
			}
			row.find(".paramvalue").attr("title",hinttxt);
		});
	});
}




/* this updates the map after a predefined period of time (even if no new data was pushed) */
function updateWeatherMaps() {
	$.each(datastore.metadata,function(observatoryname, observatorydata) {
		if(observatorydata==undefined) return true; // continue
		if(! datastore.visibility.observatories[observatoryname]) return true;
		if(! ("weatherMap_waterVapor_url" in observatorydata )) return true;

		// create new image obj
		var image = new Image();

		// replace the existing image once the new image has loaded
		image.onload = function () {
			var img_elem = $("img#weather_"+observatoryname);
			img_elem.attr("src",image.src);
		}

		// get the appropriate image url:
		var url = datastore.data[observatoryname]["weatherMap_waterVapor_url"].value
		if (url == undefined) return
		url = `/img/weatherMaps/${url}`
		image.src = url;
	});
}


function makeTauPlots() {
	function updateTauPlots() {
		$.each(datastore.metadata,function(observatoryname, observatorydata) {
			if(! datastore.visibility.observatories[observatoryname]) return true;
			var image = new Image();
			image.onload = function () {
				var img_elem = $("img#tau225_"+observatoryname);
				img_elem.attr("src",image.src);
				$(".tauplot_container .loader").hide();
			}

			// get the appropriate image url:
			var url = "/img/plots/tau225."+observatoryname+".d10.png";//d.status["weatherMap_waterVapor_url"]
			url = makeImgUrl(url);
			image.src = url;
		});
		setTimeout(updateTauPlots,600000); // 10 minutes
	}
	updateTauPlots();
}


function updateScheduleSummary() {
	var cur = getCurrentScheduleItem();
	var {next, vex} = getNextScheduleItem();

	function makeBreakableTimeString(input) {
		var tmp = input.split("T");
		return tmp[0]+"<wbr>T"+tmp[1];
	}

	$("#currentscan #scannr").html(cur?cur.ScanId:"---");
	$("#currentscan #source").html(cur?cur.Source:"---");
	$("#currentscan #starttime").html(cur?makeBreakableTimeString(new Date(cur.StartTime).toISOString()):"---");
	$("#currentscan #endtime").html(cur?makeBreakableTimeString(new Date(cur.StopTime).toISOString()):"---");
	$("#currentscan #duration").html(cur?sprintTime(new Date(cur.StopTime)/1000 - new Date(cur.StartTime)/1000,true):"---");
	$("#currentscan #remaining").html(cur?sprintTime(new Date(cur.StopTime)/1000 - new Date()/1000,true):"---");

	$("#nextscan #scannr").html(next?next.ScanId:"---");
	$("#nextscan #source").html(next?next.Source:"---");
	$("#nextscan #starttime").html(next?makeBreakableTimeString(new Date(next.StartTime).toISOString()):"---");
	$("#nextscan #endtime").html(next?makeBreakableTimeString(new Date(next.StopTime).toISOString()):"---");
	$("#nextscan #duration").html(next?sprintTime(new Date(next.StopTime)/1000 - new Date(next.StartTime)/1000,true):"---");

	if(next) {
		nextup = sprintTime(new Date(next.StartTime)/1000 - new Date()/1000,true) + " until next scan";
	}
	if(cur) {
		nextup = sprintTime(new Date(cur.StopTime)/1000 - new Date()/1000,true) + " until end of current scan";
	}
	if(nextup) {
		$("#nextup").html(nextup);
		$("#nextup").parent().show();
	}else {
		$("#nextup").parent().hide();
	}


	var experiment = getCurrentExperiment();
	$("#currentschedule #name").html(experiment?experiment.Name:"---");
	$("#currentschedule #starttime").html(experiment?makeBreakableTimeString(new Date(experiment.StartTime).toISOString()):"---");
	$("#currentschedule #endtime").html(experiment?makeBreakableTimeString(new Date(experiment.StopTime).toISOString()):"---");
	$("#currentschedule #duration").html(experiment?sprintTime(new Date(experiment.StopTime)/1000 - new Date(experiment.StartTime)/1000,true):"---");
	$("#currentschedule #remaining").html(experiment?sprintTime(new Date(experiment.StopTime)/1000 - new Date()/1000,true):"---");
}


function updateClocks() {
	// update the clocks:
	var now = new Date();
	$("#clocks #utctime").html(now.toISOString().slice(11,19)); // isostring can be cut reliably by slice
	$("#clocks #localtime").html(now.toTimeString().slice(0,8));
	$("#clocks #utcdate").html(now.toUTCString().split(" ").slice(0,4).join(" "));
	// to get the local date in utc format we fake a utc time equal to the current localtime
	var utctime = new Date(Date.UTC(now.getFullYear(),now.getMonth(),now.getDate(),now.getHours(),now.getMinutes(),now.getSeconds()));
	$("#clocks #localdate").html(utctime.toUTCString().split(" ").slice(0,4).join(" "));
	// $("#clocks#utc #dayofyear").html(now);
	var year   = now.getUTCFullYear();
	var month  = now.getUTCMonth() + 1;
	var day    = now.getUTCDate();
	var hour   = now.getUTCHours();
	var minute = now.getUTCMinutes();
	var second = now.getUTCSeconds();

	var JD = gregorianToJulianDay(year, month, day, hour, minute, second);
	var JD0 = gregorianToJulianDay(year, month, day, 0, 0, 0);

	var D = JD - 2451545.0;
	var D0 = JD0 - 2451545.0;
	var T = D / 36525;
	var H = 24. * (JD - JD0);

	// Greenwich mean sidereal time
	var GMST = 6.697374558 + 0.06570982441908 * D0 + 1.00273790935 * H + 0.000026 * T * T;

	// The following are all expressed in degrees
	var Omega = 125.04 - 0.052954 * D; // Longitude of the ascending node of the Moon
	var L = 280.47 + 0.98565 * D; // Mean Longitude of the Sun
	var epsilon = 23.4393 - 0.0000004 * D; // Obliquity
	var dpsi = -0.000319 * Math.sin(Omega * radians) - 0.000024 * Math.sin(2 * L * radians);

	// Compute equation of the equinoxes
	var eqeq = dpsi * Math.cos(epsilon * radians);

	GAST = ((GMST + eqeq) * 360. / 24.) % 360.;

	// for day of year
	var startofutcyear = new Date(Date.UTC(now.getUTCFullYear(), 0, 1)); // current year, month, 0 day 1
	var dayofyear = Math.ceil((now-startofutcyear)/(1000*3600*24));
	$("#clocks #dayofyear").html(dayofyear);
	// var startofyear = new Date(now.getFullYear(), 0, 1); // current year, month, 0 day 1
	// var dayofyear = Math.floor((now-startofyear)/(1000*3600*24));
	// $("#clocks#local #dayofyear").html(dayofyear);

	$("#clocks #mjd").html(JD.toFixed(5));
	$("#clocks #gmst").html(GMST.toFixed(5));
	// $("#clocks#local #lmst").html(GMST);
	$("#clocks #gast").html(GAST.toFixed(5));
	// $("#clocks#local #last").html();


}


/* updateTables replaces formatOverview() but doesn't replace the full html.
Instead it updates the values such that things which have been hidden stay hidden.
This should simplify other (and future) code drastically at the cost of more complex update code.
This code also inserts fields but only if they don't exist (i.e. on first request). */
function updateTables() {
	// first update the images:
	// updateWeatherMaps();
	// updateTauPlots();

	// then update the other data:
	$.each(datastore.metadata, function(observatoryname, facilitymetadata) {
	// for (observatoryname in metadata) {
	// each_interleaved(datastore.metadata,1,function(observatoryname) {
		if(datastore.metadata[observatoryname]==undefined || datastore.data[observatoryname]==undefined) return true; // continue
		if(! datastore.visibility.observatories[observatoryname]) return true;

		var facilitytable = $("div#table-"+observatoryname); // should be exactly one now

		$.each(datastore.clients[observatoryname],function(updater,record) {
			var row = facilitytable.find("tbody.updates tr."+updater.replace(/[ :\.]/g, "_"));
			if(row.length < 1) {
				row = $("<tr>").addClass(updater.replace(/[ :\.]/g, "_"));
				row.html("<td class='updateby'></td><td class='version'></td><td class='tsince'></td>");
				facilitytable.find("tbody.updates").append(row);
			}
			var t = new Date(record.recvTime);
			row.find("td.updateby").html(updater);
			row.find("td.version").text(record.version);
			row.find("td.tsince").html(sprintTime(new Date()/1000 - t));
		});


		$.each(datastore.metadata[observatoryname], function (variablename) {
		// for(variablename in metadata[observatoryname]) {
		// each_interleaved(datastore.metadata[observatoryname],1,function(variablename) {
			if(!datastore.data[observatoryname][variablename]) return true; // skip if no data

			// get the row from the html
			var current_row = facilitytable.find("tr.datarow_"+variablename);
			if (current_row.length < 1) return true;


			// write the new data to html:
			var newval = datastore.data[observatoryname][variablename].value;
			newval = formatValue(variablename, newval);

			current_row.find(".paramvalue .value").text(newval);

			// write new data to row:
			if(newval == undefined) return true;

			var t = datastore.data[observatoryname][variablename].date;
			var ts = (new Date() - t*1000) / 1000;
			current_row.find(".paramtime").html(sprintTime(ts));

			// if units are defined then show them:
			if("units" in datastore.metadata[observatoryname][variablename]
					&& datastore.metadata[observatoryname][variablename].units != "hr/deg"
					&& datastore.metadata[observatoryname][variablename].units != "deg/deg"
					&& datastore.metadata[observatoryname][variablename].units != "1"
					&& datastore.metadata[observatoryname][variablename].units != "-" ) {
				current_row.find(".units").html(" "+datastore.metadata[observatoryname][variablename].units);
			}

			// decide on row colors:
			var valid = datastore.data[observatoryname][variablename].valid;
			if(newval == "" || newval == undefined){
				current_row.removeClass("good");
				current_row.removeClass("bad");
			} else {
				if(valid) {
					current_row.addClass("good");
					current_row.removeClass("bad");
				} else {
					current_row.addClass("bad");
					current_row.removeClass("good");
				}
			}


			if("cadence" in datastore.metadata[observatoryname][variablename] && datastore.metadata[observatoryname][variablename] > 0 && variablename in datastore.data[observatoryname] && datastore.data[observatoryname][variablename] != undefined) {
				// for derived fields no data may exist and hence no .date
				var dt = (new Date() - new Date(1000*datastore.data[observatoryname][variablename].date))/1000;
				// console.log(observatoryname+"/"+variablename+": dt: "+dt+" cadence: "+datastore.metadata[observatoryname][variablename].cadence)
				if(dt > datastore.metadata[observatoryname][variablename].cadence) {
					current_row.addClass("outdated");
				}
			}else {
				current_row.removeClass("outdated");
			}

		});

	});
}

function formatValue(name, val) {
	function format_minsec(val) {
		valorig = Number(val);
		val = Math.abs(valorig);
		deg = Math.trunc(val);
		min = Math.trunc((val - deg)*60);
		sec = Math.trunc((val - deg - min/60)*60*60);
		if (valorig >= 0.) deg = "+" + deg;
		else deg = "-" + deg;
		if ((min + "").length == 1) min = "0" + min;
		sec = sec + "";
		if ((sec + "").length == 1) sec = "0" + sec;
		return deg + "h" + min + "'" + sec + "\"";
	}

	if(val==undefined) return undefined;

	switch (name) {
	case "telescope_apparentRaDec":
		isplit = val.search(/[^^][+-]/) + 1;
		ra = val.slice(0, isplit);
		ra = format_minsec(ra);
		dec = val.slice(isplit);
		dec = format_minsec(dec).replace("h", "°");
		return ra + " " + dec;
	case "telescope_azimuthElevation":
		isplit = val.search(/[^^][+-]/) + 1;
		az = val.slice(0, isplit);
		az = format_minsec(az).replace("h", "°");;
		el = val.slice(isplit);
		el = format_minsec(el).replace("h", "°");;
		return az + " " + el;
	case "weather_temperature": return val.toFixed(0);
	case "weather_relativeHumidity": return val.toFixed(0);
	case "weather_windSpeed": return val.toFixed(1);
	case "weather_tau225": return val.toFixed(2);

	case "if_1_systemTemp": return val.toFixed(1);
	case "if_2_systemTemp": return val.toFixed(1);
	case "if_3_systemTemp": return val.toFixed(1);
	case "if_4_systemTemp": return val.toFixed(1);
	}
	return val;
}

var summaryfields = [
	"telescope_observingMode",
	"telescope_onSource",
	"telescope_apparentRaDec",
	"telescope_sourceName",
	"telescope_azimuthElevation",
	"weather_temperature",
	"weather_relativeHumidity",
	"weather_windSpeed",
	"weather_tau225",
	"if_1_systemTemp",
	"if_2_systemTemp",
	"if_3_systemTemp",
	"if_4_systemTemp",
	"recorder_1_status",
	"recorder_2_status",
	"recorder_3_status",
	"recorder_4_status",
];

/* function to make a summary of the specified parameters appear: */
function makeSummaries(parameters) {
	$.each(datastore.metadata,function(observatoryname,observatorymetadata) {
		if(! datastore.visibility.observatories[observatoryname]) return true;
		// make a summary header:
		// makeSureHeaderRowExists(observatoryname,"summary");
		// find the summary dom:
		var facilitydiv = $("div#table-"+observatoryname);
		var summarybody = facilitydiv.find(".groupbody.summary");
		// remove anything that was already there: (should not do anything?)
		summarybody.find(".datarow").remove();

		summaryfields.forEach(function(varname){
			// makeSureDataRowExists(observatoryname, "summary", varname);
			// var grouptbody = $("div#table-"+observatoryname +" tbody."+groupname);
			var newrow = $("<tr>");
			newrow.addClass("datarow");
			newrow.addClass("datarow_"+varname);
			var c1 = $("<td>");
			var c2 = $("<td>");
			var c3 = $("<td>");
			c1.addClass("paramname");
			c2.addClass("paramvalue");
			c2.append($("<span>").addClass("value").text(""));
			c2.append($("<span>").addClass("units"));
			c3.addClass("paramtime");
			var name = varname.replace(/_/g, " ");
			c1.html(name);
			newrow.append(c1);
			newrow.append(c2);
			newrow.append(c3);
			newrow.data("parts",varname.split(FieldSeparator));

			newrow.appendTo(summarybody);
		});
	});
}


function sprintTime(seconds, longform) {
	var t = Math.round(seconds / 31536000);
	if (Math.abs(t) > 1) { return t + (longform?" year(s)":"y"); }
	t = Math.round(seconds / 2592000);
	if (Math.abs(t) > 1) { return t + (longform?" month(s)":"M"); }
	t = Math.round(seconds / 86400);
	if (Math.abs(t) > 1) { return t + (longform?" day(s)":"d"); }
	t = Math.round(seconds / 3600);
	if (Math.abs(t) > 1) { return t + (longform?" hour(s)":"h"); }
	t = Math.round(seconds / 60);
	if (Math.abs(t) > 1) { return t + (longform?" minute(s)":"m"); }
	return Math.round(seconds) + (longform?" second(s)":"s");
}



function updateConfigModal() {
	////////////////////////////////////////////
	// update the list of visible observatories
	var list = d3.select("#obsvisibilitylist");
	var data = $.map(datastore.metadata,function(metadata,observatoryname){return observatoryname});
	var selection = list.selectAll(".observatory-visibility-input").data(data);
	selection.exit().remove();
	// console.log(datastore.visibility.observatories)
	var labels = selection.enter().append("label")
		.attr("class","observatory-visibility-input mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect")
		.attr("for",function(d){return "observatory-visibility-"+d});
	var inputs = labels.append("input")
		.attr("type","checkbox")
		.attr("id",function(d){return "observatory-visibility-"+d})
		.attr("name",function(d){return "observatory-visibility-"+d})
		.attr("class","mdl-checkbox__input")
		.attr("checked",function(d){return datastore.visibility.observatories[d]?true:undefined})
		.on("change",function(d) {
			datastore.visibility.observatories[d] = $(this).is(":checked");
			window.localStorage.setItem("observatoryvisibility", datastore.visibility.observatories)
			if(datastore.visibility.observatories[d]) {
				$("#table-"+d).show();
				datastore.update();
			} else {
				$("#table-"+d).hide();
			}
		});
	labels.append("span")
		.attr("class","mdl-checkbox__label")
		.html(function(d){return d});
	inputs.each(function() {
		componentHandler.upgradeElement(this.parentNode); // this refers to the dom and is set by d3.each
	});


	/////////////////////////////////////////////////
	// update the drop down for facility selection
	var selection = d3.select("#messagingfacility").selectAll("option.facilityname").data(data);
	selection.exit().remove();
	selection.enter().append("option")
		.attr("class","facilityname")
		.attr("value",function(d){return d})
		.attr("selected",function(d){
			if (d == window.localStorage.getItem("messageFacility")) {
				return true;
			} else {
				return undefined; // make the tag disappear
			}
		})
		.html(function(d){return d});

	// console.log($("#messagingfacility").parent()[0]);
	componentHandler.upgradeElement($("#messagingfacility").parent()[0]);



	////////////////////////
	// two helper functions
	function sanitiseFileName(file) {
		var tmp = file.split("/");
		return tmp[tmp.length-1];
	}
	// because of the label for= links unique name/id are very important
	function makeId(d) {
		var input = d.schedule.ScheduleName + d.filename;
		var hash = 0, i, chr;

		for (i = 0; i < input.length; i++) {
			chr   = input.charCodeAt(i);
			hash  = ((hash << 5) - hash) + chr;
			hash |= 0; // Convert to 32bit integer
		}

		return "schedule-visibility-"+hash;
	}

	//////////////////////////////////////////////////////////////
	// update the list of possible schedules in the config dialog
	var list = d3.select("#schedulevisibilitylist");
	var data = $.map(datastore.schedules,function(schedule,filename){return {"filename":filename,"schedule":schedule}});
	var selection = list.selectAll(".schedule-visibility-input").data(data);
	selection.exit().remove();
	var labels = selection.enter().append("label")
		.attr("class","schedule-visibility-input mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect")
		.attr("for",makeId);
	var inputs = labels.append("input")
		.attr("type","checkbox")
		.attr("id",makeId)
		.attr("name",makeId)
		.attr("class","mdl-checkbox__input")
		.attr("checked",function(d){return datastore.visibility.schedules[d.filename]?true:undefined})
		.on("change",function(d) {
			datastore.visibility.schedules[d.filename] = $(this).is(":checked");
			// since visibility may now have changed we need to do a refresh
			datastore.update();
		});
	labels.append("span")
		.attr("class","mdl-checkbox__label")
		.html(function(d){return d.schedule.ScheduleName+"<span class='filename'> ("+sanitiseFileName(d.filename)+")</span>";});

	// reapply mdl style
	inputs.each(function(a,b) {
		componentHandler.upgradeElement(this.parentNode); // this refers to the dom and is set by d3.each
	});
}




function makeObservatoryTables() {
	return $.Deferred(function() {
		var self = this;

		var template = $("#table-template");
		$.each(datastore.metadata,function(observatoryName) {
			if(getURLParameter("observatory")!=undefined && getURLParameter("observatory")!=observatoryName) return true; // skip if this is a one-obs page
			// clone templace:
			var newtable = template.clone();
			// change some values:
			newtable.prop("id","table-"+observatoryName);
			newtable.find("th#observatory").prop("id",observatoryName);
			newtable.find("th.observatoryname a").html(observatoryName);
			newtable.find("th.observatoryname a").attr("href","paneltest.html?observatory="+observatoryName);

			// close button:
			newtable.find("button.xCloseButton").click(function(){$("div#table-"+observatoryName).hide();});

			// weather stub:
			newtable.find("img#weather_template").prop("id","weather_"+observatoryName);

			// horizon stub:
			newtable.find("div#horizon_template").prop("id","horizon_"+observatoryName);

			// tau225 stub:
			newtable.find(".tauplot_container a").attr("href","/weather.html");
			newtable.find("#tau225_template").attr("id","tau225_"+observatoryName);

			// insert and show new table:
			newtable.insertBefore(template);
			if(datastore.visibility.observatories[observatoryName]) {
				newtable.show();
			}
		});
		self.resolve();
	});
}







function toggleCategory(varname) {
	// determine if this is a close or open operation
	var rows = $(".datarow."+varname+".level"+(varname.split(FieldSeparator).length));
	if(rows.data("closed")){ // .data only looks at the first match, but it should be equal for all others since we close/open simultaneously
		// console.log("opening "+varname);
		rows.data("closed",false);
		var affectedrows = $(".datarow."+varname+".level"+(varname.split(FieldSeparator).length+1));
		affectedrows.show();
	}else{
		// console.log("closing "+varname);
		var affectedrows = $(".datarow"+"."+varname);
		// set everything that is varname or deeper to closed
		affectedrows.data("closed",true);
		// hide everything that is deeper than varname but dont hide varname itself
		affectedrows.not(".level"+(varname.split(FieldSeparator).length)).hide();
	}
}






// $(document).ready(function(){
		// put username in the header of the page
		renderUserId("#userid");
		// renderMenu();


		$("button#expandall").click(function() {
			$(".datarow").show();
		});
		$("button#collapseall").click(function() {
			$(".datarow").hide();
		});
		$("button#updatenow").click(function(){
			datastore.update(); // also takes care of clearing the current timeout and setting a new one
		});

		var oldScrollTop = 0;

		// attach event to open the config modal
		$("button#config").click(function() {
			// remember scroll position
			oldScrollTop = $(document).scrollTop();
			// disable scrollbar
			$('html, body').css({
				overflow: 'hidden'
			});
			$("#modalcontainer,#modalbackground").fadeIn({duration:200});
		});

		// attach events to close the modal again
		$("button#closedialog,#modalcontainer").click(function(e) {
			// reenable scrolling
			$('html, body').css({
				overflow: 'auto'
			});
			// reset old scroll position
			$(document).scrollTop(oldScrollTop);
			// hide dialog
			$("#modalcontainer,#modalbackground").fadeOut({duration:200});
		});

		// we need to prevent clicks on the modal itself from bubbling up the dom tree to reach the modalcontainer
		$("#modal").click(function(e) {
			// console.log(this)
			// e.preventDefault() would stop the event from propagating the click down (to form items in this case)
			e.stopPropagation();
			// return false is a convenient shortcut for the above two together but only in jquery
		});




		// make all time.timeago stuff display as relative times
		// $("time.timeago").timeago();

	// });

	$(document).on("click", "tr.groupheader", function(event) {
		// console.log($(this));
		var cat = $(this).parent().attr("class").split(/\s+/)[1];
		if(cat=="details") {
			if($("tbody.details tr.level1").is(":visible")){
				//closing:
				$("tbody.details .datarow").hide().data("closed",true);
			}else{
				//opening:
				$("tbody.details .datarow.level1").show();
			}
		} else if(cat=="presummary") {
			$("tbody.summary tr").not(".groupheader").toggle();
			$("tbody.presummary tr").not(".groupheader").toggle();
		}else{
			$("tbody."+cat+" tr").not(".groupheader").toggle();
		}
	});


	// click on variablename does a expand/collapse
	$(document).on("click", ".details .paramname", function(event) {
		// var lvl = $(this).parent().data("level");
		var parts = $(this).parent().data("parts");
		toggleCategory(parts.join("_"));
	});

	// click on value does a redirect to graph
	$(document).on("click", ".paramvalue", function(event) {
		var parts = $(this).parent().data("parts");
		var varname = parts.join("_");
		var obsname = $(this).parent().parent().parent().parent().attr("id").split("-")[1];
		console.log(varname);
		console.log(obsname);

		window.location = "/graph.html?observatory="+obsname+"&field="+varname;
	});
</script>

</body>
</html>
<!-- vim: set ft=html noet: -->
