{{template "docstart"}}


<style rel="stylesheet/less" type="text/less">

#observatorygrid {
	position: relative;
	margin: 0px 8px;
	overflow: hidden;
}

.observatorypanel {
	float: left;
	padding: 8px;
	margin: 0px 4px 16px 4px;
	background: #777;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
	background: #fff;
    border-radius: 2px;
    
	.grid1x1 & {
		font-size: 150%;
		line-height: 150%;
	}

	.grid1x1 & { width: calc(~'100.000% - 24px'); }  /* width exludes 2x8px padding and 2x4px margin */
	.grid2x1 & { width: calc(~'50.0000% - 24px'); }
	.grid3x2 & { width: calc(~'33.3333% - 24px'); }
	.grid4x2 & { width: calc(~'25.0000% - 24px'); }
	.grid5x2 & { width: calc(~'20.0000% - 24px'); }

	.grid1x1 & { height: 860px; } /* percents don't work because all ancestors need a height set for that and mdl-layout doesn't do that */
	.grid2x1 & { height: 860px; }
	.grid3x2 & { height: 430px; }
	.grid4x2 & { height: 430px; }
	.grid5x2 & { height: 430px; }
}

.horizon canvas {
	margin-top: -5px; /* very ugly fix for some unexplainable whitespace*/
}

.hasborder {
	/*border: 1px solid #aaa;*/
}

.messagecontainer {
	overflow: hidden;
}

/* standard sizes */
.telescopetemplate .cell  {
	padding: 6px 0px;

	&.messagecontainer {
		padding: 0px;
	}
}
.telescopetemplate .row > div {
	display: inline-block;
	/*text-align: center;*/
	/*margin-right: -4px;*/ /* this compensates for whitespace introduced between tags in the html */
	margin-right: -8px; /* this compensates for whitespace introduced between tags in the html */
}
.row > .cell {
	vertical-align: top;
}
.telescopetemplate .row > [class~='cell']:first-of-type {
	/*width: calc(30% - 8px);*/
	/*text-align: left;*/
}
.telescopetemplate .row > [class~='cell']:last-of-type {
	/*width: calc(30% - 8px);*/
	/*text-align: right;*/
}
.telescopetemplate .row .cell.onetenth   { width: 10%; }
.telescopetemplate .row .cell.twotenth   { width: 20%; }
.telescopetemplate .row .cell.threetenth { width: 30%; }
.telescopetemplate .row .cell.fourtenth  { width: 40%; }
.telescopetemplate .row .cell.fivetenth  { width: 50%; }
.telescopetemplate .row .cell.sixtenth   { width: 60%; }
.telescopetemplate .row .cell.sevententh { width: 70%; }
.telescopetemplate .row .cell.eighttenth { width: 80%; }
.telescopetemplate .row .cell.ninetenth  { width: 90%; }
.telescopetemplate .row .cell.full       { width: 100%; }

.telescopetemplate .row .cell.oneeight   { width: 12.5%; }
.telescopetemplate .row .cell.twoeight   { width: 25.0%; }
.telescopetemplate .row .cell.threeeight { width: 37.5%; }
.telescopetemplate .row .cell.foureight  { width: 50.0%; }
.telescopetemplate .row .cell.fiveeight  { width: 62.5%; }
.telescopetemplate .row .cell.sixeight   { width: 75.0%; }
.telescopetemplate .row .cell.seveneight { width: 87.5%; }

.telescopetemplate .row .cell.onesixth   { width: 16.666666666%; }
.telescopetemplate .row .cell.twosixth   { width: 33.333333333%; }
.telescopetemplate .row .cell.threesixth { width: 50.000000000%; }
.telescopetemplate .row .cell.foursixth  { width: 66.666666666%; }
.telescopetemplate .row .cell.fivesixth  { width: 83.333333333%; }

.telescopetemplate .row .cell.onefourth   { width: 25%; }
.telescopetemplate .row .cell.twofourth   { width: 50%; }
.telescopetemplate .row .cell.threefourth { width: 75%; }


.larger {
	font-size: 180%;
	line-height: 120%;
}
.bold {
	font-weight: bold;
}

.outdated {
	color: #ccc;
}
.missing {
	color: gray;
}
.warning {
	background-color: orange;
}
.error {
	-webkit-animation: blink 1.2s step-end infinite;
	-moz-animation: blink 1.2s step-end infinite;
	-ms-animation: blink 1.2s step-end infinite;
	-o-animation: blink 1.2s step-end infinite;
	animation: blink 1.2s step-end infinite;
}
@-webkit-keyframes blink {0% {background-color: red} 50% {background-color: none;}}
   @-moz-keyframes blink {0% {background-color: red} 50% {background-color: none;}}
    @-ms-keyframes blink {0% {background-color: red} 50% {background-color: none;}}
     @-o-keyframes blink {0% {background-color: red} 50% {background-color: none;}}
        @keyframes blink {0% {background-color: red} 50% {background-color: none;}}





/* individual formatting */
.row#datetimename {
	background: #0070c0;
	color: white;
}
#observatoryname {
	font-size: 300%;
	position: relative;
	top: 17px;
}






.messages {
	animation: marquee 0s linear 0s infinite;
	background-color: #0070c0;
	color: white;
	display: inline-block; /* such that it doesn't get stretched to fill the width */
	font-size: 80%;
	line-height: 150%;
	white-space: nowrap;
	.msg {
		margin-right: 2em;
		&::before {
		    content: "•";
		    margin-right: 40px;
		}
	}
}
img.tau225 {
	vertical-align: bottom;
	margin-left: 5%;
	margin-top: 15px;
	width: 95%;
}
img.weathermap {
	width: 100%;
}
div.horizon {
	overflow: hidden;
}


</style>


<script src="/js/valueresolution.js"></script>
<script src="/js/datastore.js"></script>

<!-- templates -->
<script src="/js/jsviews.min.js"></script>
<script type="text/javascript">
	// change default double { and } tags in jsviews/jsrender to {| and |}
	// because we already use double { and  double } in server side (go) templates
	// note that {^{:data}} also changes to {^|:data|}. 
	// Note to self: if you try to use [[]] instead array indices break
	$.views.settings.delimiters("{|", "|}");
</script>


<!-- css preprocessor, must be called after all stylesheets hence it's here and not in the docstart template -->
<script>
  less = {
    errorReporting: "console"
  };
</script>
<script src="js/less.min.js" type="text/javascript"></script>

<style type="text/css" id="marqueeanimations"></style>

<title>VLBI Monitor</title>
</head>

<body>
{{template "beginlayout" .}}

<div id="observatorygrid" class="grid1x1"></div>

{{template "endlayout"}}



<!-- scripts -->
<script src="/js/jquery.timeago.js"></script>
<script src="/js/d3.min.js" charset="utf-8"></script>
<!-- <script src="https://raw.githubusercontent.com/stowball/mqGenie/master/mq.genie.min.js"></script> -->
<!-- <script src="/js/d3.geo.projection.js" charset="utf-8"></script> -->
<script src="/js/celestial.js" charset="utf-8"></script>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js"></script>
<script src="/js/mdl-ext.min.js"></script>

<script src="/js/names.js"></script>
<script src="/js/coordinates.js"></script>
<script src="/js/vlbi_monitor.js"></script>

<script src="/js/vlbi_schedule_drawing_routines.js"></script>
<script src="/js/vlbi_horizon_drawing_routines.js"></script>



<script id="gridtemplate" type="text/x-jsrender">
	{|for visibleobservatories|}
		<div class="observatorypanel" id="{|:name|}">
			{|include tmpl="#mainyobservatorytemplate" /|}
		</div>
	{|/for|}
	
</script>


<script id="mainyobservatorytemplate" type="text/x-jsrender">
	<div class="telescopetemplate">
		{|include tmpl="#telescopeheadertemplate" /|}
		{|include tmpl="#scheduletemplate" /|}
		{|include tmpl="#recordertemplate" /|}
		<div class="row" id="pointingweather">
			{|include tmpl="#pointingtemplate" /|}
			{|include tmpl="#weathergraphtemplate" /|}
		</div>
		<div class="row">
			{|include tmpl="#weatherdatatemplate" /|}
			{|include tmpl="#backendtemplate" /|}
			{|include tmpl="#horizontemplate" /|}
			{|include tmpl="#weathermaptemplate" /|}
		</div>
		{|include tmpl="#chattemplate" /|}
	</div>
</script>

<script id="telescopeheadertemplate" type="text/x-jsrender">
	<div class="row" id="datetimename">
		<div class="cell threetenth" id="times">
			<div><span class="datetimecell bold" data-varname="utc">__:__:__</span> (UTC)</div>
			<div><span class="datetimecell bold" data-varname="lst">__:__:__</span> (LST)</div>
		</div>
		<div class="cell fourtenth"><span id="observatoryname">{|:name|}</span></div>
		<div class="cell threetenth">
			<div><span class="datetimecell bold" data-varname="date">____/__/__</span> (day <span class="datetimecell" data-varname="dayofyear">__</span>) </div>
			<div><span class="datetimecell bold" data-varname="mjd"></span> (MJD) </div>
		</div>	
	</div>
</script>

<script id="scheduletemplate" type="text/x-jsrender">
	<div class="row hasborder" >
		<div class="cell onesixth">Schedule: <span class="schedulecell" data-varname="name"></span></div>
		<div class="cell onesixth">Scan: <span class="schedulecell" data-varname="scan"></span></div>
		<div class="cell onesixth">#Tel: <span class="schedulecell" data-varname="numobs"></span></div>
		<div class="cell onesixth">Start: <span class="schedulecell" data-varname="start"></span></div>
		<div class="cell onesixth">Duration: <span class="schedulecell" data-varname="length"></span></div>
		<div class="cell onesixth">Remaining: <span class="schedulecell" data-varname="remaining"></span></div>
	</div>
</script>

<script id="recordertemplate" type="text/x-jsrender">
	<div class="row hasborder" id="recorder">
		<div data-validity="recorder_1_status" class="cell twotenth">Recorder: <span class="datacell" data-varname="recorder_1_status"></span></div>
		<div data-validity="recorder_1_fillFactor" class="cell threetenth">Used: <span class="datacell" data-varname="recorder_1_bytesOnDisk"></span>TB (<span class="datacell" data-varname="recorder_1_fillFactor"></span>% used)</div>
		<div data-validity="recorder_1_cpuTemperature" class="cell threetenth">cpu temp: <span class="datacell" data-varname="recorder_1_cpuTemperature"></span>°C</div>
		<div class="cell twotenth">DBE: __/__</div>
	</div>
</script>

<script id="pointingtemplate" type="text/x-jsrender">
	<div class="cell fourtenth hasborder" id="pointing" data-validity="telescope_onSource">
		<div class="row">
			<div class="cell twosixth">RA/DEC (target): </div>
			<div class="cell foursixth larger"><span class="datacell" data-varname="telescope_apparentRaDec"></span></div>
			<div></div>
		</div>
		<div class="row">
			<div class="cell twosixth">RA/DEC (current): </div>
			<div class="cell foursixth larger"><span class="datacell" data-varname="telescope_epochRaDec"></span></div>
			<div></div>
		</div>
		<div class="row">
			<div class="cell twosixth">RA/DEC (difference): </div>
			<div class="cell foursixth"><span class="datacell" data-varname="telescope_differenceRaDec"></span></div>
			<div></div>
		</div>
		<div class="row">
			<div class="cell twosixth">Az/El (current): </div>
			<div class="cell foursixth larger"><span class="datacell" data-varname="telescope_azimuthElevation"></span></div>
			<div></div>
		</div>
	</div>
	<div class="cell twotenth hasborder"  data-validity="telescope_onSource">
		<div class="row">
			<div class="cell twosixth">Mode:</div>
			<div class="cell foursixth larger"><span class="datacell" data-varname="telescope_observingMode"></span></div>
		</div>
		<div class="row">
			<div class="cell twosixth">Source:</div>
			<div class="cell foursixth larger"><span class="datacell" data-varname="telescope_sourceName"></span></div>
		</div>
		<div class="row">
			<div class="cell twosixth">Status:</div>
			<div class="cell foursixth"><span class="datacell" data-varname="telescope_status"></span></div>
		</div>
		<div class="row">
			<div class="cell twosixth">Pointing:</div>
			<div class="cell foursixth"><span class="datacell" data-varname="telescope_pointingCorrection"></span></div>
		</div>
		<div class="row">
			<div class="cell twosixth">Focus:</div>
			<div class="cell foursixth"><span class="datacell" data-varname="telescope_focusCorrection"></span></div>
		</div>
	</div>
</script>

<script id="weatherdatatemplate" type="text/x-jsrender">
	<div class="cell oneeight hasborder" id="weatherdata">
		<div data-validity="weather_windSpeed" class="row">
			<div class="cell twofourth">Wind:</div>
			<div class="cell twofourth"><span class="datacell" data-varname="weather_windSpeed"></span> (m/s)</div>
		</div>
		<div data-validity="weather_temperature" class="row">
			<div class="cell twofourth">Temp:</div>
			<div class="cell twofourth"><span class="datacell" data-varname="weather_temperature"></span> (°C)</div>
		</div>
		<div data-validity="weather_relativeHumidity" class="row">
			<div class="cell twofourth">Humidity:</div>
			<div class="cell twofourth"><span class="datacell" data-varname="weather_relativeHumidity"></span>%</div>
		</div>
		<div data-validity="weather_tau225" class="row">
			<div class="cell twofourth">Opacity: </div>
			<div class="cell twofourth"><span class="datacell" data-varname="weather_tau225"></span></div>
		</div>
	</div>
</script>

<script id="weathergraphtemplate" type="text/x-jsrender">
	<div class="cell fourtenth" id="weathergraph">
		<img class="tau225" id="tau225_{|:name|}" src="" alt="48 hour tau225" />
	</div>
</script>

<script id="backendtemplate" type="text/x-jsrender">
	<div class="cell twoeight hasborder">
		<div class="row">
			<div class="cell twosixth">v:</div>
			<div class="cell foursixth">
				<span class="datacell"  data-validity="if_1_centreFreq" data-varname="if_1_centreFreq"></span> 
				<span>/</span>
				<span class="datacell" data-validity="if_2_centreFreq" data-varname="if_2_centreFreq"></span> 
				<span>GHz</span>
			</div>
		</div>
		<div class="row">
			<div class="cell twosixth">Tsys:</div>
			<div class="cell foursixth">
				<span class="datacell" data-validity="if_1_systemTemp" data-varname="if_1_systemTemp"></span>
				<span>/</span>
				<span class="datacell" data-validity="if_2_systemTemp" data-varname="if_2_systemTemp"></span>
				<span>K</span>
			</div>
		</div>
	</div>
</script>

<script id="chattemplate" type="text/x-jsrender">
	<div class="row">
		<div class="cell full messagecontainer">
			<div class="messages" id="observermessages"></div>
		</div>
		<div class="cell full messagecontainer">
			<div class="messages" id="statusmessages"></div>
		</div>
		<div class="cell full messagecontainer">
			<div class="messages" id="weathermessages"></div>
		</div>
	</div>
</script>

<script id="horizontemplate" type="text/x-jsrender">
	<div class="cell threeeight">
		<div id="horizon_{|:name|}"  class="horizon"></div>
	</div>
</script>

<script id="weathermaptemplate" type="text/x-jsrender">
	<div class="cell twoeight map_container">
		<img class="map_image weathermap" id="weathermap_{|:name|}" src="" alt="Weather map" />
		<div class="map_crosshair"></div>
	</div>	
</script>


<script>	




function sprintTime(seconds, longform) {
	var t = Math.round(seconds / 31536000);
	if (Math.abs(t) > 1) { return t + (longform?" year(s)":"y"); }
	t = Math.round(seconds / 2592000);
	if (Math.abs(t) > 1) { return t + (longform?" month(s)":"M"); }
	t = Math.round(seconds / 86400);
	if (Math.abs(t) > 1) { return t + (longform?" day(s)":"d"); }
	t = Math.round(seconds / 3600);
	if (Math.abs(t) > 1) { return t + (longform?" hour(s)":"h"); }
	t = Math.round(seconds / 60);
	if (Math.abs(t) > 1) { return t + (longform?" minute(s)":"m"); }
	return Math.round(seconds) + (longform?" second(s)":"s");
}
// makeImgUrl adds a bogus GET parameter to the string url
// which changes every validSeconds to enforce refreshing of the image
function makeImgUrl(url) {
	// var url = record.data.value;
	var validSeconds = 300;
	url += "?" + Math.round((new Date()).getTime() / (validSeconds * 1000));
	return url;
}

function updateData() {
	$(".datacell").each(function(i, span) {
		var observatoryname = $(span).closest(".observatorypanel").attr("id");
		var varname = $(span).attr("data-varname");
		if (datastore.data[observatoryname]!=undefined && datastore.data[observatoryname][varname] != undefined) {
			var value = datastore.data[observatoryname][varname].value;
			$(span).html(formatValue(varname, value));
		} else {
			$(span).html("---");
		}
		
	});

	$(".cell,.row,.datacell").each(function(i,elem) {
		var varname = $(elem).attr("data-validity");
		if(varname==undefined) {
			return true;
		}
		$(elem).removeClass("missing");
		$(elem).removeClass("error");
		$(elem).removeClass("warning");
		$(elem).removeClass("outdated");
		
		if (datastore.data[observatoryname]==undefined || datastore.data[observatoryname][varname] == undefined) {
			$(elem).addClass("missing");
		} else {
			$(elem).toggleClass("error", !(datastore.data[observatoryname][varname].valid));
			// datastore.metadata[observatoryname]
			if(	"cadence" in datastore.metadata[observatoryname][varname] 
				&& datastore.metadata[observatoryname][varname].cadence > 0) {
				var dt = (new Date() - new Date(1000*datastore.data[observatoryname][varname].date))/1000;
				// console.log(observatoryname+"/"+varname+": dt: "+dt+" cadence: "+datastore.metadata[observatoryname][varname].cadence)
				$(elem).toggleClass("outdated", dt > datastore.metadata[observatoryname][varname].cadence);
			}
		}

	});
}


function updateSchedule() {
	warnings = [];
	var cur = getCurrentScheduleItem(warnings);
	var exper = getCurrentExperiment();
	$('.schedulecell[data-varname="name"]').html(exper?exper.Name:"---");
	$('.schedulecell[data-varname="scan"]').html(cur?cur.ScanId:"---");
	$('.schedulecell[data-varname="start"]').html(cur?cur.StartTime:"---");
	$('.schedulecell[data-varname="length"]').html(cur?sprintTime(new Date(cur.StopTime)/1000 - new Date(cur.StartTime)/1000,true):"---");
	$('.schedulecell[data-varname="remaining"]').html(cur?sprintTime(new Date(cur.StopTime)/1000 - new Date()/1000,true):"---");
	$('.schedulecell[data-varname="numobs"]').html(cur?cur.Stations.length:"---");
}


function updateTauPlot() {
	$.each(datastore.metadata, function(observatoryname) {
		if(datastore.metadata[observatoryname]==undefined || datastore.data[observatoryname]==undefined) return true; // continue
		if(! datastore.visibility.observatories[observatoryname]) return true;
		var image = new Image();
		image.onload = function () {
			var img_elem  = $("img#tau225_"+observatoryname);
			img_elem.attr("src",image.src);
		}
		// get the appropriate image url:
		var url = "/img/plots/tau225."+observatoryname+".d10.png";
		url = makeImgUrl(url);
		image.src = url;
	});
}


function updateWeatherMaps() {
	$.each(datastore.metadata, function(observatoryname,observatorydata){
		if(observatorydata==undefined) return true; // continue
		if(! ("weatherMap_waterVapor_url" in observatorydata )) return true;
		if(! datastore.metadata[observatoryname]["weatherMap_waterVapor_observatoryX"]) return true;
		if(! datastore.metadata[observatoryname]["weatherMap_waterVapor_observatoryY"]) return true;

		// create new image obj
		var image = new Image();

		// replace the existing image once the new image has loaded
		image.onload = function () {
			var img_elem  = $("img#weathermap_"+observatoryname);
			img_elem.attr("src",image.src);
			var x = eval(datastore.metadata[observatoryname]["weatherMap_waterVapor_observatoryX"].valueFunction) / image.width * img_elem.width();
			var y = eval(datastore.metadata[observatoryname]["weatherMap_waterVapor_observatoryY"].valueFunction) / image.height * img_elem.height();
			img_elem.parent().find(".map_crosshair").css("left",x);
			img_elem.parent().find(".map_crosshair").css("top",y);
			img_elem.parent().find(".map_crosshair").show();
		}

		// get the appropriate image url:
		var url = eval(datastore.metadata[observatoryname]["weatherMap_waterVapor_url"].valueFunction);//d.status["weatherMap_waterVapor_url"]
		url = makeImgUrl(url);
		image.src = url;
	});
	
}


function updateClocks() {
	var now = new Date();
	$('.datetimecell[data-varname="utc"]').text(now.toISOString().slice(11,19));
	$('.datetimecell[data-varname="lst"]').text(new Date(now.getTime()+1382400).toISOString().slice(11,19));
	var mon = (""+(now.getUTCMonth()+1)).padStart(2,"0");
	var day = (""+now.getUTCDate()).padStart(2,"0");
	$('.datetimecell[data-varname="date"]').text(now.getUTCFullYear()+"/"+mon+"/"+day);

	var startofyear = new Date(Date.UTC(now.getUTCFullYear(), 0, 1));
	var diff = (now - startofyear);
	var oneDay = 1000 * 60 * 60 * 24;
	$('.datetimecell[data-varname="dayofyear"]').text(1+Math.floor(diff / oneDay));

	var JD = gregorianToJulianDay(
		now.getUTCFullYear(),
		now.getUTCMonth() + 1,
		now.getUTCDate(), 
		now.getUTCHours(), 
		now.getUTCMinutes(), 
		now.getUTCSeconds());
	$('.datetimecell[data-varname="mjd"]').text(JD.toFixed(6));
}

function updateMessages() {
	$.each(datastore.metadata, function(observatoryname) {
		if ($("#"+observatoryname).length == 0) return;
		$.each(["status","weather","observer"], function(i,type) {
			var realmsgs = [];
			if(datastore.messages[observatoryname][type] != undefined) {
				// some mesages may actually be empty so we filter them:
				datastore.messages[observatoryname][type].sort(function(a,b) {
					return new Date(a.recvTime) > new Date(b.recvTime);
				});
				$.each(datastore.messages[observatoryname][type], function(i,msg){
					if(msg.content != undefined) {
						realmsgs.push(msg);
					}
				});
			}
			if(realmsgs.length == 0) {
				realmsgs.push({
					content: "No messages to show"
				});
			}

			var obs  = $("#"+observatoryname);
			var line = obs.find("#"+type+"messages");
			line.html("");
			$.each(realmsgs, function(i,msg) {
				var newspan = $('<span class="msg">');
				var text = "";
				if(msg.recvTime != undefined) {
					var d = new Date(msg.recvTime);
					if(d.getTime() > 0) { 
						text += "["+d.getUTCFullYear()+"/"+(d.getUTCMonth().toString().padStart(2,"0"))+"/"+(d.getUTCDate().toString().padStart(2,"0"))+" "+d.toISOString().slice(11,19)+"] ";
					}	
				}
				if(msg.username != undefined) {
					text += msg.username+": ";
				}
				text+=msg.content;
				newspan.text(text);
				line.append(newspan);
			});
		});
	});
	var pixelspersecond = 50;
	animations = "";
	// make it scrolling:
	$(".messages").each(function(i, marquee) {
		// console.log("duplicating")
		// console.log(marquee)
		var width = $(marquee).width();
		if(width < 1) return; // if there are no messages then skip
		$(marquee).css('animation-duration', (width/pixelspersecond).toString()+"s");
		$(marquee).css('animation-name', "marquee"+i);
		animations += "\
		@keyframes marquee"+i+" {\
			from {margin-left: 0px; }\
			to {margin-left: -"+width+"px; }\
		}";
		// duplicate items
		var marqueetext = $(marquee).html();
		var numcopies = $(document).width()/$(marquee).width();
		for (i=0 ; i<numcopies ; i++) {
			$(marquee).html($(marquee).html()+marqueetext);
		}
	});

	// process the animations through less for ultimate browser compatibility
	less.render(animations).then(function(output){
		$("head #marqueeanimations").html(output.css);
	});
	
	
}
	


			
$(function() {
	// $(".observatorypanel").each(function(i, panel) {
	// 	observatoryname = $(panel).attr('id');
	// 	$.templates("#mainyobservatorytemplate").link(panel, {'observatoryname': observatoryname});
	// });
	var templatesready = $.Deferred();
	datastore.onMetadata(function() {
		var data = $.map(datastore.visibility.observatories, function(visible, obsname) {
			if (!visible) return;
			return {
				name: obsname
			}
		});
		$.templates("#gridtemplate").link("#observatorygrid", {visibleobservatories:data});
		templatesready.resolve();
	});
	

	// install the update routines:
	datastore.onData(function(){templatesready.done(updateData)});
	datastore.onSchedule(function(){templatesready.done(updateSchedule)});
	datastore.onData(function(){templatesready.done(updateWeatherMaps)});
	datastore.onData(function(){templatesready.done(updateMessages)});

	horizonsdeferred = $.Deferred();
	datastore.onMetadata(function() {
		makeHorizonMaps();
		// factor experimentally determined
		$.each(datastore.metadata, function(observatoryname) {
			$("#horizon_"+observatoryname).height(0.57589984350547730829*$("#horizon_"+observatoryname).height());
		});
		horizonsdeferred.resolve();
	});

	 
	 // when new data is received
	datastore.onUpdate(function() {
		// stall until horizons are there, executes immediately if already done
		horizonsdeferred.done(updateSchedulesAndPointers);
	});


	// start updating tauplots:
	templatesready.done(function(){
		updateTauPlot();
		setInterval(updateTauPlot,600000);
	});

	datastore.config.showcountdown = true;
	// start fetching data
	datastore.init();
});



// run a separate clock update routine each second:
function clockLoop() {
	setTimeout(clockLoop,1000);
	updateClocks();
} $(clockLoop);


function splitCoordinates(coords) {

}

function formatValue(name, val) {
	if (val==undefined) return undefined;
	function format_minsec(val) {
		var valorig = Number(val);
		// split parts:
		var val = Math.abs(valorig);
		var deg = Math.trunc(val);
		var min = Math.trunc((val - deg)*60);
		var sec = Math.trunc((val - deg - min/60)*60*60);
		// format each part:
		var sign = (valorig >= 0.0)?"+":"-";
		deg = deg.toString().padStart(2,"0");
		sec = sec.toString().padStart(2,"0");
		min = min.toString().padStart(2,"0");
		// put it al back together:
		return sign + deg + "h&nbsp;&nbsp;" + min + "'&nbsp;&nbsp;" + sec + "\"";
	}

	switch (name) {
	case "telescope_observingMode": return val;
	case "telescope_sourceName": return val;
	case "telescope_apparentRaDec":
	case "telescope_epochRaDec":
	case "telescope_differenceRaDec":
		isplit = val.search(/[^^][+-]/) + 1;
		ra = val.slice(0, isplit);
		ra = format_minsec(ra);
		dec = val.slice(isplit);
		dec = format_minsec(dec).replace("h", "°");
		return ra + "&nbsp;&nbsp;&nbsp;&nbsp;" + dec;
	case "telescope_azimuthElevation":
		isplit = val.search(/[^^][+-]/) + 1;
		az = val.slice(0, isplit);
		az = format_minsec(az).replace("h", "°");;
		el = val.slice(isplit);
		el = format_minsec(el).replace("h", "°");;
		return az + "&nbsp;&nbsp;&nbsp;&nbsp;" + el;
	case "weather_temperature": return val.toFixed(0);
	case "weather_relativeHumidity": return val.toFixed(0);
	case "weather_windSpeed": return val.toFixed(1);
	case "weather_tau225": return val.toFixed(2);

	case "if_1_centreFreq": return val.toFixed(3);
	case "if_1_systemTemp": return val.toFixed(1);
	case "if_2_centreFreq": return val.toFixed(3);
	case "if_2_systemTemp": return val.toFixed(1);
	case "recorder_1_online": return (!!val).toString();
	case "recorder_1_recording": return (!!val).toString();
	case "recorder_2_online": return (!!val).toString();
	case "recorder_2_recording": return (!!val).toString();
	}
	return val;
}



function sprintTime(seconds, longform) {
	var t = Math.round(seconds / 31536000);
	if (Math.abs(t) > 1) { return t + (longform?" year(s)":"y"); }
	t = Math.round(seconds / 2592000);
	if (Math.abs(t) > 1) { return t + (longform?" month(s)":"M"); }
	t = Math.round(seconds / 86400);
	if (Math.abs(t) > 1) { return t + (longform?" day(s)":"d"); }
	t = Math.round(seconds / 3600);
	if (Math.abs(t) > 1) { return t + (longform?" hour(s)":"h"); }
	t = Math.round(seconds / 60);
	if (Math.abs(t) > 1) { return t + (longform?" minute(s)":"m"); }
	return Math.round(seconds) + (longform?" second(s)":"s");
}








// put username in the header of the page 
renderUserId("#userid");
// renderMenu();






</script>

</body>
</html>





