{{template "docstart"}}

<link rel="stylesheet/less" type="text/less" href="css/schedule.css"></link>
<link rel="stylesheet/less" type="text/less" href="css/mdl-overrides.css"></link>

<!-- scripts -->
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/datastore2.js"></script>
<script src="/js/vexparser.js"></script>
<script src="/js/md5.js"></script>
<script src="/js/vlbi_monitor.js"></script>
<script src="/js/names.js"></script>

<!-- css preprocessor, must be called after all stylesheets hence it's here and not in the docstart template -->
<script>less={errorReporting: "console"};</script>
<script src="js/less.min.js" type="text/javascript"></script>

<title>VLBI Monitor</title>
</head>
<body>

	<div class="mdl-layout mdl-js-layout">
		<div class="drawercontainer">
			<div class="mdl-layout__drawer">

				<span class="mdl-layout__title">
					<i class="sidemenutoggle mdl-icon-toggle__label material-icons">menu</i>
					<span class="hidewhensmall">VLBI Monitor</span>
				</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link hidewhensmall" href="/overview.html">Overview</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=summarylayouttemplate&schedule=true">Status</a>
					<a class="mdl-navigation__link hidewhensmall" href="/newlayout.html?template=forecasttemplate&schedule=false">Forecast</a>
					<a class="mdl-navigation__link hidewhensmall" href="/weather.html">Weather</a>
					<a class="mdl-navigation__link hidewhensmall" href="/matrix.html">Matrix</a>
					<a class="mdl-navigation__link hidewhensmall" href="/graph.html">Download</a>
					<a class="mdl-navigation__link hidewhensmall" href="/schedule.html">Schedule</a>
					<a class="mdl-navigation__link hidewhensmall" href="/map.html">World map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/celestial.html">Celestial map</a>
					<a class="mdl-navigation__link hidewhensmall" href="/messages.html">Messages</a>
					<a class="mdl-navigation__link hidewhensmall" href="https://bitbucket.org/vlbi/vlbimonitor-webinterface/issues?status=new&status=open">Issues</a>
					<a class="mdl-navigation__link hidewhensmall" href="/settings.html">Settings</a>
				</nav>
			</div>
		</div>

		<main class="mdl-layout_content">
		</main>
	</div>



	
	<!-- ********************************** -->
	<!-- BEGIN OF SCHEDULE SPECIFIC CONTENT -->
	<!-- ********************************** -->
	<div id="observatorygrid" class="grid columncount1 rowcount1">
		<div class="observatorypanel scrollablepanel">
			<h5 class="title">EHT VLBI Schedule</h5>
			<div id="schedulecontainer">
				<div class="warnwhenempty">There are no schedules to display. In the <a href="settings.html">settings</a> pane you can select which schedules are shown.</div>
			</div>
		</div>
	</div>
		<!-- END OF SCHEDULE PAGE CONTENT -->


	<!-- scripts -->
	<script src="/js/jquery.timeago.js"></script>
	<script src="/js/dateformat.js"></script>
	<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js"></script>
	<!-- - <script src="/js/mdl-ext.min.js"></script>-->

	<!-- <script src="/js/names.js"></script>
	<script src="/js/coordinates.js"></script>
	<script src="/js/vlbi_monitor.js"></script>-->

	<!-- <script src="/js/vlbi_schedule_drawing_routines.js"></script>
	<script src="/js/vlbi_horizon_drawing_routines.js"></script>-->


<script type="text/javascript">

	function arraysEqual(a1, a2) {
		for (let i = a1.length; i--;) {
			if (a1[i] !== a2[i]) return false
		}
		return true;
	}

const visibleSchedules = new class visibleSchedulesClass {
	constructor() {
		this.prevcurnext = [undefined, undefined, undefined];
	}

	get get() {
		const tnow = new Date().getTime();
		const pcn = [undefined, undefined, undefined];
		for (let i in datastore.knownvexfiles) {
			let e = datastore.knownvexfiles[i]
			// historic
			if (vex2time(e.stopvex) < tnow) {
				pcn[0] = e
				continue
			}
			// future
			if (vex2time(e.startvex) > tnow) {
				pcn[2] = e
				break
			}
			// current
			pcn[1] = e
		}
		// no changes
		if (arraysEqual(pcn, this.prevcurnext)) return;
		// save
		this.prevcurnext = pcn;

		if (pcn[1] != undefined) return [pcn[1]];
		if (pcn[2] != undefined) return [pcn[2]];
		if (pcn[0] != undefined) return [pcn[0]];
		return []
	}
}
	
	datastore.onUpdate(function() {
		let visiblevexs = visibleSchedules.get;
		if (visiblevexs != undefined) {
			getSchedules(visiblevexs).then(vexs => generate(vexs));
		}
	});
	datastore.init().done(function() {
			
	});
		
		function generate(vexs) {
			// translate the object to an array for d3
			const dataaslist = vexs.map(vex => {
				const sched = vex.$SCHED
				var prev;
				$.each(sched, function(scannr, scandata) {
					// console.log(scandata)
					if(prev) { // skip the first
						scandata.gapbefore = scandata.start - prev.start
					} else {
						scandata.gapbefore = 0;
					}
					prev = scandata;
				});

				return vex
			});

			// bind data to experiment divs
			var experiments = d3.select("#schedulecontainer")
								.selectAll(".experiment")
								.data(dataaslist, function(d) {return d.filename});
			var newexperiments = experiments.enter().append("div")
											.attr("class","experiment mdl-card mdl-shadow--4dp");
			experiments.exit().remove();

			// insert new experiments
			newexperiments.append("div").attr("class","name")
						  .html("<span class='schedulename'></span> (<span class='filename'></span>)");
			newexperiments.append("div").attr("class","startstop").html("timespan: <span class='start'></span> - <span class='stop'></span>");
			newexperiments.append("div").attr("class","nowline")

			// update experiments
			var fulldateprinter = function(t) {
				var d = new Date(t)
				// console.log(d.toISOString().slice(0,10));
				return d.toISOString().slice(0,10)+" "+d.toISOString().slice(11,19);
			}
			experiments.select(".schedulename").html(function(d){return d.$GLOBAL.exper_name});
			experiments.select(".filename").html(function(d){return d.filename});
			experiments.select(".start").html(function(d){return fulldateprinter(d.$GLOBAL.exper_nominal_start)});
			experiments.select(".stop").html(function(d){return fulldateprinter(d.$GLOBAL.exper_nominal_stop)});

			//////////////////////////////////////
			// update the scans for each exeriment
			var scans = experiments.selectAll(".scan").data(function(d){return Object.entries(d.$SCHED).map(([k, v]) => Object.assign(v, {name: k}))});
			var newscans = scans.enter().append("div").attr("class","scan").attr("id",function(scan) {
				const exper_name = d3.select(this.parentNode).datum().$GLOBAL.exper_name
				return exper_name + "-" + scan.name
			});
			scans.exit().remove();

			// add contents to new scans:
						   newscans.append("div").attr("class","scanid");
			newscans.append("div").attr("class","source");
			newscans.append("div").attr("class","mode");
			newscans.append("div").attr("class","start");
			newscans.append("div").attr("class","stop");
			newscans.append("div").attr("class","stationlist")
					.style("flex-basis",function(d) {
						var obs = d3.select(this.parentNode.parentNode).datum().$STATION;
						var size = 0;
						for (let key in obs) {
							if (obs.hasOwnProperty(key)) size += 50;
						}
						// console.log(size);
						return size+"px";
					});
			newscans.style("height",function(d) {
				var dt = new Date(d.StopTime) - new Date(d.StartTime);
				return (dt/60000*7)+"px"; // 7 pixels per minute
			});

			newscans.each(function(d) {
				var gap = $("<div>");
				gap.insertBefore(this);

				d3.select(gap.get(0)).attr("class","gap")
				  .style("height",function() {return (d.gapbefore/60000*7)+"px";});
			});


			// update contents of scans:
						   var dateprinter = function(t) {
							   var d = new Date(t)
							   return d.toISOString().slice(11,19);
						   }
			scans.select(".scanid").html(function(d){ return d.name});
			scans.select(".source").html(function(d){ return d.source});
			scans.select(".mode").html(function(d){ return d.mode});
			scans.select(".start")
				 .html(function(d){return dateprinter(d.start)})
				 .attr("title",function(d){return fulldateprinter(d.start)});
			scans.select(".stop")
				 .html(function(d){return dateprinter(d.stop)})
				 .attr("title",function(d){return fulldateprinter(d.stop)});


			/////////////////////////////////
			// update stations:
			stations = scans.select(".stationlist").selectAll(".station").data(function(d){return Object.values(d.station).map(v => v.$STATIONkey)});

			stations.exit().remove();
			stations.enter().append("div").attr("class",function(d){return "station "+d});

			stations.html(function(d){return d});
			stations.attr("title",function(d){return d3.select(this.parentNode.parentNode.parentNode).datum().$STATION[d]});

			stations.style("right",function(d) {
				// console.log(this.parentNode.parentNode.parentNode)
				var obs = d3.select(this.parentNode.parentNode.parentNode).datum().$STATION;
				var keys = [];
				for (key in obs) {
					if (obs.hasOwnProperty(key)) keys.push(key);
				}

				return (50*keys.sort().reverse().indexOf(d))+"px";


			});


			///////////////////////////////////////
			// update the current time indicator

			d3.selectAll(".nowline").each(function(d) {
				// console.log(this);
				var now = new Date().getTime();
				var expstart = d.$GLOBAL.exper_nominal_start;
				var expstop = d.$GLOBAL.exper_nominal_stop;

				if(now > expstart && now < expstop) {

					var elapsed = (now - expstart)/60000; // in minutes

					$(this).show();
					var oldtopoffset = $(this).get(0).getBoundingClientRect().top; // the vertical position of the line with respect to the browser viewport
					$(this).css("top",(elapsed*7)+"px");

					// scroll into view
					if( !window.scrolledatleastonce ) { // first time
						window.scrolledatleastonce = true;
						scrollNowLineIntoView(this,50); // scroll to allow 50px top margin
					} else if(oldtopoffset > 0 && oldtopoffset < $("html").height()) { // only when the line is in view
						// scroll along with passing of time
						scrollNowLineIntoView(this,oldtopoffset);
					}
					
				} else {
					$(this).hide();
				}

			});


			function scrollNowLineIntoView(line, extraoffset) {
				var offset = $(line).offset().top;
				offset -= extraoffset; // add some viewing margin
				// console.log("scrolling to "+offset)
				$('body,html').animate({ scrollTop: offset },2000,"easeInOutExpo");
			}
		}
</script>

</body>
</html>
