{{template "docstart"}}

		<title>VLBI Monitor</title>
	<script src="/js/valueresolution.js"></script>
	<script src="/js/vexparser.js"></script>
	<script src="/js/md5.js"></script>
	<script src="/js/datastore2.js"></script>

</head>	
<body>
	{{template "beginlayout" .}}

	<!-- <div class="mdl-grid">
		<div class="mdl-cell mdl-cell--1-col mdl-cell--0-col-tablet mdl-cell--0-col-phone"></div>
		<div class="mdl-cell mdl-card mdl-cell--10-col" style="background: orange; min-height: 0px;">
			<div class="mdl-card__supporting-text" style="color: #ffffff">
				<i class="material-icons" style="position: relative;top:2px;margin-right: 10px; float: left;">warning</i>These settings are saved in a cookie. If you unselect anything it will not be visible ever again on this host until you select it again here (or until your cookie expires)! This is mainly usefull for debugging. 
			</div>
		</div>
		<div class="mdl-cell mdl-cell--1-col"></div>
	</div> -->
	<div class="mdl-grid">
		<div class="mdl-cell--1-col  mdl-cell"></div>
		<div class="mdl-cell--10-col  mdl-cell mdl-card mdl-shadow--3dp">
			<div class="mdl-card__title" style="display: block">
				<h2 class="mdl-card__title-text"><i class="material-icons" style="position: relative;top:2px;margin-right: 5px;">visibility</i> VLBI Monitor settings</h2>
			</div>
			<div class="mdl-card__supporting-text mdl-grid" style="overflow-y: auto;padding-bottom: 50px">
				<div class="mdl-card " style="background: orange; min-height: 0px;width:100%">
					<div class="mdl-card__supporting-text" style="color: #ffffff">
						<i class="material-icons" style="position: relative;top:2px;margin-right: 10px; float: left;">warning</i>These settings are saved in a cookie. If you unselect anything it will not be visible ever again on this host until you select it again here (or until your cookie expires)! This is mainly usefull for debugging. 
					</div>
				</div>
				<div id="obsvisibilitylist" class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
					<h4>Visible observatories</h4>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
					<h4 id="config-schedules">Messaging</h4>
					<div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label" >
						<select class="mdlext-selectfield__select" id="messagingfacility" name="messagingfacility" onchange = "datastore.setFacility(this.value)">
							<option value="undefined">not specified</option>
						</select>
						<label class="mdlext-selectfield__label" for="messagingfacility">Post official status messages for</label>
					</div>
				</div>
				
				<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
					<h4 id="config-schedules">Visible schedules</h4>
					<div id="schedulevisibilitylist"></div>
					<!-- <div class="mdl-grid"> -->
						
					<!-- </div> -->
				</div>
				
				<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
					
					<h4>Overview page</h4>	
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-time">
					  	<input type="checkbox" id="visible-time" name="visible-time" class="mdl-checkbox__input" checked disabled>
					  	<span class="mdl-checkbox__label">Box with clocks</span>
					</label>

					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-schedulesummary">
					  	<input type="checkbox" id="visible-schedulesummary" name="visible-schedulesummary" class="mdl-checkbox__input" checked disabled>
					  	<span class="mdl-checkbox__label">Schedule summary</span>
					</label>

					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-fullschedule">
					  	<input type="checkbox" id="visible-fullschedule" name="visible-fullschedule" class="mdl-checkbox__input" disabled>
					  	<span class="mdl-checkbox__label">Large schedule display</span>
					</label>

					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-celestial">
					  	<input type="checkbox" id="visible-celestial" name="visible-celestial" class="mdl-checkbox__input" disabled>
					  	<span class="mdl-checkbox__label">Large celestial map of the whole sky</span>
					</label>

					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-worldmap">
					  	<input type="checkbox" id="visible-worldmap" name="visible-worldmap" class="mdl-checkbox__input" disabled>
					  	<span class="mdl-checkbox__label">Large map of the world showing baselines</span>
					</label>

					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-horizons">
					  	<input type="checkbox" id="visible-horizons" name="visible-horizons" class="mdl-checkbox__input" checked disabled>
					  	<span class="mdl-checkbox__label">Small horizon plot for each telescope</span>
					</label>

					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-tau">
					  	<input type="checkbox" id="visible-tau" name="visible-tau" class="mdl-checkbox__input" checked disabled>
					  	<span class="mdl-checkbox__label">Plot of opacity (tau225) for each telescope</span>
					</label>

					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="visible-weathermap">
					  	<input type="checkbox" id="visible-weathermap" name="visible-weathermap" class="mdl-checkbox__input" checked disabled>
					  	<span class="mdl-checkbox__label">Weather maps per telescope</span>
					</label>
				</div>
			
			</div>
		</div>
		<div class="mdl-cell--1-col  mdl-cell"></div>
	</div>
	{{template "endlayout"}}

	<!-- <script src="/js/jquery.timeago.js"></script> -->
	<script src="/js/d3.min.js" charset="utf-8"></script>
	<!-- <script src="https://raw.githubusercontent.com/stowball/mqGenie/master/mq.genie.min.js"></script> -->
	<!-- <script src="/js/d3.geo.projection.js" charset="utf-8"></script> -->
	<!-- <script src="/js/celestial.js" charset="utf-8"></script> -->
	<script src="/js/material.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js"></script> -->
	<script src="/js/mdl-ext.min.js"></script>

	<script src="/js/names.js"></script>
	<!-- <script src="/js/coordinates.js"></script> -->
	<script src="/js/vlbi_monitor.js"></script>

	<!-- <script src="/js/vlbi_schedule_drawing_routines.js"></script> -->
	<!-- <script src="/js/vlbi_horizon_drawing_routines.js"></script> -->


	<script type="text/javascript">
		function updateConfigModal() {
			////////////////////////////////////////////
			// update the list of visible observatories
			var list = d3.select("#obsvisibilitylist");
			
			var data = $.map(datastore.metadata,function(metadata,observatoryname){return observatoryname});
			console.log(data)
			var selection = list.selectAll(".observatory-visibility-input").data(data);
			selection.exit().remove();
			// console.log(datastore.visibility.observatories)
			var labels = selection.enter().append("label")
				.attr("class","observatory-visibility-input mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect")
				.attr("for",function(d){return "observatory-visibility-"+d});
			var inputs = labels.append("input")
				.attr("type","checkbox")
				.attr("id",function(d){return "observatory-visibility-"+d})
				.attr("name",function(d){return "observatory-visibility-"+d})
				.attr("class","mdl-checkbox__input")
				.attr("checked",function(d){return datastore.visibility.observatories[d]?true:undefined})
				.on("change",function(d) {
					datastore.visibility.observatories[d] = $(this).is(":checked");
					window.localStorage.setObject("observatoryvisibility", datastore.visibility.observatories);
					// if(datastore.visibility.observatories[d]) {
						// $("#table-"+d).show();
						// datastore.update();
					// } else {
						// $("#table-"+d).hide();
					// }
				});
			labels.append("span")
				.attr("class","mdl-checkbox__label")
				.html(function(d){return d});
			inputs.each(function() {
				componentHandler.upgradeElement(this.parentNode); // this refers to the dom and is set by d3.each
			});


			/////////////////////////////////////////////////
			// update the drop down for facility selection
			var selection = d3.select("#messagingfacility").selectAll("option.facilityname").data(data);
			selection.exit().remove();
			selection.enter().append("option")
				.attr("class","facilityname")
				.attr("value",function(d){return d})
				.attr("selected",function(d){
					if (d == window.localStorage.getItem("messageFacility")) {
						return true;      
					} else {
						return undefined; // make the tag disappear
					}
				})
				.html(function(d){return d});

			// console.log($("#messagingfacility").parent()[0]);
			componentHandler.upgradeElement($("#messagingfacility").parent()[0]);
			


			////////////////////////
			// two helper functions
			function sanitiseFileName(file) {
				var tmp = file.split("/");
				return tmp[tmp.length-1];
			}
			// because of the label for= links unique name/id are very important
			function makeId(d) {
				var input = d.schedule.ScheduleName + d.filename;
				var hash = 0, i, chr;
				
				for (i = 0; i < input.length; i++) {
				    chr   = input.charCodeAt(i);
				    hash  = ((hash << 5) - hash) + chr;
				    hash |= 0; // Convert to 32bit integer
				}

				return "schedule-visibility-"+hash;
			}

			//////////////////////////////////////////////////////////////
			// update the list of possible schedules in the config dialog
			var list = d3.select("#schedulevisibilitylist");
			var data = $.map(datastore.schedules,function(schedule,filename){return {"filename":filename,"schedule":schedule}});
			var selection = list.selectAll(".schedule-visibility-input").data(data);
			selection.exit().remove();
			var labels = selection.enter().append("label")
				.attr("class","schedule-visibility-input mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect")
				.attr("for",makeId);
			// console.log(datastore.visibility.schedules);
			var inputs = labels.append("input")
				.attr("type","checkbox")
				.attr("id",makeId)
				.attr("name",makeId)
				.attr("class","mdl-checkbox__input")
				.attr("checked",function(d){return datastore.visibility.schedules[d.filename]?true:undefined})
				.on("change",function(d) {
					datastore.visibility.schedules[d.filename] = $(this).is(":checked");
					window.localStorage.setObject("schedulevisibility", datastore.visibility.schedules);
					// since visibility may now have changed we need to do a refresh
					// datastore.update();
				});
			labels.append("span")
				.attr("class","mdl-checkbox__label")
				.html(function(d){return d.schedule.ScheduleName+"<span class='filename'> ("+sanitiseFileName(d.filename)+")</span>";});

			// reapply mdl style
			inputs.each(function(a,b) {
				componentHandler.upgradeElement(this.parentNode); // this refers to the dom and is set by d3.each
			});
			
		}

		datastore.onUpdate(function(){updateConfigModal()});
		datastore.init();
	</script>

</body>
