<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="icon" href="img/favicon.png"/>

  <!-- some common styling -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_orange-blue.min.css" />
  <link rel="stylesheet" href="/css/mdl-ext.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css">


  <!-- scripts -->
  <script src="/js/js.cookie.js"></script>
  <script src="/js/d3.min.js" charset="utf-8"></script>
  <script src="/js/d3.geo.projection.min.js" charset="utf-8"></script>
  <script src="/js/names.js"></script>
  <script src="/js/celestial.js" charset="utf-8"></script>
  <!-- <script src="/js/topojson.v1.min.js"></script> -->
  <script src="/js/coordinates.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/vlbi_monitor.js"></script>
  <script src="/js/vlbi_schedule_drawing_routines.js"></script>

  <script>
  $(document).ready(function() {
		  renderUserId("#userid");
		  // renderMenu();
	  });
  </script>
</head>
<body>

{{template "beginlayout" .}}


<div id="celestial"  style="margin: auto;width:90%;"></div>
<div id="celestial2"  style="margin: auto;width:90%;"></div>
<div id="celestial-form"></div>

{{template "endlayout"}}
<script>

	// hardcode these for now
	// right below current source(OJ287)
	var lat = 26
	var lon = -97
	// smto:
	// var lat = 32.70161; 
	// var lon = -109.89124;
	var horizon_map_name = "SMTO";

	// calculate lookat coordinates that will result in a horizontal horizon (looking at 0,0 in AzAlt)
	var geopos = [lat, lon];
	lookat = Celestial.getPoint(Celestial.horizontal.inverse(new Date(), [0, 180], geopos), "equatorial");  // last argument must match config.transform below!!
	// lookat[2] = 90;
	


	var config = { 
		width: 0,           // Default width, 0 = full parent element width; 
						  // height is determined by projection
		projection: "cylindricalEqualArea",    // Map projection used: see below
		transform: "equatorial", // Coordinate transformation: equatorial (default),
							   // ecliptic, galactic, supergalactic
		center: lookat,       // Initial center coordinates in set transform
						  // [longitude, latitude, orientation] all in degrees 
						  // null = default center [0,0,0]
		orientationfixed: true,  // Keep orientation angle the same as center[2]
		adaptable: true,    // Sizes are increased with higher zoom-levels
		interactive: true,  // Enable zooming and rotation with mousewheel and dragging
		form: false,         // Display form for interactive settings
		location: false,    // Display location settings (no center setting on form)
		controls: false,     // Display zoom controls
		container: "celestial",   // ID of parent element, e.g. div, null = html-body
		datapath: "/js/data/",  // Path/URL to data files, empty = subfolder 'data'
		stars: {
			show: true,    // Show stars
			limit: 10,      // Show only stars brighter than limit magnitude
			colors: true,  // Show stars in spectral colors, if not use default color
			style: { fill: "#ffffff", opacity: 1 }, // Style for stars
			names: false,   // Show star names (Bayer, Flamsteed, Variable star, Gliese, 
						 //     whichever applies first in that order)
			proper: false, // Show proper name (if present, above name otherwise)
			desig: false,  // Show all names, including Draper and Hipparcos
			namelimit: 10,  // Show only names/designations for stars brighter than namelimit
			namestyle: { fill: "#ddddbb", font: "11px Georgia, Times, 'Times Roman', serif", 
						 align: "left", baseline: "top" },  // Style for star names
			size: 3,       // Maximum size (radius) of star circle in pixels
			data: 'stars.6.json' // Data source for stellar data, 
								 // number indicates limit magnitude
		},
		dsos: {
			show: true,    // Show Deep Space Objects 
			limit: 10,      // Show only DSOs brighter than limit magnitude
			names: true,   // Show DSO names
			desig: true,   // Show short DSO names
			namestyle: { fill: "#cccccc", font: "11px Helvetica, Arial, serif", 
						 align: "left", baseline: "top" }, // Style for DSO names
			namelimit: 6,  // Show only names for DSOs brighter than namelimit
			data: 'dsos.bright.json', // Data source for DSOs, 
									  // opt. number indicates limit magnitude
			symbols: {  //DSO symbol styles, 'stroke'-parameter present = outline
				gg: {shape: "circle", fill: "#ff0000"},          // Galaxy cluster
				g:  {shape: "ellipse", fill: "#ff0000"},         // Generic galaxy
				s:  {shape: "ellipse", fill: "#ff0000"},         // Spiral galaxy
				s0: {shape: "ellipse", fill: "#ff0000"},         // Lenticular galaxy
				sd: {shape: "ellipse", fill: "#ff0000"},         // Dwarf galaxy
				e:  {shape: "ellipse", fill: "#ff0000"},         // Elliptical galaxy
				i:  {shape: "ellipse", fill: "#ff0000"},         // Irregular galaxy
				oc: {shape: "circle", fill: "#ffcc00", 
				   stroke: "#ffcc00", width: 1.5},             // Open cluster
				gc: {shape: "circle", fill: "#ff9900"},          // Globular cluster
				en: {shape: "square", fill: "#ff00cc"},          // Emission nebula
				bn: {shape: "square", fill: "#ff00cc", 
				   stroke: "#ff00cc", width: 2},               // Generic bright nebula
				sfr:{shape: "square", fill: "#cc00ff", 
				   stroke: "#cc00ff", width: 2},               // Star forming region
				rn: {shape: "square", fill: "#00ooff"},          // Reflection nebula
				pn: {shape: "diamond", fill: "#00cccc"},         // Planetary nebula 
				snr:{shape: "diamond", fill: "#ff00cc"},         // Supernova remnant
				dn: {shape: "square", fill: "#999999", 
				   stroke: "#999999", width: 2},               // Dark nebula grey
				pos:{shape: "diamond", fill: "#cccccc",
				   stroke: "#cccccc", width: 2},              // Generic marker
				calibrator: { shape: "diamond", fill: "#cccccc",
				   stroke: "#cccccc", width: 2},
				source: { shape: "diamond", fill: "#00ff00",
				   stroke: "#00ff00", width: 2}
			}
  		},
		constellations: {
			show: false,    // Show constellations 
			names: true,   // Show constellation names 
			desig: true,   // Show short constellation names (3 letter designations)
			namestyle: { fill:"#cccc99", font: "12px Helvetica, Arial, sans-serif", 
						 align: "center", baseline: "middle" }, // Style for constellations
			lines: true,   // Show constellation lines, style below
			linestyle: { stroke: "#cccccc", width: 1, opacity: 0.6 }, 
			bounds: false, // Show constellation boundaries, style below
			boundstyle: { stroke: "#cccc00", width: 0.5, opacity: 0.8, dash: [2, 4] }
		},
		mw: {
			show: true,     // Show Milky Way as filled multi-polygon outlines 
			style: { fill: "#ffffff", opacity: 0.15 }  // Style for MW
		},
		lines: {  // Display & styles for graticule & some planes
			graticule: { show: true, stroke: "#cccccc", width: 0.6, opacity: 0.8 },   
			equatorial: { show: true, stroke: "#aaaaaa", width: 1.3, opacity: 0.7 },  
			ecliptic: { show: true, stroke: "#66cc66", width: 1.3, opacity: 0.7 },     
			galactic: { show: true, stroke: "#ff7700", width: 1.3, opacity: 0.7 },    
			supergalactic: { show: false, stroke: "#cc66cc", width: 1.3, opacity: 0.7 }
		},
		background: {        // Background style
			fill: "#000000",   // Area fill
			opacity: 1, 
			stroke: "#000000", // Outline
			width: 1 
		}, 
		horizon: {  //Show horizon marker, if location is set and map projection is all-sky
			show: true, 
			width: 1.0, 
			stroke: "rgba(255,0,0,1)", // Line
			fill: "rgba(0,0,0,0.01)", // Area below horizon
			opacity: 0.5
		}
	};

	// Display map with the configuration above
	c1 = makeCelestial();
	c2 = makeCelestial();

	  
	
	// add horizon
	c1.add({
		type: "line", 
		callback: function() { 
			/* 
			  \param az azimuth, measured westward from the north
			  \param alt altitude, positive above the horizon, negative below
			  \param lat observer's latitude, positive if in the northern hemisphere,
					 negative in the southern one

			  \returns H hour angle (e.g. last - alpha where alpha is the right ascension
					 and last the local apparent siderial time)
			  \returns dec declination, positive if north of the celestial equator,
					 negative if south
			  
			 */
			var horizontal2equatorial = function(az, alt, lat, lon) {
				var sinAz = Math.sin(az-Math.PI);
				var cosAz = Math.cos(az-Math.PI);
				var sinLat = Math.sin(lat);
				var cosLat = Math.cos(lat);
				var sinAlt = Math.sin(alt);
				var cosAlt = Math.cos(alt);
				var tanAlt = Math.tan(alt);

				var h = Math.atan2(sinAz, (cosAz * sinLat + tanAlt * cosLat));
				var dec = Math.asin(sinLat * sinAlt - cosLat * cosAlt * cosAz);

				var last = (gast(new Date())*radians + lon);
				var ra  = last-h; 

				return [ra,dec];
			}

			// construct  geojson object for rendering:
			var realhorizon = {
				"type": "Polygon",
				"coordinates": [$.map(horizon_maps[horizon_map_name].reverse(),function(azAlt) {
					
					var tmp = horizontal2equatorial(
						azAlt.az    *radians,
						azAlt.alt   *radians,
						lat         *radians,
						lon         *radians
					);

					// tmp = c1.horizontal.inverse(new Date(), [azAlt.alt,azAlt.az], [lat,lon]);

					return [[   // double array required because polygons are described by lists of lists of points (each list being connected itself but not to the other lists)
						tmp[0]/radians,
						tmp[1]/radians
					]];
				})]
			};

	 
			// draw the actual thing:
			c1.container.append("path")
				.datum(realhorizon)
				.attr("class","realhorizon");
			c1.container.append("path")
				.attr("class","idealhorizon");


		},
		redraw: function() {
			// set style (and start path construction as a side-effect)     
			c1.setStyle({
				show: true, 
				stroke: "#ff0000", // Line
				width: 1.0, 
				fill: "#000000", // Area below horizon
				opacity: 0.75
			});
	   
			// set d path of the element (c1.map is a function that knows to look at the currently bound data. as a side-effect this adds lineto commands to the current context)
			c1.container.selectAll(".realhorizon")
				//  data was set once in the callback above and does not need to change
				.attr("d", c1.map);

			// stroke and fill the paths that have been constructed
			c1.context.fill();    
			c1.context.stroke();    

			// draw the astronomical horizon as well: (mmostly stolen from celestials horizon functionality)
			var circle = d3.geo.circle().angle([90]);
			var zenith = Celestial.getPoint(c1.horizontal.inverse(new Date(), [90, 0], [lat,lon]), c1.settings().transform);
			zenith[2] = 0;
			circle.origin(zenith);
			c1.setStyle({
				show: true, 
				stroke: "#ff0000", // Line
				width: 1.0, 
				opacity: 0.5
			});
			
			c1.container.selectAll(".idealhorizon").datum(circle).attr("d", c1.map);  
			c1.context.stroke();    
		}

	});



	addSchedule(c1 ,config);

	
	c1.display(config);

	
	// c1.rotate({center:lookat, horizon:c1.settings().horizon});

	// rotation = getAngles(cfg.center);
	// c1.projection.rotate({center:lookat, horizon:c1.cfg.horizon});


	

</script>
<script>
	var config2 = { 
	  width: 0,           // Default width, 0 = full parent element width; 
						  // height is determined by projection
	  projection: "aitoff",    // Map projection used: see below
	  transform: "equatorial", // Coordinate transformation: equatorial (default),
							   // ecliptic, galactic, supergalactic
	  center: [0,0,0],       // Initial center coordinates in set transform
						  // [longitude, latitude, orientation] all in degrees 
						  // null = default center [0,0,0]
	  orientationfixed: true,  // Keep orientation angle the same as center[2]
	  adaptable: true,    // Sizes are increased with higher zoom-levels
	  interactive: true,  // Enable zooming and rotation with mousewheel and dragging
	  form: false,         // Display form for interactive settings
	  location: false,    // Display location settings (no center setting on form)
	  controls: false,     // Display zoom controls
	  container: "celestial2",   // ID of parent element, e.g. div, null = html-body
	  datapath: "/js/data/",  // Path/URL to data files, empty = subfolder 'data'
	  stars: {
		show: true,    // Show stars
		limit: 10,      // Show only stars brighter than limit magnitude
		colors: true,  // Show stars in spectral colors, if not use default color
		style: { fill: "#ffffff", opacity: 1 }, // Style for stars
		names: false,   // Show star names (Bayer, Flamsteed, Variable star, Gliese, 
					 //     whichever applies first in that order)
		proper: false, // Show proper name (if present, above name otherwise)
		desig: false,  // Show all names, including Draper and Hipparcos
		namelimit: 10,  // Show only names/designations for stars brighter than namelimit
		namestyle: { fill: "#ddddbb", font: "11px Georgia, Times, 'Times Roman', serif", 
					 align: "left", baseline: "top" },  // Style for star names
		size: 3,       // Maximum size (radius) of star circle in pixels
		data: 'stars.6.json' // Data source for stellar data, 
							 // number indicates limit magnitude
	  },
	  dsos: {
		show: true,    // Show Deep Space Objects 
		limit: 10,      // Show only DSOs brighter than limit magnitude
		names: true,   // Show DSO names
		desig: true,   // Show short DSO names
		namestyle: { fill: "#cccccc", font: "11px Helvetica, Arial, serif", 
					 align: "left", baseline: "top" }, // Style for DSO names
		namelimit: 6,  // Show only names for DSOs brighter than namelimit
		data: 'dsos.bright.json', // Data source for DSOs, 
								  // opt. number indicates limit magnitude
		symbols: {  //DSO symbol styles, 'stroke'-parameter present = outline
		  gg: {shape: "circle", fill: "#ff0000"},          // Galaxy cluster
		  g:  {shape: "ellipse", fill: "#ff0000"},         // Generic galaxy
		  s:  {shape: "ellipse", fill: "#ff0000"},         // Spiral galaxy
		  s0: {shape: "ellipse", fill: "#ff0000"},         // Lenticular galaxy
		  sd: {shape: "ellipse", fill: "#ff0000"},         // Dwarf galaxy
		  e:  {shape: "ellipse", fill: "#ff0000"},         // Elliptical galaxy
		  i:  {shape: "ellipse", fill: "#ff0000"},         // Irregular galaxy
		  oc: {shape: "circle", fill: "#ffcc00", 
			   stroke: "#ffcc00", width: 1.5},             // Open cluster
		  gc: {shape: "circle", fill: "#ff9900"},          // Globular cluster
		  en: {shape: "square", fill: "#ff00cc"},          // Emission nebula
		  bn: {shape: "square", fill: "#ff00cc", 
			   stroke: "#ff00cc", width: 2},               // Generic bright nebula
		  sfr:{shape: "square", fill: "#cc00ff", 
			   stroke: "#cc00ff", width: 2},               // Star forming region
		  rn: {shape: "square", fill: "#00ooff"},          // Reflection nebula
		  pn: {shape: "diamond", fill: "#00cccc"},         // Planetary nebula 
		  snr:{shape: "diamond", fill: "#ff00cc"},         // Supernova remnant
		  dn: {shape: "square", fill: "#999999", 
			   stroke: "#999999", width: 2},               // Dark nebula grey
		  pos:{shape: "diamond", fill: "#cccccc",
			   stroke: "#cccccc", width: 2}              // Generic marker
		}
	  },
	  constellations: {
		show: true,    // Show constellations 
		names: true,   // Show constellation names 
		desig: true,   // Show short constellation names (3 letter designations)
		namestyle: { fill:"#cccc99", font: "12px Helvetica, Arial, sans-serif", 
					 align: "center", baseline: "middle" }, // Style for constellations
		lines: true,   // Show constellation lines, style below
		linestyle: { stroke: "#cccccc", width: 1, opacity: 0.6 }, 
		bounds: false, // Show constellation boundaries, style below
		boundstyle: { stroke: "#cccc00", width: 0.5, opacity: 0.8, dash: [2, 4] }
	  },
	  mw: {
		show: true,     // Show Milky Way as filled multi-polygon outlines 
		style: { fill: "#ffffff", opacity: 0.15 }  // Style for MW
	  },
	  lines: {  // Display & styles for graticule & some planes
		graticule: { show: true, stroke: "#cccccc", width: 0.6, opacity: 0.8 },   
		equatorial: { show: true, stroke: "#aaaaaa", width: 1.3, opacity: 0.7 },  
		ecliptic: { show: true, stroke: "#66cc66", width: 1.3, opacity: 0.7 },     
		galactic: { show: true, stroke: "#ff7700", width: 1.3, opacity: 0.7 },    
		supergalactic: { show: false, stroke: "#cc66cc", width: 1.3, opacity: 0.7 }
	  },
	  background: {        // Background style
		fill: "#000000",   // Area fill
		opacity: 1, 
		stroke: "#000000", // Outline
		width: 1 
	  }, 
	  horizon: {  //Show horizon marker, if location is set and map projection is all-sky
		show: true, 
		stroke: "#ff0000", // Line
		width: 1.0, 
		fill: "#000000", // Area below horizon
		opacity: 0.5
	  }
	};

	// Display map with the configuration above or any subset therof
	

	// c2.display(config2);



	

</script>


</body>
</html>


