{{template "docstart"}}
	<title>VLBI Monitor</title>

	<!-- <script> -->
		 <!-- $(document).ready(function() {renderUserId("#userid"); renderMenu()}); -->
	<!-- </script> -->
	<style>
	.image { 
	   position: relative; 
	   width: 100%; /* for IE 6 */
	}

	h2.tileontauplot { 
	   position: absolute; 
	   top: 0px; 
	   left: 1600px; 
	}
	</style>

	<script src="/js/material.min.js"></script>
</head>

<body>
{{template "beginlayout" .}}

<div class="mdl-grid">
	<div class="mdl-cell--12-col  mdl-cell mdl-card mdl-shadow--3dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">Tau plots:</h2>
		</div>
		<div class="mdl-card mdl-cell mdl-cell--12-col mdl-grid" style="overflow-y: auto;overflow-x: scroll;padding-bottom: 50px; width=100%; margin=0px; padding=0px">
			<div>
				<form style="display:inline">
					Plot Range<select id="plotrangeButton" name="updateSpeedForm"
						onchange = "plotRange.set(this.value)">
					<option value='d2'>+/- 2 days</option>
					<option value='d5'>+/- 5 days</option>
					<option value='d10' selected>+/- 10 days</option>
					</select>
				</form>
			</div>

			<div id="tables">
				{{range $index, $observatory := .Observatories }}
				<p>
				<div class="image">

					<img id='tau_{{$observatory}}' src='' width=1800 height=288 alt='Tau plot'></img>
					<h2 class="tileontauplot"><font size=6> {{$observatory}} </font></h2>

				</div>
				</p>
				{{end}}
			</div>
		</div>
	</div>
</div>

{{template "endlayout"}}

<script>
var plotRange = {
	value: "",
	get: function() {
		v = window.sessionStorage.getItem("plotRange.value");
		if (!v) {v = "d10"};
		this.value = v;
		document.getElementById("plotrangeButton").value = this.value;
		return v;
	},
	set: function(v) {
		var prevval = this.value;
		this.value = v;
		window.sessionStorage.setItem("plotRange.value", this.value);
		{{range $index, $observatory := .Observatories }}
		document.getElementById("tau_{{$observatory}}").src = '/img/plots/tau225.{{$observatory}}.' + this.value + '.wide.png';
		{{end}}
	}
}
plotRange.set(plotRange.get());
</script>

</body>
</html>
